<!-- Back to top -->
<div class="back-top">
	<div class="container">
		<a id="backtop" class="icon-wrap smooth-scroll" href="#"
			><i class="fa fa-angle-up"></i
		></a>
	</div>
</div>
<!-- Back to top end -->

<script src="js/index.js"></script>

<!-- Style switcher - demo only -->
{{> style-switcher-script }}
