<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />

	<meta name="description" content="Responsive Multipurpose Template" />
	<meta name="author" content="" />

	<title>
		{{#if title}} KaiPia - {{title}} {{else}} KaiPia - Responsive Multipurpose
		Template {{/if}}
	</title>

	<!-- Google fonts -->
	<link
		href="https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300%7cOpen+Sans"
		rel="stylesheet"
		type="text/css"
	/>

	<!-- Main style -->
	<link href="css/index.css" rel="stylesheet" media="screen" />

	<!-- Favicon -->
	<link rel="shortcut icon" href="favicon.ico" />

	<!-- Style switcher - demo only -->
	{{> style-switcher-style }}
</head>
