---
layout: base
title: About
permalink: /about.html
---

<!-- About page -->
<div id="about-page" class="page-wrap">
	<!-- Page header -->
	<header class="page-header">
		<div class="container">
			<h2>About Us</h2>

			<ol class="breadcrumb pull-right">
				<li><a href="#">Home</a></li>
				<li class="active">About</li>
			</ol>
		</div>
	</header>

	<!-- About section -->
	<section id="about" class="section-wrap">
		<div class="container">
			<div class="col-md-5 col-sm-6 col-xs-12 pull-right">
				<div class="media-frame">
					<div class="video-wrap">
						<iframe
							src="https://www.youtube.com/embed/mUxzKVrSAjs?si=QEIIrLnnG4DiK9W7"
							width="500"
							height="281"
							style="border: 0"
							allowfullscreen
						></iframe>
					</div>
				</div>
			</div>

			<h3>
				We are full passionate team committed to deliver outstanding work and
				help boost your business growth.
			</h3>

			<br />

			<p>
				Inceptos convallis primis scelerisque etiam, quis id ut in curae; eget
				vivamus Mauris interdum tortor condimentum etiam viverra proin quam
				convallis. Fusce euismod non. Tristique hymenaeos lacus senectus
				consectetuer dapibus ac enim neque id, dolor torquent adipiscing class
				eget aptent class sed odio curabitur dignissim tortor sit netus taciti.
			</p>

			<p>
				Litora parturient aliquet iaculis inceptos. Class sodales. Ligula mattis
				orci venenatis dui at lectus. Hac mollis pellentesque natoque inceptos.
				Dictumst lectus auctor egestas lobortis mi aliquet ligula. Dictumst
				venenatis quisque molestie in risus primis laoreet justo turpis mauris a
				convallis Duis ridiculus.
			</p>

			<p>
				Pulvinar turpis tempus, torquent fusce metus. Metus curae; arcu lacinia
				phasellus euismod class hymenaeos commodo vulputate auctor justo
				accumsan in in lectus, ipsum porta morbi viverra. Consequat adipiscing
				curabitur eleifend. Inceptos felis pretium Eleifend tempor ornare pede.
			</p>

			<p>
				Pharetra nostra augue hac augue cursus eget maecenas metus leo
				suspendisse per euismod class interdum. Aliquet aptent semper parturient
				scelerisque nisl ultrices consequat purus erat hymenaeos. Pretium
				habitant sem convallis fringilla ultrices magna montes vulputate tortor
				fames at non at ultricies posuere lectus enim montes nunc elementum,
				placerat sociosqu nostra lectus egestas mus. Feugiat arcu. Nullam
				blandit dolor fames, varius orci. Augue sociis velit. Aptent iaculis
				nullam nonummy fermentum placerat lacinia facilisi.
			</p>
		</div>
		<!-- .container -->
	</section>
	<!-- About section end -->

	<!-- Team section -->
	<section id="team" class="section-wrap">
		<div class="container">
			<h3 class="heading">Team</h3>

			<div class="row">
				<!-- Team block -->
				<div class="col-md-3 col-sm-3">
					<div class="team-wrap">
						<figure class="team-figure">
							<img src="img/figure/figure-1.jpg" alt="" />
						</figure>

						<h4 class="team-name">John Doe</h4>

						<span class="team-role">Chief Executive</span>

						<p class="team-description">
							Pharetra nostra augue hac augue cursus eget maecenas metus leo
							suspendisse per euismod class interdum.
						</p>

						<ul class="list-inline list-unstyled">
							<li>
								<a href="#" class="icon-wrap twitter-brand"
									><i class="fa fa-twitter"></i
								></a>
							</li>
							<li>
								<a href="#" class="icon-wrap facebook-brand"
									><i class="fa fa-facebook"></i
								></a>
							</li>
							<li>
								<a href="#" class="icon-wrap pinterest-brand"
									><i class="fa fa-pinterest"></i
								></a>
							</li>
						</ul>
					</div>
				</div>
				<!-- Team block end -->

				<!-- Team block -->
				<div class="col-md-3 col-sm-3">
					<div class="team-wrap">
						<figure class="team-figure">
							<img src="img/figure/figure-2.jpg" alt="" />
						</figure>

						<h4 class="team-name">Anita Doe</h4>

						<span class="team-role">Managing Director</span>

						<p class="team-description">
							Pharetra nostra augue hac augue cursus eget maecenas metus leo
							suspendisse per euismod class interdum.
						</p>

						<ul class="list-inline list-unstyled">
							<li>
								<a href="#" class="icon-wrap twitter-brand"
									><i class="fa fa-twitter"></i
								></a>
							</li>
							<li>
								<a href="#" class="icon-wrap facebook-brand"
									><i class="fa fa-facebook"></i
								></a>
							</li>
							<li>
								<a href="#" class="icon-wrap pinterest-brand"
									><i class="fa fa-pinterest"></i
								></a>
							</li>
						</ul>
					</div>
				</div>
				<!-- Team block end -->

				<!-- Team block -->
				<div class="col-md-3 col-sm-3">
					<div class="team-wrap">
						<figure class="team-figure">
							<img src="img/figure/figure-3.jpg" alt="" />
						</figure>

						<h4 class="team-name">Erick Doe</h4>

						<span class="team-role">Senior Designer</span>

						<p class="team-description">
							Pharetra nostra augue hac augue cursus eget maecenas metus leo
							suspendisse per euismod class interdum.
						</p>

						<ul class="list-inline list-unstyled">
							<li>
								<a href="#" class="icon-wrap twitter-brand"
									><i class="fa fa-twitter"></i
								></a>
							</li>
							<li>
								<a href="#" class="icon-wrap facebook-brand"
									><i class="fa fa-facebook"></i
								></a>
							</li>
							<li>
								<a href="#" class="icon-wrap pinterest-brand"
									><i class="fa fa-pinterest"></i
								></a>
							</li>
						</ul>
					</div>
				</div>
				<!-- Team block end -->

				<!-- Team block -->
				<div class="col-md-3 col-sm-3">
					<div class="team-wrap">
						<figure class="team-figure">
							<img src="img/figure/figure-4.jpg" alt="" />
						</figure>

						<h4 class="team-name">Alex Doe</h4>

						<span class="team-role">Lead Programmer</span>

						<p class="team-description">
							Pharetra nostra augue hac augue cursus eget maecenas metus leo
							suspendisse per euismod class interdum.
						</p>

						<ul class="list-inline list-unstyled">
							<li>
								<a href="#" class="icon-wrap twitter-brand"
									><i class="fa fa-twitter"></i
								></a>
							</li>
							<li>
								<a href="#" class="icon-wrap facebook-brand"
									><i class="fa fa-facebook"></i
								></a>
							</li>
							<li>
								<a href="#" class="icon-wrap pinterest-brand"
									><i class="fa fa-pinterest"></i
								></a>
							</li>
						</ul>
					</div>
				</div>
				<!-- Team block end -->
			</div>
			<!-- .row -->
		</div>
		<!-- .container -->
	</section>
	<!-- Team section end -->
</div>
<!-- About page end -->
