---
layout: base
title: Blog
permalink: /blog.html
---

<!-- Blog page -->
<div id="blog-page" class="page-wrap">
	<!-- Page header -->
	<header class="page-header">
		<div class="container">
			<h2>Blog</h2>

			<ol class="breadcrumb pull-right">
				<li><a href="#">Home</a></li>
				<li class="active">Blog</li>
			</ol>
		</div>
	</header>

	<!-- Blog section -->
	<div class="container">
		<div class="row">
			<div class="col-md-8 col-sm-7">
				<!-- Main blog section -->
				<section id="main-blog" class="section-wrap">
					<!-- Blog post -->
					<article class="blog-post">
						<div class="blog-thumbnail">
							<img src="img/thumb/thumb-1.jpg" alt="" />
							<ul class="list-inline blog-meta">
								<li class="meta-time">2 hours ago</li>
								<li class="meta-author">Admin</li>
								<li class="meta-comment"><a href="#">5</a></li>
							</ul>
						</div>

						<h3 class="blog-title">
							<a href="blog-single.html"
								>There's nothing like relaxing with a hot cup of tea</a
							>
						</h3>

						<p>
							Inceptos convallis primis scelerisque etiam, quis id ut in curae;
							eget vivamus Mauris interdum tortor condimentum etiam viverra
							proin quam convallis. Fusce euismod non.
						</p>

						<div class="pull-left">
							<a href="#" class="blog-tag bg-primary">Home</a>
							<a href="#" class="blog-tag bg-primary">Beverage</a>
							<a href="#" class="blog-tag bg-primary">Toxin</a>
						</div>

						<a class="pull-right btn btn-primary" href="blog-single.html"
							>Read more</a
						>
					</article>
					<!-- Blog post end -->

					<!-- Blog post -->
					<article class="blog-post">
						<div class="blog-thumbnail">
							<img src="img/thumb/thumb-2.jpg" alt="" />
							<ul class="list-inline blog-meta">
								<li class="meta-time">1 day ago</li>
								<li class="meta-author">Admin</li>
								<li class="meta-comment"><a href="#">10</a></li>
							</ul>
						</div>

						<h3 class="blog-title">
							<a href="blog-single.html">Vacation to the beach in sunny day</a>
						</h3>

						<div class="blog-content">
							<p>
								Inceptos convallis primis scelerisque etiam, quis id ut in
								curae; eget vivamus Mauris interdum tortor condimentum etiam
								viverra proin quam convallis. Fusce euismod non.
							</p>
						</div>

						<div class="pull-left">
							<a href="#" class="blog-tag bg-primary">Holiday</a>
							<a href="#" class="blog-tag bg-primary">Inspiration</a>
						</div>

						<a class="pull-right btn btn-primary" href="blog-single.html"
							>Read more</a
						>
					</article>
					<!-- Blog post end -->

					<!-- Blog post -->
					<article class="blog-post">
						<div class="blog-thumbnail">
							<img src="img/thumb/thumb-3.jpg" alt="" />
							<ul class="list-inline blog-meta">
								<li class="meta-time">27 March</li>
								<li class="meta-author">Admin</li>
								<li class="meta-comment"><a href="#">15</a></li>
							</ul>
						</div>

						<h3 class="blog-title">
							<a href="blog-single.html"
								>Walk through the alley of uncertainty</a
							>
						</h3>

						<p class="blog-content">
							Inceptos convallis primis scelerisque etiam, quis id ut in curae;
							eget vivamus Mauris interdum tortor condimentum etiam viverra
							proin quam convallis. Fusce euismod non.
						</p>

						<div class="pull-left">
							<a href="#" class="blog-tag bg-primary">Trend</a>
							<a href="#" class="blog-tag bg-primary">Inspiration</a>
						</div>

						<a class="pull-right btn btn-primary" href="blog-single.html"
							>Read more</a
						>
					</article>
					<!-- Blog post end -->

					<!-- Pagination -->
					<ul class="pagination pull-right">
						<li class="disabled">
							<a href="#"><i class="fa fa-angle-left"></i></a>
						</li>
						<li class="active"><a href="#">1</a></li>
						<li><a href="#">2</a></li>
						<li><a href="#">3</a></li>
						<li><a href="#">4</a></li>
						<li><a href="#">5</a></li>
						<li>
							<a href="#"><i class="fa fa-angle-right"></i></a>
						</li>
					</ul>
					<!-- Pagination end -->
				</section>
				<!-- Main blog section end -->

				<hr class="no-line" />
			</div>

			<div class="col-md-4 col-sm-5">
				<!-- Blog sidebar -->
				<aside id="blog-sidebar" class="section-wrap">
					<!-- Blog search -->
					<div class="sidebar-wrap">
						<form class="input-group">
							<input
								type="text"
								class="form-control"
								placeholder="Search article..."
							/>
							<span class="input-group-btn">
								<button class="btn btn-primary" type="button">
									<i class="fa fa-fw fa-search"></i>
								</button>
							</span>
						</form>
					</div>
					<!-- Blog search end -->

					<!-- Recent post -->
					<div class="sidebar-wrap recent-post">
						<h3 class="heading">Recent Posts</h3>

						<ol class="list-unstyled sidebar-list">
							<li>
								<img src="img/thumb/thumb-small-1.jpg" alt="" />
								<a href="#"
									>There's nothing like relaxing with a hot cup of tea</a
								>
								<span>2 hours ago</span>
							</li>

							<li>
								<img src="img/thumb/thumb-small-2.jpg" alt="" />
								<a href="#">Vacation to the beach in sunny day</a>
								<span>1 day ago</span>
							</li>

							<li>
								<img src="img/thumb/thumb-small-3.jpg" alt="" />
								<a href="#">Walk through the alley of uncertainty</a>
								<span>27 March</span>
							</li>
						</ol>
					</div>
					<!-- Recent post end -->

					<!-- Popular post -->
					<div class="sidebar-wrap popular-post">
						<h3 class="heading">Most Popular</h3>

						<ol class="list-unstyled fa-ul sidebar-list">
							<li>
								<i class="fa-li fa fa-angle-right"></i
								><a href="#">Inceptos convallis primis scelerisque etiam</a>
							</li>
							<li>
								<i class="fa-li fa fa-angle-right"></i
								><a href="#"
									>Imperdiet nec nonummy molestie netus quisque mauris platea</a
								>
							</li>
							<li>
								<i class="fa-li fa fa-angle-right"></i
								><a href="#">Dictum interdum integer urna accumsan</a>
							</li>
							<li>
								<i class="fa-li fa fa-angle-right"></i
								><a href="#"
									>Eros senectus penatibus Est a auctor libero odio</a
								>
							</li>
							<li>
								<i class="fa-li fa fa-angle-right"></i
								><a href="#">Dictum interdum integer urna accumsan</a>
							</li>
						</ol>
					</div>
					<!-- Popular post end -->

					<!-- Archives -->
					<div class="sidebar-wrap post-archive">
						<h3 class="heading">Archives</h3>

						<ul class="nav nav-tabs">
							<li class="active">
								<a data-toggle="tab" href="#archive-list-1">2014</a>
							</li>
							<li><a data-toggle="tab" href="#archive-list-2">2013</a></li>
							<li><a data-toggle="tab" href="#archive-list-3">2012</a></li>
						</ul>

						<div class="tab-content">
							<div class="tab-pane active" id="archive-list-1">
								<ol class="list-unstyled sidebar-list">
									<li>
										<a href="#">Maret <span class="badge">2</span></a>
									</li>
									<li>
										<a href="#">February <span class="badge">9</span></a>
									</li>
									<li>
										<a href="#">January <span class="badge">12</span></a>
									</li>
								</ol>
							</div>

							<div class="tab-pane" id="archive-list-2">
								<ol class="list-unstyled sidebar-list">
									<li>
										<a href="#">December <span class="badge">15</span></a>
									</li>
									<li>
										<a href="#">November <span class="badge">7</span></a>
									</li>
									<li>
										<a href="#">October <span class="badge">21</span></a>
									</li>
									<li>
										<a href="#">September <span class="badge">19</span></a>
									</li>
									<li>
										<a href="#">August <span class="badge">20</span></a>
									</li>
									<li>
										<a href="#">July <span class="badge">11</span></a>
									</li>
									<li>
										<a href="#">June <span class="badge">13</span></a>
									</li>
									<li>
										<a href="#">May <span class="badge">14</span></a>
									</li>
									<li>
										<a href="#">April <span class="badge">12</span></a>
									</li>
									<li>
										<a href="#">March <span class="badge">10</span></a>
									</li>
									<li>
										<a href="#">February <span class="badge">16</span></a>
									</li>
									<li>
										<a href="#">January <span class="badge">17</span></a>
									</li>
								</ol>
							</div>

							<div class="tab-pane" id="archive-list-3">
								<ol class="list-unstyled sidebar-list">
									<li>
										<a href="#">December <span class="badge">14</span></a>
									</li>
									<li>
										<a href="#">November <span class="badge">7</span></a>
									</li>
									<li>
										<a href="#">October <span class="badge">20</span></a>
									</li>
									<li>
										<a href="#">September <span class="badge">9</span></a>
									</li>
									<li>
										<a href="#">August <span class="badge">2</span></a>
									</li>
									<li>
										<a href="#">July <span class="badge">1</span></a>
									</li>
									<li>
										<a href="#">June <span class="badge">3</span></a>
									</li>
									<li>
										<a href="#">May <span class="badge">17</span></a>
									</li>
									<li>
										<a href="#">April <span class="badge">10</span></a>
									</li>
									<li>
										<a href="#">March <span class="badge">10</span></a>
									</li>
									<li>
										<a href="#">February <span class="badge">8</span></a>
									</li>
									<li>
										<a href="#">January <span class="badge">5</span></a>
									</li>
								</ol>
							</div>
						</div>
					</div>
					<!-- Archives end -->

					<!-- Tags -->
					<div class="sidebar-wrap post-tags">
						<h3 class="heading">Tags</h3>

						<a href="#" class="blog-tag bg-primary">HTML5</a>
						<a href="#" class="blog-tag bg-primary">CSS3</a>
						<a href="#" class="blog-tag bg-primary">jQuery</a>
						<a href="#" class="blog-tag bg-primary">Responsive Design</a>
						<a href="#" class="blog-tag bg-primary">SEO</a>
						<a href="#" class="blog-tag bg-primary">Market</a>
					</div>
					<!-- Tags end -->
				</aside>
				<!-- Blog sidebar end -->
			</div>
			<!-- .row -->
		</div>
		<!-- .container -->
	</div>
	<!-- Blog section end -->
</div>
<!-- Blog page end -->
