---
layout: base
title: Blog
permalink: /blog-single.html
---

<!-- Blog page -->
<div id="blog-page" class="page-wrap">
	<!-- Page header -->
	<header class="page-header">
		<div class="container">
			<h2>Blog</h2>

			<ol class="breadcrumb pull-right">
				<li><a href="#">Home</a></li>
				<li class="active">Single Blog</li>
			</ol>
		</div>
	</header>

	<!-- Blog section -->
	<div class="container">
		<div class="row">
			<div class="col-md-8 col-sm-7">
				<!-- Single blog section -->
				<section id="main-blog" class="section-wrap">
					<article class="blog-post">
						<div class="blog-thumbnail">
							<img src="img/thumb/thumb-1.jpg" alt="" />
							<ul class="list-inline blog-meta">
								<li class="meta-time">2 hours ago</li>
								<li class="meta-author">Admin</li>
								<li class="meta-comment"><a href="#">5</a></li>
							</ul>
						</div>

						<h3 class="blog-title">
							<a href="blog-single.html"
								>There's nothing like relaxing with a hot cup of tea</a
							>
						</h3>

						<div class="blog-content">
							<p>
								Amet. Lectus magna conubia nisi. Porta facilisis sem vehicula
								pretium tempor vitae conubia rutrum a vestibulum faucibus
								dictumst congue auctor condimentum. Nam. Nascetur sit netus
								nostra nulla molestie porta, tempor pulvinar vivamus, nonummy.
								Hac.
							</p>

							<p>
								Libero nisi sodales pellentesque nunc laoreet viverra
								Scelerisque aptent hymenaeos. Semper tempus magna aliquet
								praesent Faucibus commodo. Justo semper commodo, aptent mollis
								venenatis inceptos proin ad cubilia auctor metus dignissim
								pharetra. Etiam mi vehicula purus nam malesuada sagittis luctus
								ultrices. Turpis ac taciti parturient tellus.
							</p>

							<p>
								Imperdiet platea. Proin mattis dapibus hymenaeos ligula taciti
								laoreet fringilla mattis nascetur at volutpat sodales pede
								litora ipsum. Class molestie integer lacus pulvinar cubilia
								Sollicitudin, neque congue velit. Diam urna condimentum nunc.
							</p>

							<p>
								Magna. Lacinia aptent nibh. Inceptos amet mollis, vel tempor id
								tellus vitae. Amet ridiculus nascetur sagittis nisl metus. Quam
								facilisi enim mi habitant mus in tincidunt, ullamcorper ligula
								quis nisl mus pharetra, rutrum dictum cubilia.
							</p>

							<p>
								Aenean sollicitudin enim faucibus in ad etiam sagittis. Curae;,
								per cubilia aliquam elementum aptent arcu pharetra tincidunt
								volutpat praesent senectus enim vitae orci placerat tempor ut.
								Conubia torquent suspendisse pulvinar consectetuer sit ac mattis
								eros. Mollis libero. Auctor eget tortor Nisl neque sed quis.
								Etiam nec fringilla nisl nunc amet facilisi semper erat
								fringilla.
							</p>
						</div>

						<div class="pull-left">
							<a href="#" class="blog-tag bg-primary">Home</a>
							<a href="#" class="blog-tag bg-primary">Beverage</a>
							<a href="#" class="blog-tag bg-primary">Toxin</a>
						</div>

						<div class="clearfix"></div>

						<hr class="no-line" />

						<ul class="pager">
							<li class="previous disabled">
								<a href="#"><i class="fa fa-angle-left"></i> Older</a>
							</li>
							<li class="next">
								<a href="#">Newer <i class="fa fa-angle-right"></i></a>
							</li>
						</ul>
					</article>

					<!-- Comments -->
					<div id="blog-comment" class="blog-comment">
						<h4 class="heading">4 Comments</h4>

						<!-- Main comment -->
						<div class="media main-comment">
							<div class="pull-left">
								<figure class="media-object comment-author">
									<img src="img/figure/figure-1.jpg" alt="" />
								</figure>
							</div>

							<div class="media-body">
								<header class="media-heading">
									<h5 class="comment-author-name">John Doe</h5>
									<span class="comment-date">26 minutes ago</span>
								</header>

								<div class="comment-content">
									<p>
										Fames lorem. Lorem. Scelerisque at nascetur dictum egestas
										non porta ornare ipsum lobortis dis nostra phasellus
										pharetra parturient sagittis malesuada nam, eleifend massa
										massa Sollicitudin justo.
									</p>

									<a href="#" class="comment-reply">Reply</a>

									<!-- Nested comment -->
									<div class="media nested-comment">
										<div class="pull-left">
											<figure class="media-object comment-author">
												<img src="img/figure/figure-2.jpg" alt="" />
											</figure>
										</div>

										<div class="media-body">
											<header class="media-heading">
												<h5 class="comment-author-name">Anita Doe</h5>
												<span class="comment-date">10 minutes ago</span>
											</header>

											<div class="comment-content">
												<p>
													Accumsan vel imperdiet ornare mi ipsum. Est pharetra,
													faucibus nascetur hac. Odio vivamus.
												</p>
											</div>
										</div>
									</div>

									<!-- Nested comment -->
									<div class="media nested-comment">
										<div class="pull-left">
											<figure class="media-object comment-author">
												<img src="img/figure/figure-3.jpg" alt="" />
											</figure>
										</div>

										<div class="media-body">
											<header class="media-heading">
												<h5 class="comment-author-name">Erick Doe</h5>
												<span class="comment-date">5 minutes ago</span>
											</header>

											<div class="comment-content">
												<p>Mollis magna ut dui quis adipiscing</p>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<!-- Main comment end -->

						<!-- Main comment -->
						<div class="media main-comment">
							<div class="pull-left">
								<figure class="media-object comment-author">
									<img src="img/figure/figure-4.jpg" alt="" />
								</figure>
							</div>

							<div class="media-body">
								<header class="media-heading">
									<h5 class="comment-author-name">Alex Doe</h5>
									<span class="comment-date">1 hour ago</span>
								</header>

								<div class="comment-content">
									<p>
										Turpis luctus ultricies tristique eros turpis. Et vel quam
										ullamcorper urna aliquet congue suscipit fames. Eleifend.
										Phasellus leo iaculis cras.
									</p>

									<a href="#" class="comment-reply" title="Reply">Reply</a>
								</div>
							</div>
						</div>
						<!-- Main comment end -->

						<hr class="no-line" />

						<!-- Blog comment form -->
						<div class="blog-comment-form">
							<h4 class="heading">Leave Comment</h4>

							<form>
								<div class="form-group">
									<label for="name" class="sr-only"></label>
									<input
										id="name"
										type="text"
										class="form-control"
										placeholder="Name"
									/>
								</div>

								<div class="form-group">
									<label for="email" class="sr-only"></label>
									<input
										id="email"
										type="email"
										class="form-control"
										placeholder="Email"
									/>
								</div>

								<div class="form-group">
									<label for="website" class="sr-only"></label>
									<input
										id="website"
										type="text"
										class="form-control"
										placeholder="Website"
									/>
								</div>

								<div class="form-group">
									<textarea
										class="form-control"
										rows="8"
										placeholder="Message"
									></textarea>
								</div>

								<div class="form-group">
									<button type="button" class="btn btn-default pull-right">
										Post Comment
									</button>
								</div>
							</form>
						</div>
						<!-- Blog comment form end -->
					</div>
					<!-- Blog comment end -->
				</section>
				<!-- Single blog section end -->
			</div>

			<div class="col-md-4 col-sm-5">
				<!-- Blog sidebar -->
				<aside id="blog-sidebar" class="section-wrap">
					<!-- Blog search -->
					<div class="sidebar-wrap input-group">
						<input
							type="text"
							class="form-control"
							placeholder="Search article..."
						/>
						<span class="input-group-btn">
							<button class="btn btn-primary" type="button">
								<i class="fa fa-fw fa-search"></i>
							</button>
						</span>
					</div>
					<!-- Blog search end -->

					<!-- Recent post -->
					<div class="sidebar-wrap recent-post">
						<h3 class="heading">Recent Posts</h3>

						<ol class="list-unstyled sidebar-list">
							<li>
								<img src="img/thumb/thumb-small-1.jpg" alt="" />
								<a href="#"
									>There's nothing like relaxing with a hot cup of tea</a
								>
								<span>2 hours ago</span>
							</li>

							<li>
								<img src="img/thumb/thumb-small-2.jpg" alt="" />
								<a href="#">Vacation to the beach in sunny day</a>
								<span>1 day ago</span>
							</li>

							<li>
								<img src="img/thumb/thumb-small-3.jpg" alt="" />
								<a href="#">Walk through the alley of uncertainty</a>
								<span>27 March</span>
							</li>
						</ol>
					</div>
					<!-- Recent post end -->

					<!-- Popular post -->
					<div class="sidebar-wrap popular-post">
						<h3 class="heading">Most Popular</h3>

						<ol class="list-unstyled fa-ul sidebar-list">
							<li>
								<i class="fa-li fa fa-angle-right"></i
								><a href="#">Inceptos convallis primis scelerisque etiam</a>
							</li>
							<li>
								<i class="fa-li fa fa-angle-right"></i
								><a href="#"
									>Imperdiet nec nonummy molestie netus quisque mauris platea</a
								>
							</li>
							<li>
								<i class="fa-li fa fa-angle-right"></i
								><a href="#">Dictum interdum integer urna accumsan</a>
							</li>
							<li>
								<i class="fa-li fa fa-angle-right"></i
								><a href="#"
									>Eros senectus penatibus Est a auctor libero odio</a
								>
							</li>
							<li>
								<i class="fa-li fa fa-angle-right"></i
								><a href="#">Dictum interdum integer urna accumsan</a>
							</li>
						</ol>
					</div>
					<!-- Popular post end -->

					<!-- Archives -->
					<div class="sidebar-wrap post-archive">
						<h3 class="heading">Archives</h3>

						<ul class="nav nav-tabs">
							<li class="active">
								<a data-toggle="tab" href="#archive-list-1">2014</a>
							</li>
							<li><a data-toggle="tab" href="#archive-list-2">2013</a></li>
							<li><a data-toggle="tab" href="#archive-list-3">2012</a></li>
						</ul>

						<div class="tab-content">
							<div class="tab-pane active" id="archive-list-1">
								<ol class="list-unstyled sidebar-list">
									<li>
										<a href="#">Maret <span class="badge">2</span></a>
									</li>
									<li>
										<a href="#">February <span class="badge">9</span></a>
									</li>
									<li>
										<a href="#">January <span class="badge">12</span></a>
									</li>
								</ol>
							</div>

							<div class="tab-pane" id="archive-list-2">
								<ol class="list-unstyled sidebar-list">
									<li>
										<a href="#">December <span class="badge">15</span></a>
									</li>
									<li>
										<a href="#">November <span class="badge">7</span></a>
									</li>
									<li>
										<a href="#">October <span class="badge">21</span></a>
									</li>
									<li>
										<a href="#">September <span class="badge">19</span></a>
									</li>
									<li>
										<a href="#">August <span class="badge">20</span></a>
									</li>
									<li>
										<a href="#">July <span class="badge">11</span></a>
									</li>
									<li>
										<a href="#">June <span class="badge">13</span></a>
									</li>
									<li>
										<a href="#">May <span class="badge">14</span></a>
									</li>
									<li>
										<a href="#">April <span class="badge">12</span></a>
									</li>
									<li>
										<a href="#">March <span class="badge">10</span></a>
									</li>
									<li>
										<a href="#">February <span class="badge">16</span></a>
									</li>
									<li>
										<a href="#">January <span class="badge">17</span></a>
									</li>
								</ol>
							</div>

							<div class="tab-pane" id="archive-list-3">
								<ol class="list-unstyled sidebar-list">
									<li>
										<a href="#">December <span class="badge">14</span></a>
									</li>
									<li>
										<a href="#">November <span class="badge">7</span></a>
									</li>
									<li>
										<a href="#">October <span class="badge">20</span></a>
									</li>
									<li>
										<a href="#">September <span class="badge">9</span></a>
									</li>
									<li>
										<a href="#">August <span class="badge">2</span></a>
									</li>
									<li>
										<a href="#">July <span class="badge">1</span></a>
									</li>
									<li>
										<a href="#">June <span class="badge">3</span></a>
									</li>
									<li>
										<a href="#">May <span class="badge">17</span></a>
									</li>
									<li>
										<a href="#">April <span class="badge">10</span></a>
									</li>
									<li>
										<a href="#">March <span class="badge">10</span></a>
									</li>
									<li>
										<a href="#">February <span class="badge">8</span></a>
									</li>
									<li>
										<a href="#">January <span class="badge">5</span></a>
									</li>
								</ol>
							</div>
						</div>
					</div>
					<!-- Archives end -->

					<!-- Tags -->
					<div class="sidebar-wrap post-tags">
						<h3 class="heading">Tags</h3>

						<a href="#" class="blog-tag bg-primary">HTML5</a>
						<a href="#" class="blog-tag bg-primary">CSS3</a>
						<a href="#" class="blog-tag bg-primary">jQuery</a>
						<a href="#" class="blog-tag bg-primary">Responsive Design</a>
						<a href="#" class="blog-tag bg-primary">SEO</a>
						<a href="#" class="blog-tag bg-primary">Market</a>
					</div>
					<!-- Tags end -->
				</aside>
				<!-- Blog sidebar end -->
			</div>
		</div>
	</div>
</div>
<!-- Blog page end -->
