---
layout: base
bodyAttrs: 'data-spy="scroll" data-target="#doc-nav" data-offset="101"'
title: Elements
permalink: /component.html
---

<!-- Components page -->
<div id="component-page" class="page-wrap">
	<!-- Page header -->
	<header class="page-header">
		<div class="container">
			<h2>Components</h2>

			<ol class="breadcrumb pull-right">
				<li><a href="#">Home</a></li>
				<li>Elements</li>
				<li class="active">Components</li>
			</ol>
		</div>
	</header>

	<!-- Components section -->
	<section id="component" class="section-wrap">
		<div class="container">
			<div class="row">
				<div class="col-md-4 col-sm-4">
					<!-- Navigation -->
					<div id="doc-nav">
						<ul class="list-group nav doc-nav">
							<li class="active">
								<a href="#dropdown" class="list-group-item smooth-scroll"
									>Dropdown</a
								>
							</li>
							<li>
								<a href="#button-group" class="list-group-item smooth-scroll"
									>Button Groups</a
								>
							</li>
							<li>
								<a href="#button-dropdown" class="list-group-item smooth-scroll"
									>Button Dropdowns</a
								>
							</li>
							<li>
								<a href="#input-group" class="list-group-item smooth-scroll"
									>Input Groups</a
								>
							</li>
							<li>
								<a href="#nav" class="list-group-item smooth-scroll">Navs</a>
							</li>
							<li>
								<a href="#breadcrumb" class="list-group-item smooth-scroll"
									>Breadcrumb</a
								>
							</li>
							<li>
								<a href="#pagination" class="list-group-item smooth-scroll"
									>Pagination</a
								>
							</li>
							<li>
								<a href="#label" class="list-group-item smooth-scroll">Label</a>
							</li>
							<li>
								<a href="#badge" class="list-group-item smooth-scroll">Badge</a>
							</li>
							<li>
								<a href="#alert" class="list-group-item smooth-scroll">Alert</a>
							</li>
							<li>
								<a href="#progress-bar" class="list-group-item smooth-scroll"
									>Progress Bar</a
								>
							</li>
							<li>
								<a href="#list-group" class="list-group-item smooth-scroll"
									>List Group</a
								>
							</li>
							<li>
								<a href="#panel" class="list-group-item smooth-scroll">Panel</a>
							</li>
							<li>
								<a href="#well" class="list-group-item smooth-scroll">Well</a>
							</li>
							<li>
								<a href="#callout" class="list-group-item smooth-scroll"
									>Callout</a
								>
							</li>
							<li>
								<a href="#icon" class="list-group-item smooth-scroll">Icon</a>
							</li>
						</ul>
					</div>
				</div>
				<!-- .col- -->

				<div class="col-md-8 col-sm-8">
					<!-- Dropdown -->
					<div id="dropdown" class="doc-wrap">
						<h3 class="heading">Dropdown</h3>

						<div class="doc-inner">
							<p>Basic dropdown style.</p>

							<ul class="nav nav-tabs">
								<li class="active">
									<a data-toggle="tab" href="#dropdown-example">Example</a>
								</li>
							</ul>

							<div class="tab-content">
								<div
									class="tab-pane active"
									id="dropdown-example"
									style="padding-bottom: 150px"
								>
									<div class="dropdown open">
										<button
											class="btn btn-default dropdown-toggle"
											type="button"
											id="dropdownMenu1"
											data-toggle="dropdown"
										>
											Dropdown
											<span class="caret"></span>
										</button>

										<ul class="dropdown-menu">
											<li><a tabindex="-1" href="#">Action</a></li>
											<li><a tabindex="-1" href="#">Another action</a></li>
											<li><a tabindex="-1" href="#">Something else here</a></li>
											<li class="divider"></li>
											<li><a tabindex="-1" href="#">Separated link</a></li>
										</ul>
									</div>
								</div>
							</div>
						</div>
						<!-- .doc-inner -->
					</div>
					<!-- .doc-wrap -->
					<!-- Dropdown end -->

					<!-- Button groups -->
					<div id="button-group" class="doc-wrap">
						<h3 class="heading">Button Groups</h3>

						<div class="doc-inner">
							<p>Nice wrapped buttons.</p>

							<ul class="nav nav-tabs">
								<li class="active">
									<a data-toggle="tab" href="#button-group-example">Example</a>
								</li>
							</ul>

							<div class="tab-content">
								<div class="tab-pane active" id="button-group-example">
									<div class="btn-group">
										<button type="button" class="btn btn-default">Left</button>
										<button type="button" class="btn btn-default">
											Middle
										</button>
										<button type="button" class="btn btn-default">Right</button>
									</div>
								</div>
							</div>

							<hr class="narrow no-line" />

							<!-- Button toolbar -->
							<h4>Button Toolbar</h4>

							<p>Segmented button groups.</p>

							<ul class="nav nav-tabs">
								<li class="active">
									<a data-toggle="tab" href="#button-toolbar-example"
										>Example</a
									>
								</li>
							</ul>

							<div class="tab-content">
								<div class="tab-pane active" id="button-toolbar-example">
									<div class="btn-toolbar">
										<div class="btn-group" style="margin-bottom: 10px">
											<button type="button" class="btn btn-default">1</button>
											<button type="button" class="btn btn-default">2</button>
											<button type="button" class="btn btn-default">3</button>
											<button type="button" class="btn btn-default">4</button>
										</div>
										<div class="btn-group">
											<button type="button" class="btn btn-default">5</button>
											<button type="button" class="btn btn-default">6</button>
											<button type="button" class="btn btn-default">7</button>
										</div>
										<div class="btn-group">
											<button type="button" class="btn btn-default">8</button>
										</div>
									</div>
								</div>
							</div>
							<!-- Button toolbar end-->

							<hr class="narrow no-line" />

							<!-- Button groups sizing -->
							<h4>Sizing</h4>

							<p>Apply button sizing to sets of button groups.</p>

							<ul class="nav nav-tabs">
								<li class="active">
									<a data-toggle="tab" href="#bg-sizing-example">Example</a>
								</li>
							</ul>

							<div class="tab-content">
								<div class="tab-pane active" id="bg-sizing-example">
									<div class="btn-group btn-group-lg">
										<button type="button" class="btn btn-default">Left</button>
										<button type="button" class="btn btn-default">
											Middle
										</button>
										<button type="button" class="btn btn-default">Right</button>
									</div>
									<br />
									<br />
									<div class="btn-group">
										<button type="button" class="btn btn-default">Left</button>
										<button type="button" class="btn btn-default">
											Middle
										</button>
										<button type="button" class="btn btn-default">Right</button>
									</div>
									<br />
									<br />
									<div class="btn-group btn-group-sm">
										<button type="button" class="btn btn-default">Left</button>
										<button type="button" class="btn btn-default">
											Middle
										</button>
										<button type="button" class="btn btn-default">Right</button>
									</div>
									<br />
									<br />
									<div class="btn-group btn-group-xs">
										<button type="button" class="btn btn-default">Left</button>
										<button type="button" class="btn btn-default">
											Middle
										</button>
										<button type="button" class="btn btn-default">Right</button>
									</div>
								</div>
							</div>
							<!-- Button groups sizing end -->

							<hr class="narrow no-line" />

							<!-- Button groups nesting -->
							<h4>Nesting</h4>

							<p>Mix dropdown menus with a series of buttons.</p>

							<ul class="nav nav-tabs">
								<li class="active">
									<a data-toggle="tab" href="#bg-nesting-example">Example</a>
								</li>
							</ul>

							<div class="tab-content">
								<div class="tab-pane active" id="bg-nesting-example">
									<div class="btn-group">
										<button type="button" class="btn btn-default">1</button>
										<button type="button" class="btn btn-default">2</button>

										<div class="btn-group">
											<button
												type="button"
												class="btn btn-default dropdown-toggle"
												data-toggle="dropdown"
											>
												Dropdown
												<span class="caret"></span>
											</button>

											<ul class="dropdown-menu">
												<li><a href="#">Dropdown link</a></li>
												<li><a href="#">Dropdown link</a></li>
											</ul>
										</div>
									</div>
								</div>
							</div>
							<!-- Button groups nesting end -->

							<hr class="narrow no-line" />

							<!-- Vertical variation -->
							<h4>Vertical Variation</h4>

							<p>
								Make a set of buttons appear vertically stacked rather than
								horizontally.
							</p>

							<ul class="nav nav-tabs">
								<li class="active">
									<a data-toggle="tab" href="#bg-vertical-example">Example</a>
								</li>
							</ul>

							<div class="tab-content">
								<div class="tab-pane active" id="bg-vertical-example">
									<div class="btn-group-vertical">
										<button type="button" class="btn btn-default">1</button>
										<button type="button" class="btn btn-default">2</button>

										<div class="btn-group">
											<button
												type="button"
												class="btn btn-default dropdown-toggle"
												data-toggle="dropdown"
											>
												Dropdown
												<span class="caret"></span>
											</button>

											<ul class="dropdown-menu">
												<li><a href="#">Dropdown link</a></li>
												<li><a href="#">Dropdown link</a></li>
											</ul>
										</div>
									</div>
								</div>
							</div>
							<!-- Vertical variation end -->

							<hr class="narrow no-line" />

							<!-- Justified variation -->
							<h4>Justified Variation</h4>

							<p>
								Make a group of buttons stretch at equal sizes to span the
								entire width of its parent.
							</p>

							<ul class="nav nav-tabs">
								<li class="active">
									<a data-toggle="tab" href="#bg-justified-example">Example</a>
								</li>
							</ul>

							<div class="tab-content">
								<div class="tab-pane active" id="bg-justified-example">
									<div class="btn-group btn-group-justified">
										<a class="btn btn-default">1</a>
										<a class="btn btn-default">2</a>
										<a class="btn btn-default">3</a>
									</div>
								</div>
							</div>
							<!-- Justified variation end -->
						</div>
						<!-- .doc-inner -->
					</div>
					<!-- .doc-wrap -->
					<!-- Button groups end -->

					<!-- Button dropdowns -->
					<div id="button-dropdown" class="doc-wrap">
						<h3 class="heading">Button Dropdowns</h3>

						<div class="doc-inner">
							<p>
								Turn a button into a dropdown toggle with some basic markup
								changes.
							</p>

							<ul class="nav nav-tabs">
								<li class="active">
									<a data-toggle="tab" href="#button-dropdown-example"
										>Example</a
									>
								</li>
							</ul>

							<div class="tab-content">
								<div class="tab-pane active" id="button-dropdown-example">
									<div class="btn-group">
										<button
											type="button"
											class="btn btn-default dropdown-toggle"
											style="margin-bottom: 10px"
											data-toggle="dropdown"
										>
											Action <span class="caret"></span>
										</button>
										<ul class="dropdown-menu" role="menu">
											<li><a href="#">Action</a></li>
											<li><a href="#">Another action</a></li>
											<li><a href="#">Something else here</a></li>
											<li class="divider"></li>
											<li><a href="#">Separated link</a></li>
										</ul>
									</div>

									<div class="btn-group">
										<button
											type="button"
											class="btn btn-primary dropdown-toggle"
											style="margin-bottom: 10px"
											data-toggle="dropdown"
										>
											Action <span class="caret"></span>
										</button>
										<ul class="dropdown-menu" role="menu">
											<li><a href="#">Action</a></li>
											<li><a href="#">Another action</a></li>
											<li><a href="#">Something else here</a></li>
											<li class="divider"></li>
											<li><a href="#">Separated link</a></li>
										</ul>
									</div>

									<div class="btn-group">
										<button
											type="button"
											class="btn btn-success dropdown-toggle"
											style="margin-bottom: 10px"
											data-toggle="dropdown"
										>
											Action <span class="caret"></span>
										</button>
										<ul class="dropdown-menu" role="menu">
											<li><a href="#">Action</a></li>
											<li><a href="#">Another action</a></li>
											<li><a href="#">Something else here</a></li>
											<li class="divider"></li>
											<li><a href="#">Separated link</a></li>
										</ul>
									</div>

									<div class="btn-group">
										<button
											type="button"
											class="btn btn-info dropdown-toggle"
											style="margin-bottom: 10px"
											data-toggle="dropdown"
										>
											Action <span class="caret"></span>
										</button>
										<ul class="dropdown-menu" role="menu">
											<li><a href="#">Action</a></li>
											<li><a href="#">Another action</a></li>
											<li><a href="#">Something else here</a></li>
											<li class="divider"></li>
											<li><a href="#">Separated link</a></li>
										</ul>
									</div>

									<div class="btn-group">
										<button
											type="button"
											class="btn btn-warning dropdown-toggle"
											style="margin-bottom: 10px"
											data-toggle="dropdown"
										>
											Action <span class="caret"></span>
										</button>
										<ul class="dropdown-menu" role="menu">
											<li><a href="#">Action</a></li>
											<li><a href="#">Another action</a></li>
											<li><a href="#">Something else here</a></li>
											<li class="divider"></li>
											<li><a href="#">Separated link</a></li>
										</ul>
									</div>

									<div class="btn-group">
										<button
											type="button"
											class="btn btn-danger dropdown-toggle"
											style="margin-bottom: 10px"
											data-toggle="dropdown"
										>
											Action <span class="caret"></span>
										</button>
										<ul class="dropdown-menu" role="menu">
											<li><a href="#">Action</a></li>
											<li><a href="#">Another action</a></li>
											<li><a href="#">Something else here</a></li>
											<li class="divider"></li>
											<li><a href="#">Separated link</a></li>
										</ul>
									</div>
								</div>
							</div>

							<hr class="narrow no-line" />

							<!-- Button split dropdown -->
							<h4>Split Button Dropdowns</h4>

							<p>
								Similarly, create split button dropdowns with the same markup
								changes, only with a separate button.
							</p>

							<ul class="nav nav-tabs">
								<li class="active">
									<a data-toggle="tab" href="#split-dropdown-example"
										>Example</a
									>
								</li>
							</ul>

							<div class="tab-content">
								<div class="tab-pane active" id="split-dropdown-example">
									<div class="btn-group" style="margin-bottom: 10px">
										<button type="button" class="btn btn-default">
											Action
										</button>
										<button
											type="button"
											class="btn btn-default dropdown-toggle"
											data-toggle="dropdown"
										>
											<span class="caret"></span>
											<span class="sr-only">Toggle Dropdown</span>
										</button>
										<ul class="dropdown-menu" role="menu">
											<li><a href="#">Action</a></li>
											<li><a href="#">Another action</a></li>
											<li><a href="#">Something else here</a></li>
											<li class="divider"></li>
											<li><a href="#">Separated link</a></li>
										</ul>
									</div>

									<div class="btn-group" style="margin-bottom: 10px">
										<button type="button" class="btn btn-primary">
											Action
										</button>
										<button
											type="button"
											class="btn btn-primary dropdown-toggle"
											data-toggle="dropdown"
										>
											<span class="caret"></span>
											<span class="sr-only">Toggle Dropdown</span>
										</button>
										<ul class="dropdown-menu" role="menu">
											<li><a href="#">Action</a></li>
											<li><a href="#">Another action</a></li>
											<li><a href="#">Something else here</a></li>
											<li class="divider"></li>
											<li><a href="#">Separated link</a></li>
										</ul>
									</div>

									<div class="btn-group" style="margin-bottom: 10px">
										<button type="button" class="btn btn-success">
											Action
										</button>
										<button
											type="button"
											class="btn btn-success dropdown-toggle"
											data-toggle="dropdown"
										>
											<span class="caret"></span>
											<span class="sr-only">Toggle Dropdown</span>
										</button>
										<ul class="dropdown-menu" role="menu">
											<li><a href="#">Action</a></li>
											<li><a href="#">Another action</a></li>
											<li><a href="#">Something else here</a></li>
											<li class="divider"></li>
											<li><a href="#">Separated link</a></li>
										</ul>
									</div>

									<div class="btn-group" style="margin-bottom: 10px">
										<button type="button" class="btn btn-info">Action</button>
										<button
											type="button"
											class="btn btn-info dropdown-toggle"
											data-toggle="dropdown"
										>
											<span class="caret"></span>
											<span class="sr-only">Toggle Dropdown</span>
										</button>
										<ul class="dropdown-menu" role="menu">
											<li><a href="#">Action</a></li>
											<li><a href="#">Another action</a></li>
											<li><a href="#">Something else here</a></li>
											<li class="divider"></li>
											<li><a href="#">Separated link</a></li>
										</ul>
									</div>

									<div class="btn-group" style="margin-bottom: 10px">
										<button type="button" class="btn btn-warning">
											Action
										</button>
										<button
											type="button"
											class="btn btn-warning dropdown-toggle"
											data-toggle="dropdown"
										>
											<span class="caret"></span>
											<span class="sr-only">Toggle Dropdown</span>
										</button>
										<ul class="dropdown-menu" role="menu">
											<li><a href="#">Action</a></li>
											<li><a href="#">Another action</a></li>
											<li><a href="#">Something else here</a></li>
											<li class="divider"></li>
											<li><a href="#">Separated link</a></li>
										</ul>
									</div>

									<div class="btn-group" style="margin-bottom: 10px">
										<button type="button" class="btn btn-danger">Action</button>
										<button
											type="button"
											class="btn btn-danger dropdown-toggle"
											data-toggle="dropdown"
										>
											<span class="caret"></span>
											<span class="sr-only">Toggle Dropdown</span>
										</button>
										<ul class="dropdown-menu" role="menu">
											<li><a href="#">Action</a></li>
											<li><a href="#">Another action</a></li>
											<li><a href="#">Something else here</a></li>
											<li class="divider"></li>
											<li><a href="#">Separated link</a></li>
										</ul>
									</div>
								</div>
							</div>
							<!-- Button split dropdown end -->

							<hr class="narrow no-line" />

							<!-- Button dropup variation -->
							<h4>Dropup Variation</h4>

							<p>Trigger dropdown menus above elements.</p>

							<ul class="nav nav-tabs">
								<li class="active">
									<a data-toggle="tab" href="#button-dropup-example">Example</a>
								</li>
							</ul>

							<div class="tab-content">
								<div class="tab-pane active" id="button-dropup-example">
									<div class="btn-group dropup">
										<button
											type="button"
											class="btn btn-default dropdown-toggle"
											data-toggle="dropdown"
										>
											Action <span class="caret"></span>
										</button>
										<ul class="dropdown-menu" role="menu">
											<li><a href="#">Action</a></li>
											<li><a href="#">Another action</a></li>
											<li><a href="#">Something else here</a></li>
											<li class="divider"></li>
											<li><a href="#">Separated link</a></li>
										</ul>
									</div>

									<div class="btn-group dropup">
										<button type="button" class="btn btn-primary">
											Action
										</button>
										<button
											type="button"
											class="btn btn-primary dropdown-toggle"
											data-toggle="dropdown"
										>
											<span class="caret"></span>
											<span class="sr-only">Toggle Dropdown</span>
										</button>
										<ul class="dropdown-menu" role="menu">
											<li><a href="#">Action</a></li>
											<li><a href="#">Another action</a></li>
											<li><a href="#">Something else here</a></li>
											<li class="divider"></li>
											<li><a href="#">Separated link</a></li>
										</ul>
									</div>
								</div>
							</div>
							<!-- Button dropup variation end -->
						</div>
						<!-- .doc-inner -->
					</div>
					<!-- .doc-wrap -->
					<!-- Button dropdowns -->

					<!-- Input groups -->
					<div id="input-group" class="doc-wrap">
						<h3 class="heading">Input Groups</h3>

						<div class="doc-inner">
							<p>
								Place one add-on or button on either side of an input. You may
								also place one on both sides of an input.
							</p>

							<ul class="nav nav-tabs">
								<li class="active">
									<a data-toggle="tab" href="#input-group-example">Example</a>
								</li>
							</ul>

							<div class="tab-content">
								<div class="tab-pane active" id="input-group-example">
									<div class="input-group">
										<span class="input-group-addon">@</span>
										<input
											type="text"
											class="form-control"
											placeholder="Username"
										/>
									</div>

									<br /><br />

									<div class="input-group">
										<input type="text" class="form-control" />
										<span class="input-group-addon">.00</span>
									</div>

									<br /><br />

									<div class="input-group">
										<span class="input-group-addon">$</span>
										<input type="text" class="form-control" />
										<span class="input-group-addon">.00</span>
									</div>
								</div>
							</div>

							<hr class="narrow no-line" />

							<!-- Button addons -->
							<h4>Button Addons</h4>

							<p>Buttons in input groups with one extra level of nesting.</p>

							<ul class="nav nav-tabs">
								<li class="active">
									<a data-toggle="tab" href="#button-addon-example">Example</a>
								</li>
							</ul>

							<div class="tab-content">
								<div class="tab-pane active" id="button-addon-example">
									<div class="input-group">
										<span class="input-group-btn">
											<button class="btn btn-default" type="button">Go!</button>
										</span>
										<input type="text" class="form-control" />
									</div>

									<br /><br />

									<div class="input-group">
										<input type="text" class="form-control" />
										<span class="input-group-btn">
											<button class="btn btn-default" type="button">Go!</button>
										</span>
									</div>
								</div>
							</div>
							<!-- Button addons end -->
						</div>
						<!-- .doc-inner -->
					</div>
					<!-- .doc-wrap -->
					<!-- Input groups end -->

					<!-- Navs -->
					<div id="nav" class="doc-wrap">
						<h3 class="heading">Navs</h3>

						<div class="doc-inner">
							<!-- Nav tabs -->
							<h4>Nav Tabs</h4>

							<p>Styled navigation tab.</p>

							<ul class="nav nav-tabs">
								<li class="active">
									<a data-toggle="tab" href="#nav-tab-example">Example</a>
								</li>
							</ul>

							<div class="tab-content">
								<div class="tab-pane active" id="nav-tab-example">
									<ul class="nav nav-tabs">
										<li class="active"><a href="#">Home</a></li>
										<li><a href="#">Profile</a></li>
										<li><a href="#">Messages</a></li>
									</ul>
								</div>
							</div>
							<!-- Nav tabs end -->

							<hr class="no-line narrow" />

							<!-- Nav pills -->
							<h4>Nav Pills</h4>

							<p>Navigation with pills style.</p>

							<ul class="nav nav-tabs">
								<li class="active">
									<a data-toggle="tab" href="#nav-pill-example">Example</a>
								</li>
							</ul>

							<div class="tab-content">
								<div class="tab-pane active" id="nav-pill-example">
									<ul class="nav nav-pills">
										<li class="active"><a href="#">Home</a></li>
										<li><a href="#">Profile</a></li>
										<li><a href="#">Messages</a></li>
									</ul>
								</div>
							</div>
							<!-- Nav pills end -->

							<hr class="no-line narrow" />

							<!-- Nav pills stacked -->
							<h4>Nav Pills Stacked</h4>

							<p>Pills are also vertically stackable.</p>

							<ul class="nav nav-tabs">
								<li class="active">
									<a data-toggle="tab" href="#stacked-pill-example">Example</a>
								</li>
							</ul>

							<div class="tab-content">
								<div class="tab-pane active" id="stacked-pill-example">
									<ul class="nav nav-pills nav-stacked">
										<li class="active"><a href="#">Home</a></li>
										<li><a href="#">Profile</a></li>
										<li><a href="#">Messages</a></li>
									</ul>
								</div>
							</div>
							<!-- Nav pills stacked end -->

							<hr class="no-line narrow" />

							<!-- Nav justified -->
							<h4>Nav Justified</h4>

							<p>Easily make tabs or pills equal widths of their parent.</p>

							<ul class="nav nav-tabs">
								<li class="active">
									<a data-toggle="tab" href="#nav-justified-example">Example</a>
								</li>
							</ul>

							<div class="tab-content">
								<div class="tab-pane active" id="nav-justified-example">
									<ul class="nav nav-tabs nav-justified">
										<li class="active"><a href="#">Home</a></li>
										<li><a href="#">Profile</a></li>
										<li><a href="#">Messages</a></li>
									</ul>

									<br /><br />

									<ul class="nav nav-pills nav-justified">
										<li class="active"><a href="#">Home</a></li>
										<li><a href="#">Profile</a></li>
										<li><a href="#">Messages</a></li>
									</ul>
								</div>
							</div>
							<!-- Nav pills justified end -->
						</div>
						<!-- .doc-inner -->
					</div>
					<!-- .doc-wrap -->
					<!-- Navs end -->

					<!-- Breadcrumb -->
					<div id="breadcrumb" class="doc-wrap">
						<h3 class="heading">Breadcrumb</h3>

						<div class="doc-inner">
							<p>
								Indicate the current page's location within a navigational
								hierarchy.
							</p>

							<ul class="nav nav-tabs">
								<li class="active">
									<a data-toggle="tab" href="#breadcrumb-example">Example</a>
								</li>
							</ul>

							<div class="tab-content">
								<div class="tab-pane active" id="breadcrumb-example">
									<ol class="breadcrumb">
										<li><a href="#">Home</a></li>
										<li><a href="#">Library</a></li>
										<li class="active">Data</li>
									</ol>
								</div>
							</div>
						</div>
						<!-- .doc-inner -->
					</div>
					<!-- .doc-wrap -->
					<!-- Breadcrumb end -->

					<!-- Pagination -->
					<div id="pagination" class="doc-wrap">
						<h3 class="heading">Pagination</h3>

						<div class="doc-inner">
							<p>
								Provide pagination links for your site with the multi-page
								pagination.
							</p>

							<ul class="nav nav-tabs">
								<li class="active">
									<a data-toggle="tab" href="#pagination-example">Example</a>
								</li>
							</ul>

							<div class="tab-content">
								<div class="tab-pane active" id="pagination-example">
									<ul class="pagination">
										<li>
											<a href="#"><i class="fa fa-angle-left"></i></a>
										</li>
										<li><a href="#">1</a></li>
										<li><a href="#">2</a></li>
										<li><a href="#">3</a></li>
										<li><a href="#">4</a></li>
										<li><a href="#">5</a></li>
										<li>
											<a href="#"><i class="fa fa-angle-right"></i></a>
										</li>
									</ul>

									<br />

									<h5>Pagination States</h5>

									<ul class="pagination">
										<li class="disabled">
											<a href="#"><i class="fa fa-angle-left"></i></a>
										</li>
										<li class="active"><a href="#">1</a></li>
										<li><a href="#">2</a></li>
										<li><a href="#">3</a></li>
										<li><a href="#">4</a></li>
										<li><a href="#">5</a></li>
										<li>
											<a href="#"><i class="fa fa-angle-right"></i></a>
										</li>
									</ul>
								</div>
							</div>

							<hr class="no-line narrow" />

							<!-- Pager -->
							<h4>Pager</h4>

							<p>
								Quick previous and next links for simple pagination
								implementations.
							</p>

							<ul class="nav nav-tabs">
								<li class="active">
									<a data-toggle="tab" href="#pager-example">Example</a>
								</li>
							</ul>

							<div class="tab-content">
								<div class="tab-pane active" id="pager-example">
									<ul class="pager">
										<li><a href="#">Previous</a></li>
										<li><a href="#">Next</a></li>
									</ul>

									<ul class="pager">
										<li class="previous disabled">
											<a href="#"><i class="fa fa-angle-left"></i> Older</a>
										</li>
										<li class="next">
											<a href="#">Newer <i class="fa fa-angle-right"></i></a>
										</li>
									</ul>
								</div>
							</div>
							<!-- Pager end -->
						</div>
						<!-- .doc-inner -->
					</div>
					<!-- .doc-wrap -->
					<!-- Pagination end -->

					<!-- Label -->
					<div id="label" class="doc-wrap">
						<h3 class="heading">Label</h3>

						<div class="doc-inner">
							<ul class="nav nav-tabs">
								<li class="active">
									<a data-toggle="tab" href="#label-example">Example</a>
								</li>
							</ul>

							<div class="tab-content">
								<div class="tab-pane active" id="label-example">
									<h1>
										Example heading <span class="label label-primary">New</span>
									</h1>
									<h2>
										Example heading <span class="label label-primary">New</span>
									</h2>
									<h3>
										Example heading <span class="label label-primary">New</span>
									</h3>
									<h4>
										Example heading <span class="label label-primary">New</span>
									</h4>
									<h5>
										Example heading <span class="label label-primary">New</span>
									</h5>
									<h6>
										Example heading <span class="label label-primary">New</span>
									</h6>
								</div>
							</div>

							<hr class="no-line narrow" />

							<!-- Label variations -->
							<h4>Variations</h4>

							<p>
								Add any of the below mentioned modifier classes to change the
								appearance of a label.
							</p>

							<ul class="nav nav-tabs">
								<li class="active">
									<a data-toggle="tab" href="#label-variation-example"
										>Example</a
									>
								</li>
							</ul>

							<div class="tab-content">
								<div class="tab-pane active" id="label-variation-example">
									<span class="label label-default">Default</span>
									<span class="label label-primary">Primary</span>
									<span class="label label-success">Success</span>
									<span class="label label-info">Info</span>
									<span class="label label-warning">Warning</span>
									<span class="label label-danger">Danger</span>
								</div>
							</div>
							<!-- Label variations end -->
						</div>
						<!-- .doc-inner -->
					</div>
					<!-- .doc-wrap -->
					<!-- Label end -->

					<!-- Badge -->
					<div id="badge" class="doc-wrap">
						<h3 class="heading">Badge</h3>

						<div class="doc-inner">
							<p>Easily highlight new or unread items.</p>

							<ul class="nav nav-tabs">
								<li class="active">
									<a data-toggle="tab" href="#badge-example">Example</a>
								</li>
							</ul>

							<div class="tab-content">
								<div class="tab-pane active" id="badge-example">
									<a href="#">Inbox <span class="badge">42</span></a>
								</div>
							</div>

							<hr class="no-line narrow" />

							<!-- Active nav states -->
							<h4>Active Nav States</h4>

							<p>
								Built-in styles are included for placing badges in active states
								in pill navigations.
							</p>

							<ul class="nav nav-tabs">
								<li class="active">
									<a data-toggle="tab" href="#nav-active-example">Example</a>
								</li>
							</ul>

							<div class="tab-content">
								<div class="tab-pane active" id="nav-active-example">
									<ul class="nav nav-pills">
										<li class="active">
											<a href="#"
												><span class="badge pull-right">42</span> Home</a
											>
										</li>
										<li><a href="#">Profile</a></li>
										<li>
											<a href="#"
												><span class="badge pull-right">42</span> Messages</a
											>
										</li>
									</ul>
								</div>
							</div>
							<!-- Active nav states end -->
						</div>
						<!-- .doc-inner -->
					</div>
					<!-- .doc-wrap -->
					<!-- Badge end -->

					<!-- Alert -->
					<div id="alert" class="doc-wrap">
						<h3 class="heading">Alert</h3>

						<div class="doc-inner">
							<p>
								Provide contextual feedback messages for typical user actions
								with the handful of available and flexible alert messages.
							</p>

							<ul class="nav nav-tabs">
								<li class="active">
									<a data-toggle="tab" href="#alert-example">Example</a>
								</li>
							</ul>

							<div class="tab-content">
								<div class="tab-pane active" id="alert-example">
									<div class="alert alert-success">
										<strong>Well done!</strong> You successfully read
										<a href="#" class="alert-link"
											>this important alert message.</a
										>.
									</div>

									<div class="alert alert-info">
										<strong>Heads up!</strong> This
										<a href="#" class="alert-link">alert needs your attention</a
										>, but it's not super important.
									</div>

									<div class="alert alert-warning">
										<strong>Warning!</strong> Better check yourself, you're
										<a href="#" class="alert-link">not looking too good</a>.
									</div>

									<div class="alert alert-danger">
										<strong>Oh snap!</strong>
										<a href="#" class="alert-link">Change a few things up</a>
										and try submitting again.
									</div>
								</div>
							</div>
						</div>
						<!-- .doc-inner -->
					</div>
					<!-- .doc-wrap -->
					<!-- Alert end -->

					<!-- Progress bar -->
					<div id="progress-bar" class="doc-wrap">
						<h3 class="heading">Progress Bar</h3>

						<div class="doc-inner">
							<p>
								Provide up-to-date feedback on the progress of a workflow or
								action with simple yet flexible progress bars.
							</p>

							<ul class="nav nav-tabs">
								<li class="active">
									<a data-toggle="tab" href="#progress-bar-example">Example</a>
								</li>
							</ul>

							<div class="tab-content">
								<div class="tab-pane active" id="progress-bar-example">
									<div class="progress">
										<div
											class="progress-bar"
											role="progressbar"
											aria-valuenow="60"
											aria-valuemin="0"
											aria-valuemax="100"
											style="width: 60%"
										>
											<span class="sr-only">60% Complete</span>
										</div>
									</div>

									<div class="progress">
										<div
											class="progress-bar progress-bar-success"
											role="progressbar"
											aria-valuenow="40"
											aria-valuemin="0"
											aria-valuemax="100"
											style="width: 40%"
										>
											<span class="sr-only">40% Complete (success)</span>
										</div>
									</div>

									<div class="progress">
										<div
											class="progress-bar progress-bar-info"
											role="progressbar"
											aria-valuenow="20"
											aria-valuemin="0"
											aria-valuemax="100"
											style="width: 20%"
										>
											<span class="sr-only">20% Complete</span>
										</div>
									</div>

									<div class="progress progress-striped">
										<div
											class="progress-bar progress-bar-warning"
											role="progressbar"
											aria-valuenow="60"
											aria-valuemin="0"
											aria-valuemax="100"
											style="width: 60%"
										>
											<span class="sr-only">60% Complete (warning)</span>
										</div>
									</div>

									<div class="progress progress-striped active">
										<div
											class="progress-bar progress-bar-danger"
											role="progressbar"
											aria-valuenow="80"
											aria-valuemin="0"
											aria-valuemax="100"
											style="width: 80%"
										>
											<span class="sr-only">80% Complete</span>
										</div>
									</div>
								</div>
							</div>

							<hr class="no-line narrow" />

							<!-- Progress bar size -->
							<h4>Progress Bar Size</h4>

							<p>You maybe want smaller bar sizes.</p>

							<ul class="nav nav-tabs">
								<li class="active">
									<a data-toggle="tab" href="#progress-size-example">Example</a>
								</li>
							</ul>

							<div class="tab-content">
								<div class="tab-pane active" id="progress-size-example">
									<h5>Small Size</h5>

									<div class="progress progress-sm">
										<div
											class="progress-bar"
											role="progressbar"
											aria-valuenow="60"
											aria-valuemin="0"
											aria-valuemax="100"
											style="width: 60%"
										>
											<span class="sr-only">60% Complete</span>
										</div>
									</div>

									<div class="progress progress-sm">
										<div
											class="progress-bar progress-bar-success"
											role="progressbar"
											aria-valuenow="40"
											aria-valuemin="0"
											aria-valuemax="100"
											style="width: 40%"
										>
											<span class="sr-only">40% Complete (success)</span>
										</div>
									</div>

									<div class="progress progress-sm">
										<div
											class="progress-bar progress-bar-info"
											role="progressbar"
											aria-valuenow="20"
											aria-valuemin="0"
											aria-valuemax="100"
											style="width: 20%"
										>
											<span class="sr-only">20% Complete</span>
										</div>
									</div>

									<div class="progress progress-striped progress-sm">
										<div
											class="progress-bar progress-bar-warning"
											role="progressbar"
											aria-valuenow="60"
											aria-valuemin="0"
											aria-valuemax="100"
											style="width: 60%"
										>
											<span class="sr-only">60% Complete (warning)</span>
										</div>
									</div>

									<div class="progress progress-striped active progress-sm">
										<div
											class="progress-bar progress-bar-danger"
											role="progressbar"
											aria-valuenow="80"
											aria-valuemin="0"
											aria-valuemax="100"
											style="width: 80%"
										>
											<span class="sr-only">80% Complete</span>
										</div>
									</div>

									<h5>Extra Small Size</h5>

									<div class="progress progress-xs">
										<div
											class="progress-bar"
											role="progressbar"
											aria-valuenow="60"
											aria-valuemin="0"
											aria-valuemax="100"
											style="width: 60%"
										>
											<span class="sr-only">60% Complete</span>
										</div>
									</div>

									<div class="progress progress-xs">
										<div
											class="progress-bar progress-bar-success"
											role="progressbar"
											aria-valuenow="40"
											aria-valuemin="0"
											aria-valuemax="100"
											style="width: 40%"
										>
											<span class="sr-only">40% Complete (success)</span>
										</div>
									</div>

									<div class="progress progress-xs">
										<div
											class="progress-bar progress-bar-info"
											role="progressbar"
											aria-valuenow="20"
											aria-valuemin="0"
											aria-valuemax="100"
											style="width: 20%"
										>
											<span class="sr-only">20% Complete</span>
										</div>
									</div>

									<div class="progress progress-striped progress-xs">
										<div
											class="progress-bar progress-bar-warning"
											role="progressbar"
											aria-valuenow="60"
											aria-valuemin="0"
											aria-valuemax="100"
											style="width: 60%"
										>
											<span class="sr-only">60% Complete (warning)</span>
										</div>
									</div>

									<div class="progress progress-striped active progress-xs">
										<div
											class="progress-bar progress-bar-danger"
											role="progressbar"
											aria-valuenow="80"
											aria-valuemin="0"
											aria-valuemax="100"
											style="width: 80%"
										>
											<span class="sr-only">80% Complete</span>
										</div>
									</div>
								</div>
							</div>
							<!-- Progress bar size end -->
						</div>
						<!-- .doc-inner -->
					</div>
					<!-- .doc-wrap -->
					<!-- Progress bar end -->

					<!-- List group -->
					<div id="list-group" class="doc-wrap">
						<h3 class="heading">List Group</h3>

						<div class="doc-inner">
							<p>
								The most basic list group is simply an unordered list with list
								items.
							</p>

							<ul class="nav nav-tabs">
								<li class="active">
									<a data-toggle="tab" href="#list-group-example">Example</a>
								</li>
							</ul>

							<div class="tab-content">
								<div class="tab-pane active" id="list-group-example">
									<ul class="list-group">
										<li class="list-group-item">Cras justo odio</li>
										<li class="list-group-item">Dapibus ac facilisis in</li>
										<li class="list-group-item">Morbi leo risus</li>
										<li class="list-group-item">Porta ac consectetur ac</li>
										<li class="list-group-item">Vestibulum at eros</li>
									</ul>
								</div>
							</div>

							<hr class="no-line narrow" />

							<!-- Linked items -->
							<h4>Linked Items</h4>

							<p>
								Linkify list group items by using anchor tags instead of list
								items.
							</p>

							<ul class="nav nav-tabs">
								<li class="active">
									<a data-toggle="tab" href="#linked-item-example">Example</a>
								</li>
							</ul>

							<div class="tab-content">
								<div class="tab-pane active" id="linked-item-example">
									<div class="list-group">
										<a href="#" class="list-group-item active"
											>Cras justo odio</a
										>
										<a href="#" class="list-group-item"
											>Dapibus ac facilisis in</a
										>
										<a href="#" class="list-group-item">Morbi leo risus</a>
										<a href="#" class="list-group-item"
											>Porta ac consectetur ac</a
										>
										<a href="#" class="list-group-item">Vestibulum at eros</a>
									</div>
								</div>
							</div>
							<!-- Linked items end -->

							<hr class="no-line narrow" />

							<!-- List group contextual classes -->
							<h4>Contextual Classes</h4>

							<p>
								Use contextual classes to style list items, default or linked.
							</p>

							<ul class="nav nav-tabs">
								<li class="active">
									<a data-toggle="tab" href="#lg-classes-example">Example</a>
								</li>
							</ul>

							<div class="tab-content">
								<div class="tab-pane active" id="lg-classes-example">
									<div class="row">
										<div class="col-md-6">
											<ul class="list-group">
												<li class="list-group-item list-group-item-success">
													Dapibus ac facilisis in
												</li>
												<li class="list-group-item list-group-item-info">
													Cras sit amet nibh libero
												</li>
												<li class="list-group-item list-group-item-warning">
													Porta ac consectetur ac
												</li>
												<li class="list-group-item list-group-item-danger">
													Vestibulum at eros
												</li>
											</ul>
										</div>

										<div class="col-md-6">
											<div class="list-group">
												<a
													href="#"
													class="list-group-item list-group-item-success"
													>Dapibus ac facilisis in</a
												>
												<a href="#" class="list-group-item list-group-item-info"
													>Cras sit amet nibh libero</a
												>
												<a
													href="#"
													class="list-group-item list-group-item-warning"
													>Porta ac consectetur ac</a
												>
												<a
													href="#"
													class="list-group-item list-group-item-danger"
													>Vestibulum at eros</a
												>
											</div>
										</div>
									</div>
								</div>
							</div>
							<!-- List group contextual classes end -->
						</div>
						<!-- .doc-inner -->
					</div>
					<!-- .doc-wrap -->
					<!-- List group end -->

					<!-- Panel -->
					<div id="panel" class="doc-wrap">
						<h3 class="heading">Panel</h3>

						<div class="doc-inner">
							<p>
								Basic panel with border and padding to contain some content.
							</p>

							<ul class="nav nav-tabs">
								<li class="active">
									<a data-toggle="tab" href="#panel-example">Example</a>
								</li>
							</ul>

							<div class="tab-content">
								<div class="tab-pane active" id="panel-example">
									<div class="panel panel-default">
										<div class="panel-body">Basic panel example</div>
									</div>
								</div>
							</div>

							<hr class="no-line narrow" />

							<!-- Panel with heading and footer -->
							<h4>Panel with Heading and Footer</h4>

							<p>Panel with heading and footer container.</p>

							<ul class="nav nav-tabs">
								<li class="active">
									<a data-toggle="tab" href="#panel-full-example">Example</a>
								</li>
							</ul>

							<div class="tab-content">
								<div class="tab-pane active" id="panel-full-example">
									<div class="panel panel-default">
										<div class="panel-heading">Panel heading without title</div>
										<div class="panel-body">Panel content</div>
										<div class="panel-footer">Panel footer</div>
									</div>
								</div>
							</div>
							<!-- Panel with heading and footer end -->

							<hr class="no-line narrow" />

							<!-- Contexual alternatives -->
							<h4>Contexual Alternatives</h4>

							<p>
								Like other components, easily make a panel more meaningful to a
								particular context by adding any of the contextual state
								classes.
							</p>

							<ul class="nav nav-tabs">
								<li class="active">
									<a data-toggle="tab" href="#panel-contextual-example"
										>Example</a
									>
								</li>
							</ul>

							<div class="tab-content">
								<div class="tab-pane active" id="panel-contextual-example">
									<div class="panel panel-primary">
										<div class="panel-heading">Panel heading without title</div>
										<div class="panel-body">Panel content</div>
									</div>

									<div class="panel panel-success">
										<div class="panel-heading">Panel heading without title</div>
										<div class="panel-body">Panel content</div>
									</div>

									<div class="panel panel-info">
										<div class="panel-heading">Panel heading without title</div>
										<div class="panel-body">Panel content</div>
									</div>

									<div class="panel panel-warning">
										<div class="panel-heading">Panel heading without title</div>
										<div class="panel-body">Panel content</div>
									</div>

									<div class="panel panel-danger">
										<div class="panel-heading">Panel heading without title</div>
										<div class="panel-body">Panel content</div>
									</div>
								</div>
							</div>
							<!-- Contexual alternatives end -->
						</div>
						<!-- .doc-inner -->
					</div>
					<!-- .doc-wrap -->
					<!-- Panel end -->

					<!-- Well -->
					<div id="well" class="doc-wrap">
						<h3 class="heading">Well</h3>

						<div class="doc-inner">
							<p>
								Use the well as a simple effect on an element to give it an
								inset effect.
							</p>

							<ul class="nav nav-tabs">
								<li class="active">
									<a data-toggle="tab" href="#well-example">Example</a>
								</li>
							</ul>

							<div class="tab-content">
								<div class="tab-pane active" id="well-example">
									<div class="well">Look, I'm in a well!</div>

									<h5>Large Well</h5>

									<div class="well well-lg">Look, I'm in a large well!</div>

									<h5>Small Well</h5>

									<div class="well well-sm">Look, I'm in a small well!</div>
								</div>
							</div>
						</div>
						<!-- .doc-inner -->
					</div>
					<!-- .doc-wrap -->
					<!-- Well end -->

					<!-- Callout -->
					<div id="callout" class="doc-wrap">
						<h3 class="heading">Callout</h3>

						<div class="doc-inner">
							<p>
								Wrap content in a callout to attract attention based on
								contextual values.
							</p>

							<ul class="nav nav-tabs">
								<li class="active">
									<a data-toggle="tab" href="#callout-example">Example</a>
								</li>
							</ul>

							<div class="tab-content">
								<div class="tab-pane active" id="callout-example">
									<div class="callout">
										<h4>Title Example</h4>

										<p>
											Lorem ipsum dolor sit amet, consectetur adipiscing elit.
											Integer posuere erat a ante.
										</p>
									</div>

									<div class="callout callout-primary">
										<h4>Title Example</h4>

										<p>
											Lorem ipsum dolor sit amet, consectetur adipiscing elit.
											Integer posuere erat a ante.
										</p>
									</div>

									<div class="callout callout-success">
										<h4>Title Example</h4>

										<p>
											Lorem ipsum dolor sit amet, consectetur adipiscing elit.
											Integer posuere erat a ante.
										</p>
									</div>

									<div class="callout callout-info">
										<h4>Title Example</h4>

										<p>
											Lorem ipsum dolor sit amet, consectetur adipiscing elit.
											Integer posuere erat a ante.
										</p>
									</div>

									<div class="callout callout-warning">
										<h4>Title Example</h4>

										<p>
											Lorem ipsum dolor sit amet, consectetur adipiscing elit.
											Integer posuere erat a ante.
										</p>
									</div>

									<div class="callout callout-danger">
										<h4>Title Example</h4>

										<p>
											Lorem ipsum dolor sit amet, consectetur adipiscing elit.
											Integer posuere erat a ante.
										</p>
									</div>
								</div>
							</div>
						</div>
						<!-- .doc-inner -->
					</div>
					<!-- .doc-wrap -->
					<!-- Callout end -->

					<!-- Icon -->
					<div id="icon" class="doc-wrap">
						<h3 class="heading">Icon</h3>

						<div class="doc-inner">
							<p>
								The icons powered by Font Awesome, one of the best font icon
								choice to use in Bootstrap based web. Font Awesome gives you
								scalable vector icons that can instantly be customized  size,
								color, drop shadow, and anything that can be done with the power
								of CSS. Please refer to the official homepage of
								<a href="http://fontawesome.io/" target="_blank"
									>Font Awesome</a
								>
								for complete documentation of usage, example, and full list of
								icons library.
							</p>

							<ul class="nav nav-tabs">
								<li class="active">
									<a data-toggle="tab" href="#icon-example">Example</a>
								</li>
							</ul>

							<div class="tab-content">
								<div class="tab-pane active" id="icon-example">
									<a class="btn btn-danger" href="#"
										><i class="fa fa-trash-o fa-lg"></i> Delete</a
									><br /><br />
									<a class="btn btn-default btn-sm" href="#"
										><i class="fa fa-cog"></i> Settings</a
									><br /><br />
									<a class="btn btn-lg btn-success" href="#"
										><i class="fa fa-flag fa-2x pull-left"></i> Font Awesome<br />Version
										4.0.3</a
									><br /><br />

									<div class="btn-group">
										<a class="btn btn-default" href="#"
											><i class="fa fa-align-left"></i
										></a>
										<a class="btn btn-default" href="#"
											><i class="fa fa-align-center"></i
										></a>
										<a class="btn btn-default" href="#"
											><i class="fa fa-align-right"></i
										></a>
										<a class="btn btn-default" href="#"
											><i class="fa fa-align-justify"></i
										></a>
									</div>
									<br /><br />

									<div class="input-group margin-bottom-sm">
										<span class="input-group-addon"
											><i class="fa fa-envelope-o fa-fw"></i
										></span>
										<input
											class="form-control"
											type="text"
											placeholder="Email address"
										/>
									</div>
									<br />

									<div class="input-group">
										<span class="input-group-addon"
											><i class="fa fa-key fa-fw"></i
										></span>
										<input
											class="form-control"
											type="password"
											placeholder="Password"
										/>
									</div>
									<br />

									<div class="btn-group">
										<a class="btn btn-primary" href="#"
											><i class="fa fa-user fa-fw"></i> User</a
										>
										<a
											class="btn btn-primary dropdown-toggle"
											data-toggle="dropdown"
											href="#"
											><span class="fa fa-caret-down"></span
										></a>

										<ul class="dropdown-menu">
											<li>
												<a href="#"><i class="fa fa-pencil fa-fw"></i> Edit</a>
											</li>
											<li>
												<a href="#"
													><i class="fa fa-trash-o fa-fw"></i> Delete</a
												>
											</li>
											<li>
												<a href="#"><i class="fa fa-ban fa-fw"></i> Ban</a>
											</li>
											<li class="divider"></li>
											<li>
												<a href="#"><i class="i"></i> Make admin</a>
											</li>
										</ul>
									</div>
								</div>
							</div>

							<hr class="no-line" />

							<!-- Icon wrap -->
							<h4>Icon Wrap</h4>

							<p>Wrap the icons in circle.</p>

							<ul class="nav nav-tabs">
								<li class="active">
									<a data-toggle="tab" href="#icon-wrap-example">Example</a>
								</li>
							</ul>

							<div class="tab-content">
								<div class="tab-pane active" id="icon-wrap-example">
									<ul class="list-unstyled list-inline">
										<li>
											<span class="icon-wrap"
												><i class="fa fa-pencil"></i
											></span>
										</li>
										<li>
											<span class="icon-wrap"
												><i class="fa fa-rocket"></i
											></span>
										</li>
										<li>
											<span class="icon-wrap"><i class="fa fa-star"></i></span>
										</li>
										<li>
											<span class="icon-wrap"
												><i class="fa fa-trash-o"></i
											></span>
										</li>
										<li>
											<span class="icon-wrap"><i class="fa fa-gears"></i></span>
										</li>
									</ul>

									<br />

									<!-- Sizes -->
									<h5>Sizes</h5>

									<ul class="list-unstyled list-inline">
										<li>
											<span class="icon-wrap icon-lg"
												><i class="fa fa-pencil"></i
											></span>
										</li>
										<li>
											<span class="icon-wrap icon-lg"
												><i class="fa fa-rocket"></i
											></span>
										</li>
										<li>
											<span class="icon-wrap icon-lg"
												><i class="fa fa-star"></i
											></span>
										</li>
										<li>
											<span class="icon-wrap icon-lg"
												><i class="fa fa-trash-o"></i
											></span>
										</li>
										<li>
											<span class="icon-wrap icon-lg"
												><i class="fa fa-gears"></i
											></span>
										</li>
									</ul>

									<ul class="list-unstyled list-inline">
										<li>
											<span class="icon-wrap"
												><i class="fa fa-pencil"></i
											></span>
										</li>
										<li>
											<span class="icon-wrap"
												><i class="fa fa-rocket"></i
											></span>
										</li>
										<li>
											<span class="icon-wrap"><i class="fa fa-star"></i></span>
										</li>
										<li>
											<span class="icon-wrap"
												><i class="fa fa-trash-o"></i
											></span>
										</li>
										<li>
											<span class="icon-wrap"><i class="fa fa-gears"></i></span>
										</li>
									</ul>

									<ul class="list-unstyled list-inline">
										<li>
											<span class="icon-wrap icon-sm"
												><i class="fa fa-pencil"></i
											></span>
										</li>
										<li>
											<span class="icon-wrap icon-sm"
												><i class="fa fa-rocket"></i
											></span>
										</li>
										<li>
											<span class="icon-wrap icon-sm"
												><i class="fa fa-star"></i
											></span>
										</li>
										<li>
											<span class="icon-wrap icon-sm"
												><i class="fa fa-trash-o"></i
											></span>
										</li>
										<li>
											<span class="icon-wrap icon-sm"
												><i class="fa fa-gears"></i
											></span>
										</li>
									</ul>

									<br />

									<!-- Link hover -->
									<h5>Link Hover</h5>

									<ul class="list-unstyled list-inline">
										<li>
											<a class="icon-wrap"><i class="fa fa-pencil"></i></a>
										</li>
										<li>
											<a class="icon-wrap"><i class="fa fa-rocket"></i></a>
										</li>
										<li>
											<a class="icon-wrap"><i class="fa fa-star"></i></a>
										</li>
										<li>
											<a class="icon-wrap"><i class="fa fa-trash-o"></i></a>
										</li>
										<li>
											<a class="icon-wrap"><i class="fa fa-gears"></i></a>
										</li>
									</ul>

									<br />

									<!-- Link social brand -->
									<h5>Link Social Brand</h5>

									<ul class="list-unstyled list-inline">
										<li>
											<a
												class="icon-wrap twitter-brand"
												href="#"
												style="margin-bottom: 10px"
												><i class="fa fa-twitter"></i
											></a>
										</li>
										<li>
											<a
												class="icon-wrap facebook-brand"
												href="#"
												style="margin-bottom: 10px"
												><i class="fa fa-facebook"></i
											></a>
										</li>
										<li>
											<a
												class="icon-wrap google-plus-brand"
												href="#"
												style="margin-bottom: 10px"
												><i class="fa fa-google-plus"></i
											></a>
										</li>
										<li>
											<a
												class="icon-wrap youtube-brand"
												href="#"
												style="margin-bottom: 10px"
												><i class="fa fa-youtube"></i
											></a>
										</li>
										<li>
											<a
												class="icon-wrap vimeo-brand"
												href="#"
												style="margin-bottom: 10px"
												><i class="fa fa-vimeo-square"></i
											></a>
										</li>
										<li>
											<a
												class="icon-wrap flickr-brand"
												href="#"
												style="margin-bottom: 10px"
												><i class="fa fa-flickr"></i
											></a>
										</li>
										<li>
											<a
												class="icon-wrap pinterest-brand"
												href="#"
												style="margin-bottom: 10px"
												><i class="fa fa-pinterest"></i
											></a>
										</li>
										<li>
											<a
												class="icon-wrap github-brand"
												href="#"
												style="margin-bottom: 10px"
												><i class="fa fa-github"></i
											></a>
										</li>
										<li>
											<a
												class="icon-wrap tumblr-brand"
												href="#"
												style="margin-bottom: 10px"
												><i class="fa fa-tumblr"></i
											></a>
										</li>
										<li>
											<a
												class="icon-wrap instagram-brand"
												href="#"
												style="margin-bottom: 10px"
												><i class="fa fa-instagram"></i
											></a>
										</li>
										<li>
											<a
												class="icon-wrap skype-brand"
												href="#"
												style="margin-bottom: 10px"
												><i class="fa fa-skype"></i
											></a>
										</li>
										<li>
											<a
												class="icon-wrap foursquare-brand"
												href="#"
												style="margin-bottom: 10px"
												><i class="fa fa-foursquare"></i
											></a>
										</li>
										<li>
											<a
												class="icon-wrap dribbble-brand"
												href="#"
												style="margin-bottom: 10px"
												><i class="fa fa-dribbble"></i
											></a>
										</li>
										<li>
											<a
												class="icon-wrap linkedin-brand"
												href="#"
												style="margin-bottom: 10px"
												><i class="fa fa-linkedin"></i
											></a>
										</li>
									</ul>
								</div>
							</div>
							<!-- Icon wrap end -->
						</div>
						<!-- .doc-inner -->
					</div>
					<!-- .doc-wrap -->
					<!-- Icon end -->
				</div>
				<!-- .col- -->
			</div>
			<!-- .row -->
		</div>
		<!-- .container -->
	</section>
	<!-- Components section end -->
</div>
<!-- Components page end -->
