---
layout: base
bodyAttrs: 'data-spy="scroll" data-target="#doc-nav" data-offset="101"'
title: Elements
permalink: /css.html
---

<!-- CSS page -->
<div id="css-page" class="page-wrap">
	<!-- Page header -->
	<header class="page-header">
		<div class="container">
			<h2>CSS</h2>

			<ol class="breadcrumb pull-right">
				<li><a href="#">Home</a></li>
				<li>Elements</li>
				<li class="active">Css</li>
			</ol>
		</div>
	</header>

	<!-- CSS section -->
	<section id="css" class="section-wrap">
		<div class="container">
			<div class="row">
				<div class="col-md-4 col-sm-4">
					<!-- Navigation -->
					<div id="doc-nav">
						<ul class="list-group nav doc-nav">
							<li class="active">
								<a href="#table" class="list-group-item smooth-scroll"
									>Tables</a
								>
							</li>
							<li>
								<a href="#form" class="list-group-item smooth-scroll">Forms</a>
							</li>
							<li>
								<a href="#button" class="list-group-item smooth-scroll"
									>Buttons</a
								>
							</li>
							<li>
								<a href="#blockquote" class="list-group-item smooth-scroll"
									>Blockquote</a
								>
							</li>
							<li>
								<a
									href="#contextual-color"
									class="list-group-item smooth-scroll"
									>Contextual Color</a
								>
							</li>
							<li>
								<a href="#contextual-bg" class="list-group-item smooth-scroll"
									>Contextual Background</a
								>
							</li>
							<li>
								<a href="#text-size" class="list-group-item smooth-scroll"
									>Text Size</a
								>
							</li>
							<li>
								<a href="#text-shadow" class="list-group-item smooth-scroll"
									>Text Shadow</a
								>
							</li>
						</ul>
					</div>
				</div>
				<!-- .col- -->

				<div class="col-md-8 col-sm-8">
					<!-- Tables -->
					<div id="table" class="doc-wrap">
						<h3 class="heading">Tables</h3>

						<div class="doc-inner">
							<p>Basic styling table.</p>

							<ul class="nav nav-tabs">
								<li class="active">
									<a data-toggle="tab" href="#table-example">Example</a>
								</li>
							</ul>

							<div class="tab-content">
								<div class="tab-pane active" id="table-example">
									<table class="table">
										<thead>
											<tr>
												<th>#</th>
												<th>Table Head</th>
												<th>Table Head</th>
												<th>Table Head</th>
											</tr>
										</thead>

										<tbody>
											<tr>
												<td>1</td>
												<td>Table Content</td>
												<td>Table Content</td>
												<td>Table Content</td>
											</tr>
											<tr>
												<td>2</td>
												<td>Table Content</td>
												<td>Table Content</td>
												<td>Table Content</td>
											</tr>
											<tr>
												<td>3</td>
												<td>Table Content</td>
												<td>Table Content</td>
												<td>Table Content</td>
											</tr>
										</tbody>
									</table>
								</div>
							</div>

							<hr class="narrow no-line" />

							<!-- Striped rows -->
							<h4>Striped Rows</h4>

							<p>Zebra-strip in table rows.</p>

							<ul class="nav nav-tabs">
								<li class="active">
									<a data-toggle="tab" href="#table-striped-example">Example</a>
								</li>
							</ul>

							<div class="tab-content">
								<div class="tab-pane active" id="table-striped-example">
									<table class="table table-striped">
										<thead>
											<tr>
												<th>#</th>
												<th>Table Head</th>
												<th>Table Head</th>
												<th>Table Head</th>
											</tr>
										</thead>

										<tbody>
											<tr>
												<td>1</td>
												<td>Table Content</td>
												<td>Table Content</td>
												<td>Table Content</td>
											</tr>
											<tr>
												<td>2</td>
												<td>Table Content</td>
												<td>Table Content</td>
												<td>Table Content</td>
											</tr>
											<tr>
												<td>3</td>
												<td>Table Content</td>
												<td>Table Content</td>
												<td>Table Content</td>
											</tr>
										</tbody>
									</table>
								</div>
							</div>
							<!-- Striped rows end -->

							<hr class="narrow no-line" />

							<!-- Bordered table -->
							<h4>Bordered Table</h4>

							<p>Borders on all sides of the table and cells.</p>

							<ul class="nav nav-tabs">
								<li class="active">
									<a data-toggle="tab" href="#table-bordered-example"
										>Example</a
									>
								</li>
							</ul>

							<div class="tab-content">
								<div class="tab-pane active" id="table-bordered-example">
									<table class="table table-bordered">
										<thead>
											<tr>
												<th>#</th>
												<th>Table Head</th>
												<th>Table Head</th>
												<th>Table Head</th>
											</tr>
										</thead>

										<tbody>
											<tr>
												<td>1</td>
												<td>Table Content</td>
												<td>Table Content</td>
												<td>Table Content</td>
											</tr>
											<tr>
												<td>2</td>
												<td>Table Content</td>
												<td>Table Content</td>
												<td>Table Content</td>
											</tr>
											<tr>
												<td>3</td>
												<td>Table Content</td>
												<td>Table Content</td>
												<td>Table Content</td>
											</tr>
										</tbody>
									</table>
								</div>
							</div>
							<!-- Bordered table end -->

							<hr class="narrow no-line" />

							<!-- Table hover -->
							<h4>Table Hover</h4>

							<p>Enable a hover state on table rows.</p>

							<ul class="nav nav-tabs">
								<li class="active">
									<a data-toggle="tab" href="#table-hover-example">Example</a>
								</li>
							</ul>

							<div class="tab-content">
								<div class="tab-pane active" id="table-hover-example">
									<table class="table table-hover">
										<thead>
											<tr>
												<th>#</th>
												<th>Table Head</th>
												<th>Table Head</th>
												<th>Table Head</th>
											</tr>
										</thead>

										<tbody>
											<tr>
												<td>1</td>
												<td>Table Content</td>
												<td>Table Content</td>
												<td>Table Content</td>
											</tr>
											<tr>
												<td>2</td>
												<td>Table Content</td>
												<td>Table Content</td>
												<td>Table Content</td>
											</tr>
											<tr>
												<td>3</td>
												<td>Table Content</td>
												<td>Table Content</td>
												<td>Table Content</td>
											</tr>
										</tbody>
									</table>
								</div>
							</div>
							<!-- Table hover end -->

							<hr class="narrow no-line" />

							<!-- Table condensed -->
							<h4>Table Condensed</h4>

							<p>Table with more compact by cutting cell padding in half.</p>

							<ul class="nav nav-tabs">
								<li class="active">
									<a data-toggle="tab" href="#table-condensed-example"
										>Example</a
									>
								</li>
							</ul>

							<div class="tab-content">
								<div class="tab-pane active" id="table-condensed-example">
									<table class="table table-condensed">
										<thead>
											<tr>
												<th>#</th>
												<th>Table Head</th>
												<th>Table Head</th>
												<th>Table Head</th>
											</tr>
										</thead>

										<tbody>
											<tr>
												<td>1</td>
												<td>Table Content</td>
												<td>Table Content</td>
												<td>Table Content</td>
											</tr>
											<tr>
												<td>2</td>
												<td>Table Content</td>
												<td>Table Content</td>
												<td>Table Content</td>
											</tr>
											<tr>
												<td>3</td>
												<td>Table Content</td>
												<td>Table Content</td>
												<td>Table Content</td>
											</tr>
										</tbody>
									</table>
								</div>
							</div>
							<!-- Table condensed end -->

							<hr class="narrow no-line" />

							<!-- Contextual classes -->
							<h4>Contextual Classes</h4>

							<p>
								Use contextual classes to color table rows or individual cells.
							</p>

							<ul class="nav nav-tabs">
								<li class="active">
									<a data-toggle="tab" href="#contextual-classes-example"
										>Example</a
									>
								</li>
							</ul>

							<div class="tab-content">
								<div class="tab-pane active" id="contextual-classes-example">
									<table class="table">
										<thead>
											<tr>
												<th>#</th>
												<th>Table Head</th>
												<th>Table Head</th>
												<th>Table Head</th>
											</tr>
										</thead>

										<tbody>
											<tr class="active">
												<td>1</td>
												<td>Table Content</td>
												<td>Table Content</td>
												<td>Table Content</td>
											</tr>
											<tr>
												<td>2</td>
												<td>Table Content</td>
												<td>Table Content</td>
												<td>Table Content</td>
											</tr>
											<tr class="success">
												<td>3</td>
												<td>Table Content</td>
												<td>Table Content</td>
												<td>Table Content</td>
											</tr>
											<tr>
												<td>4</td>
												<td>Table Content</td>
												<td>Table Content</td>
												<td>Table Content</td>
											</tr>
											<tr class="danger">
												<td>5</td>
												<td>Table Content</td>
												<td>Table Content</td>
												<td>Table Content</td>
											</tr>
											<tr>
												<td>6</td>
												<td>Table Content</td>
												<td>Table Content</td>
												<td>Table Content</td>
											</tr>
											<tr class="warning">
												<td>7</td>
												<td>Table Content</td>
												<td>Table Content</td>
												<td>Table Content</td>
											</tr>
											<tr>
												<td>8</td>
												<td>Table Content</td>
												<td>Table Content</td>
												<td>Table Content</td>
											</tr>
											<tr class="info">
												<td>9</td>
												<td>Table Content</td>
												<td>Table Content</td>
												<td>Table Content</td>
											</tr>
										</tbody>
									</table>
								</div>
							</div>
							<!-- Contextual classes end-->
						</div>
						<!-- .doc-inner -->
					</div>
					<!-- .doc-wrap -->
					<!-- Tables end -->

					<!-- Forms -->
					<div id="form" class="doc-wrap">
						<h3 class="heading">Forms</h3>

						<div class="doc-inner">
							<!-- Input -->
							<h4>Input</h4>

							<p>Basic <code>&lt;input&gt;</code> style.</p>

							<ul class="nav nav-tabs">
								<li class="active">
									<a data-toggle="tab" href="#input-example">Example</a>
								</li>
							</ul>

							<div class="tab-content">
								<div class="tab-pane active" id="input-example">
									<input type="text" class="form-control" placeholder="Input" />
								</div>
							</div>
							<!-- Input end-->

							<hr class="narrow no-line" />

							<!-- Textarea -->
							<h4>Textarea</h4>

							<p>Basic <code>&lt;textarea&gt;</code> style.</p>

							<ul class="nav nav-tabs">
								<li class="active">
									<a data-toggle="tab" href="#textarea-example">Example</a>
								</li>
							</ul>

							<div class="tab-content">
								<div class="tab-pane active" id="textarea-example">
									<textarea
										class="form-control"
										placeholder="Textarea"
										rows="3"
									></textarea>
								</div>
							</div>
							<!-- Textarea end-->

							<hr class="narrow no-line" />

							<!-- Checkboxes and radios -->
							<h4>Checkboxes and Radios</h4>

							<p>Checkboxes and radios</p>

							<ul class="nav nav-tabs">
								<li class="active">
									<a data-toggle="tab" href="#cbrd-example">Example</a>
								</li>
							</ul>

							<div class="tab-content">
								<div class="tab-pane active" id="cbrd-example">
									<div class="checkbox">
										<label>
											<input type="checkbox" value="" /> Option one is this and
											that&mdash;be sure to include why it's great
										</label>
									</div>

									<div class="radio">
										<label>
											<input
												type="radio"
												name="optionsRadios"
												id="optionsRadios1"
												value="option1"
												checked
											/>
											Option one is this and that&mdash;be sure to include why
											it's great
										</label>
									</div>

									<div class="radio">
										<label>
											<input
												type="radio"
												name="optionsRadios"
												id="optionsRadios2"
												value="option2"
											/>
											Option two can be something else and selecting it will
											deselect option one
										</label>
									</div>
								</div>
							</div>
							<!-- Checkboxes and radios end -->

							<hr class="narrow no-line" />

							<!-- Select -->
							<h4>Select</h4>

							<p>Default and multiple <code>&lt;select&gt;</code> style.</p>

							<ul class="nav nav-tabs">
								<li class="active">
									<a data-toggle="tab" href="#select-example">Example</a>
								</li>
							</ul>

							<div class="tab-content">
								<div class="tab-pane active" id="select-example">
									<select class="form-control">
										<option>1</option>
										<option>2</option>
										<option>3</option>
										<option>4</option>
										<option>5</option>
									</select>

									<br />

									<select multiple class="form-control">
										<option>1</option>
										<option>2</option>
										<option>3</option>
										<option>4</option>
										<option>5</option>
									</select>
								</div>
							</div>
							<!-- Select end -->

							<hr class="narrow no-line" />

							<!-- Validation states -->
							<h4>Validation states</h4>

							<p>Validation form with feedback icon.</p>

							<ul class="nav nav-tabs">
								<li class="active">
									<a data-toggle="tab" href="#validation-example">Example</a>
								</li>
							</ul>

							<div class="tab-content">
								<div class="tab-pane active" id="validation-example">
									<div class="form-group has-success has-feedback">
										<label class="control-label" for="inputSuccess2"
											>Input with success</label
										>
										<input
											type="text"
											class="form-control"
											id="inputSuccess2"
										/>
										<span class="fa fa-check form-control-feedback"></span>
									</div>

									<div class="form-group has-warning has-feedback">
										<label class="control-label" for="inputWarning2"
											>Input with warning</label
										>
										<input
											type="text"
											class="form-control"
											id="inputWarning2"
										/>
										<span class="fa fa-warning form-control-feedback"></span>
									</div>

									<div class="form-group has-error has-feedback">
										<label class="control-label" for="inputError2"
											>Input with error</label
										>
										<input type="text" class="form-control" id="inputError2" />
										<span class="fa fa-times form-control-feedback"></span>
									</div>
								</div>
							</div>
							<!-- Validation states end -->
						</div>
						<!-- .doc-inner -->
					</div>
					<!-- .doc-wrap -->
					<!-- Forms end -->

					<!-- Buttons -->
					<div id="button" class="doc-wrap">
						<h3 class="heading">Buttons</h3>

						<p>Some available button style.</p>

						<div class="doc-inner">
							<ul class="nav nav-tabs">
								<li class="active">
									<a data-toggle="tab" href="#button-example">Example</a>
								</li>
							</ul>

							<div class="tab-content">
								<div class="tab-pane active" id="button-example">
									<button
										type="button"
										class="btn btn-default"
										style="margin-bottom: 10px"
									>
										Default
									</button>
									<button
										type="button"
										class="btn btn-primary"
										style="margin-bottom: 10px"
									>
										Primary
									</button>
									<button
										type="button"
										class="btn btn-success"
										style="margin-bottom: 10px"
									>
										Success
									</button>
									<button
										type="button"
										class="btn btn-info"
										style="margin-bottom: 10px"
									>
										Info
									</button>
									<button
										type="button"
										class="btn btn-warning"
										style="margin-bottom: 10px"
									>
										Warning
									</button>
									<button
										type="button"
										class="btn btn-danger"
										style="margin-bottom: 10px"
									>
										Danger
									</button>
									<button
										type="button"
										class="btn btn-link"
										style="margin-bottom: 10px"
									>
										Link
									</button>
									<button
										type="button"
										class="btn btn-inverse"
										style="margin-bottom: 10px"
									>
										Inverse
									</button>
								</div>
							</div>

							<hr class="narrow no-line" />

							<!-- Button sizes -->
							<h4>Button sizes</h4>

							<p>Additional button sizes.</p>

							<ul class="nav nav-tabs">
								<li class="active">
									<a data-toggle="tab" href="#button-size-example">Example</a>
								</li>
							</ul>

							<div class="tab-content">
								<div class="tab-pane active" id="button-size-example">
									<p>
										<button type="button" class="btn btn-primary btn-lg">
											Large button
										</button>
										<button type="button" class="btn btn-default btn-lg">
											Large button
										</button>
									</p>

									<p>
										<button type="button" class="btn btn-primary">
											Default button
										</button>
										<button type="button" class="btn btn-default">
											Default button
										</button>
									</p>

									<p>
										<button type="button" class="btn btn-primary btn-sm">
											Small button
										</button>
										<button type="button" class="btn btn-default btn-sm">
											Small button
										</button>
									</p>

									<p>
										<button type="button" class="btn btn-primary btn-xs">
											Extra small button
										</button>
										<button type="button" class="btn btn-default btn-xs">
											Extra small button
										</button>
									</p>
								</div>
							</div>
							<!-- Button sizes end -->

							<hr class="narrow no-line" />

							<!-- Block level button -->
							<h4>Block Level Button</h4>

							<p>Buttons span the full width of a parent.</p>

							<ul class="nav nav-tabs">
								<li class="active">
									<a data-toggle="tab" href="#button-block-example">Example</a>
								</li>
							</ul>

							<div class="tab-content">
								<div class="tab-pane active" id="button-block-example">
									<button
										type="button"
										class="btn btn-primary btn-lg btn-block"
									>
										Block level button
									</button>
									<button
										type="button"
										class="btn btn-default btn-lg btn-block"
									>
										Block level button
									</button>
								</div>
							</div>
							<!-- Block level button end -->
						</div>
						<!-- .doc-inner -->
					</div>
					<!-- .doc-wrap -->
					<!-- Buttons -->

					<!-- Blockquote -->
					<div id="blockquote" class="doc-wrap">
						<h3 class="heading">Blockquote</h3>

						<div class="doc-inner">
							<p>Blockquote with contextual style.</p>

							<ul class="nav nav-tabs">
								<li class="active">
									<a data-toggle="tab" href="#blockquote-example">Example</a>
								</li>
							</ul>

							<div class="tab-content">
								<div class="tab-pane active" id="blockquote-example">
									<blockquote>
										<p>
											Lorem ipsum dolor sit amet, consectetur adipiscing elit.
											Integer posuere erat a ante.
										</p>
										<footer>
											Someone famous in
											<cite title="Source Title">Source Title</cite>
										</footer>
									</blockquote>

									<blockquote class="bq-primary">
										<p>
											Lorem ipsum dolor sit amet, consectetur adipiscing elit.
											Integer posuere erat a ante.
										</p>
										<footer>
											Someone famous in
											<cite title="Source Title">Source Title</cite>
										</footer>
									</blockquote>

									<blockquote class="bq-success">
										<p>
											Lorem ipsum dolor sit amet, consectetur adipiscing elit.
											Integer posuere erat a ante.
										</p>
										<footer>
											Someone famous in
											<cite title="Source Title">Source Title</cite>
										</footer>
									</blockquote>

									<blockquote class="bq-info">
										<p>
											Lorem ipsum dolor sit amet, consectetur adipiscing elit.
											Integer posuere erat a ante.
										</p>
										<footer>
											Someone famous in
											<cite title="Source Title">Source Title</cite>
										</footer>
									</blockquote>

									<blockquote class="bq-warning">
										<p>
											Lorem ipsum dolor sit amet, consectetur adipiscing elit.
											Integer posuere erat a ante.
										</p>
										<footer>
											Someone famous in
											<cite title="Source Title">Source Title</cite>
										</footer>
									</blockquote>

									<blockquote class="bq-danger">
										<p>
											Lorem ipsum dolor sit amet, consectetur adipiscing elit.
											Integer posuere erat a ante.
										</p>
										<footer>
											Someone famous in
											<cite title="Source Title">Source Title</cite>
										</footer>
									</blockquote>
								</div>
							</div>
						</div>
						<!-- .doc-inner -->
					</div>
					<!-- .doc-wrap -->
					<!-- Blockquote end -->

					<!-- Contextual color -->
					<div id="contextual-color" class="doc-wrap">
						<h3 class="heading">Contextual Color</h3>

						<p>
							Convey meaning through color with a handful of emphasis utility
							classes.
						</p>

						<div class="doc-inner">
							<ul class="nav nav-tabs">
								<li class="active">
									<a data-toggle="tab" href="#contextual-color-example"
										>Example</a
									>
								</li>
							</ul>

							<div class="tab-content">
								<div class="tab-pane active" id="contextual-color-example">
									<p class="text-muted">
										Fusce dapibus, tellus ac cursus commodo, tortor mauris nibh.
									</p>
									<p class="text-primary">
										Nullam id dolor id nibh ultricies vehicula ut id elit.
									</p>
									<p class="text-success">
										Duis mollis, est non commodo luctus, nisi erat porttitor
										ligula.
									</p>
									<p class="text-info">
										Maecenas sed diam eget risus varius blandit sit amet non
										magna.
									</p>
									<p class="text-warning">
										Etiam porta sem malesuada magna mollis euismod.
									</p>
									<p class="text-danger">
										Donec ullamcorper nulla non metus auctor fringilla.
									</p>
									<p class="text-white" style="background: #333; padding: 5px">
										Donec ullamcorper nulla non metus auctor fringilla.
									</p>
								</div>
							</div>
						</div>
					</div>
					<!-- Contextual color end -->

					<!-- Contextual background -->
					<div id="contextual-bg" class="doc-wrap">
						<h3 class="heading">Contextual Background</h3>

						<div class="doc-inner">
							<p>
								Easily set the background of an element to any contextual class.
							</p>

							<ul class="nav nav-tabs">
								<li class="active">
									<a data-toggle="tab" href="#contextual-bg-example">Example</a>
								</li>
							</ul>

							<div class="tab-content">
								<div class="tab-pane active" id="contextual-bg-example">
									<p class="bg-default" style="padding: 10px">
										Fusce dapibus, tellus ac cursus commodo, tortor mauris nibh.
									</p>
									<p class="bg-primary" style="padding: 10px">
										Nullam id dolor id nibh ultricies vehicula ut id elit.
									</p>
									<p class="bg-success" style="padding: 10px">
										Duis mollis, est non commodo luctus, nisi erat porttitor
										ligula.
									</p>
									<p class="bg-info" style="padding: 10px">
										Maecenas sed diam eget risus varius blandit sit amet non
										magna.
									</p>
									<p class="bg-warning" style="padding: 10px">
										Etiam porta sem malesuada magna mollis euismod.
									</p>
									<p class="bg-danger" style="padding: 10px">
										Donec ullamcorper nulla non metus auctor fringilla.
									</p>
								</div>
							</div>
						</div>
						<!-- .doc-inner -->
					</div>
					<!-- .doc-wrap -->
					<!-- Contextual background end -->

					<!-- Text size -->
					<div id="text-size" class="doc-wrap">
						<h3 class="heading">Text Size</h3>

						<div class="doc-inner">
							<p>
								Easily force font/text to certain size with provided classes.
							</p>

							<ul class="nav nav-tabs">
								<li class="active">
									<a data-toggle="tab" href="#text-size-example">Example</a>
								</li>
							</ul>

							<div class="tab-content">
								<div class="tab-pane active" id="text-size-example">
									<p class="text-size-1">Text size 1</p>
									<p class="text-size-2">Text size 2</p>
									<p class="text-size-3">Text size 3</p>
									<p class="text-size-4">Text size 4</p>
									<p class="text-size-5">Text size 5</p>
									<p class="text-size-6">Text size 6</p>
								</div>
							</div>
						</div>
						<!-- .doc-inner -->
					</div>
					<!-- .doc-wrap -->
					<!-- Text size end -->

					<!-- Text shadow -->
					<div id="text-shadow" class="doc-wrap">
						<h3 class="heading">Text Shadow</h3>

						<div class="doc-inner">
							<p>
								Make text stand out on image background, by giving some text
								shadow.
							</p>

							<ul class="nav nav-tabs">
								<li class="active">
									<a data-toggle="tab" href="#text-shadow-example">Example</a>
								</li>
							</ul>

							<div class="tab-content">
								<div class="tab-pane active" id="text-shadow-example">
									<div
										class="banner text-size-2"
										style="
											background: url('img/slide/slide-2.jpg');
											padding-left: 10%;
										"
									>
										<p class="text-shadow-light">Text shadow light</p>
										<p class="text-shadow-medium">Text shadow medium</p>
										<p class="text-shadow-heavy">Text shadow heavy</p>
									</div>
								</div>
							</div>
						</div>
						<!-- .doc-inner -->
					</div>
					<!-- .doc-wrap -->
					<!-- Text shadow end -->
				</div>
				<!-- .col- -->
			</div>
			<!-- .row -->
		</div>
		<!-- .container -->
	</section>
	<!-- CSS section end -->
</div>
<!-- CSS page end -->
