---
layout: base
bodyAttrs: 'data-spy="scroll" data-target="#doc-nav" data-offset="101"'
title: Elements
permalink: /extra.html
---

<!-- Extra page -->
<div id="extra-page" class="page-wrap">
	<!-- Page header -->
	<header class="page-header">
		<div class="container">
			<h2>Extra</h2>

			<ol class="breadcrumb pull-right">
				<li><a href="#">Home</a></li>
				<li>Elements</li>
				<li class="active">Extra</li>
			</ol>
		</div>
	</header>

	<!-- Extra section -->
	<section id="extra" class="section-wrap">
		<div class="container">
			<div class="row">
				<div class="col-md-4 col-sm-4">
					<!-- Navigation -->
					<div id="doc-nav">
						<ul class="list-group nav doc-nav">
							<li class="active">
								<a href="#modal" class="list-group-item smooth-scroll">Modal</a>
							</li>
							<li>
								<a href="#tab" class="list-group-item smooth-scroll">Tab</a>
							</li>
							<li>
								<a href="#tooltip" class="list-group-item smooth-scroll"
									>Tooltip</a
								>
							</li>
							<li>
								<a href="#popover" class="list-group-item smooth-scroll"
									>Popover</a
								>
							</li>
							<li>
								<a href="#collapse" class="list-group-item smooth-scroll"
									>Collapse</a
								>
							</li>
							<li>
								<a href="#carousel" class="list-group-item smooth-scroll"
									>Carousel</a
								>
							</li>
							<li>
								<a href="#img-lb" class="list-group-item smooth-scroll"
									>Image Lightbox</a
								>
							</li>
							<li>
								<a
									href="#responsive-video"
									class="list-group-item smooth-scroll"
									>Responsive Video</a
								>
							</li>
						</ul>
					</div>
				</div>
				<!-- .col- -->

				<div class="col-md-8 col-sm-8">
					<!-- Modal -->
					<div id="modal" class="doc-wrap">
						<h3 class="heading">Modal</h3>

						<div class="doc-inner">
							<p>
								Modals are streamlined, but flexible, dialog prompts with the
								minimum required functionality and smart defaults.
							</p>

							<ul class="nav nav-tabs">
								<li class="active">
									<a data-toggle="tab" href="#modal-example">Example</a>
								</li>
							</ul>

							<div class="tab-content">
								<div class="tab-pane active" id="modal-example">
									<!-- Button trigger modal -->
									<button
										class="btn btn-primary btn-lg"
										data-toggle="modal"
										data-target="#modal-test"
									>
										Launch demo modal
									</button>

									<div id="modal-test" class="modal fade">
										<div class="modal-dialog">
											<div class="modal-content">
												<div class="modal-header">
													<button
														type="button"
														class="close"
														data-dismiss="modal"
														aria-hidden="true"
													>
														&times;
													</button>
													<h4 class="modal-title">Modal title</h4>
												</div>
												<div class="modal-body">
													<img
														class="img-responsive thumbnail"
														src="img/thumb/thumb-1.jpg"
														alt=""
													/>
													<br />
													<p>
														Lorem ipsum dolor sit amet, consectetur adipisicing
														elit, sed do eiusmod tempor incididunt ut labore et
														dolore magna aliqua. Ut enim ad minim veniam, quis
														nostrud exercitation ullamco laboris nisi ut aliquip
														ex ea commodo consequat.
													</p>
												</div>
												<div class="modal-footer">
													<button
														type="button"
														class="btn btn-default"
														data-dismiss="modal"
													>
														Close
													</button>
													<button type="button" class="btn btn-primary">
														Save changes
													</button>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<!-- .doc-inner -->
					</div>
					<!-- .doc-wrap -->
					<!-- Modal end -->

					<!-- Tab -->
					<div id="tab" class="doc-wrap">
						<h3 class="heading">Tab</h3>

						<div class="doc-inner">
							<p>
								Add quick, dynamic tab functionality to transition through panes
								of local content.
							</p>

							<ul class="nav nav-tabs">
								<li class="active">
									<a data-toggle="tab" href="#tab-example">Example</a>
								</li>
							</ul>

							<div class="tab-content">
								<div class="tab-pane active" id="tab-example">
									<ul class="nav nav-tabs">
										<li class="active">
											<a data-toggle="tab" href="#tab-1">Tab 1</a>
										</li>
										<li><a data-toggle="tab" href="#tab-2">Tab 2</a></li>
										<li><a data-toggle="tab" href="#tab-3">Tab 3</a></li>
									</ul>

									<div class="tab-content">
										<div class="tab-pane active" id="tab-1">
											<p>
												Lorem ipsum dolor sit amet, consectetur adipisicing
												elit, sed do eiusmod tempor incididunt ut labore et
												dolore magna aliqua. Ut enim ad minim veniam, quis
												nostrud exercitation ullamco laboris nisi ut aliquip ex
												ea commodo consequat.
											</p>
										</div>

										<div class="tab-pane" id="tab-2">
											<p>
												Inceptos convallis primis scelerisque etiam, quis id ut
												in curae; eget vivamus Mauris interdum tortor
												condimentum etiam viverra proin quam convallis. Fusce
												euismod non.
											</p>
										</div>

										<div class="tab-pane" id="tab-3">
											<p>
												Neque nisi tincidunt. Sollicitudin suscipit cubilia
												lorem vel eu est molestie fames hymenaeos eu penatibus.
											</p>
										</div>
									</div>
								</div>
							</div>
						</div>
						<!-- .doc-inner -->
					</div>
					<!-- .doc-wrap -->
					<!-- Tab end-->

					<!-- Tooltip -->
					<div id="tooltip" class="doc-wrap">
						<h3 class="heading">Tooltip</h3>

						<div class="doc-inner">
							<p>Easy and simple generated tooltip.</p>

							<ul class="nav nav-tabs">
								<li class="active">
									<a data-toggle="tab" href="#tooltip-example">Example</a>
								</li>
							</ul>

							<div class="tab-content">
								<div class="tab-pane active" id="tooltip-example">
									<button
										type="button"
										class="btn btn-default"
										style="margin-bottom: 10px"
										data-toggle="tooltip"
										data-placement="left"
										title="Tooltip on left"
									>
										Tooltip on left
									</button>

									<button
										type="button"
										class="btn btn-default"
										style="margin-bottom: 10px"
										data-toggle="tooltip"
										data-placement="top"
										title="Tooltip on top"
									>
										Tooltip on top
									</button>

									<button
										type="button"
										class="btn btn-default"
										style="margin-bottom: 10px"
										data-toggle="tooltip"
										data-placement="bottom"
										title="Tooltip on bottom"
									>
										Tooltip on bottom
									</button>

									<button
										type="button"
										class="btn btn-default"
										style="margin-bottom: 10px"
										data-toggle="tooltip"
										data-placement="right"
										title="Tooltip on right"
									>
										Tooltip on right
									</button>
								</div>
							</div>
						</div>
						<!-- .doc-inner -->
					</div>
					<!-- .doc-wrap -->
					<!-- Tooltip end -->

					<!-- Popover -->
					<div id="popover" class="doc-wrap">
						<h3 class="heading">Popover</h3>

						<div class="doc-inner">
							<p>
								Add small overlays of content to any element for housing
								secondary information.
							</p>

							<ul class="nav nav-tabs">
								<li class="active">
									<a data-toggle="tab" href="#popover-example">Example</a>
								</li>
							</ul>

							<div class="tab-content">
								<div class="tab-pane active" id="popover-example">
									<button
										type="button"
										class="btn btn-default"
										style="margin-bottom: 10px"
										data-container="body"
										data-toggle="popover"
										data-placement="left"
										data-content="Vivamus sagittis lacus vel augue laoreet rutrum faucibus."
									>
										Popover on left
									</button>

									<button
										type="button"
										class="btn btn-default"
										style="margin-bottom: 10px"
										data-container="body"
										data-toggle="popover"
										data-placement="top"
										data-content="Vivamus sagittis lacus vel augue laoreet rutrum faucibus."
									>
										Popover on top
									</button>

									<button
										type="button"
										class="btn btn-default"
										style="margin-bottom: 10px"
										data-container="body"
										data-toggle="popover"
										data-placement="bottom"
										data-content="Vivamus sagittis lacus vel augue laoreet rutrum faucibus."
									>
										Popover on bottom
									</button>

									<button
										type="button"
										class="btn btn-default"
										style="margin-bottom: 10px"
										data-container="body"
										data-toggle="popover"
										data-placement="right"
										data-content="Vivamus sagittis lacus vel augue laoreet rutrum faucibus."
									>
										Popover on right
									</button>
								</div>
							</div>
						</div>
						<!-- .doc-inner -->
					</div>
					<!-- .doc-wrap -->
					<!-- Popover end -->

					<!-- Collapse -->
					<div id="collapse" class="doc-wrap">
						<h3 class="heading">Collapse</h3>

						<div class="doc-inner">
							<p>
								Make a collapsible components like accordions and navigation.
							</p>

							<ul class="nav nav-tabs">
								<li class="active">
									<a data-toggle="tab" href="#collapse-example">Example</a>
								</li>
							</ul>

							<div class="tab-content">
								<div class="tab-pane active" id="collapse-example">
									<div class="panel-group custom-collapse" id="accordion">
										<div class="panel panel-primary">
											<div class="panel-heading">
												<h4 class="panel-title">
													<a
														data-toggle="collapse"
														data-parent="#accordion"
														href="#collapseOne"
													>
														Collapsible Group Item #1
													</a>
												</h4>
											</div>

											<div id="collapseOne" class="panel-collapse collapse in">
												<div class="panel-body">
													Anim pariatur cliche reprehenderit, enim eiusmod high
													life accusamus terry richardson ad squid. 3 wolf moon
													officia aute, non cupidatat skateboard dolor brunch.
													Food truck quinoa nesciunt laborum eiusmod. Brunch 3
													wolf moon tempor, sunt aliqua put a bird on it squid
													single-origin coffee nulla assumenda shoreditch et.
													Nihil anim keffiyeh helvetica, craft beer labore wes
													anderson cred nesciunt sapiente ea proident. Ad vegan
													excepteur butcher vice lomo. Leggings occaecat craft
													beer farm-to-table, raw denim aesthetic synth nesciunt
													you probably haven't heard of them accusamus labore
													sustainable VHS.
												</div>
											</div>
										</div>

										<div class="panel panel-primary">
											<div class="panel-heading">
												<h4 class="panel-title">
													<a
														data-toggle="collapse"
														data-parent="#accordion"
														href="#collapseTwo"
													>
														Collapsible Group Item #2
													</a>
												</h4>
											</div>

											<div id="collapseTwo" class="panel-collapse collapse">
												<div class="panel-body">
													Anim pariatur cliche reprehenderit, enim eiusmod high
													life accusamus terry richardson ad squid. 3 wolf moon
													officia aute, non cupidatat skateboard dolor brunch.
													Food truck quinoa nesciunt laborum eiusmod. Brunch 3
													wolf moon tempor, sunt aliqua put a bird on it squid
													single-origin coffee nulla assumenda shoreditch et.
													Nihil anim keffiyeh helvetica, craft beer labore wes
													anderson cred nesciunt sapiente ea proident. Ad vegan
													excepteur butcher vice lomo. Leggings occaecat craft
													beer farm-to-table, raw denim aesthetic synth nesciunt
													you probably haven't heard of them accusamus labore
													sustainable VHS.
												</div>
											</div>
										</div>

										<div class="panel panel-primary">
											<div class="panel-heading">
												<h4 class="panel-title">
													<a
														data-toggle="collapse"
														data-parent="#accordion"
														href="#collapseThree"
													>
														Collapsible Group Item #3
													</a>
												</h4>
											</div>

											<div id="collapseThree" class="panel-collapse collapse">
												<div class="panel-body">
													Anim pariatur cliche reprehenderit, enim eiusmod high
													life accusamus terry richardson ad squid. 3 wolf moon
													officia aute, non cupidatat skateboard dolor brunch.
													Food truck quinoa nesciunt laborum eiusmod. Brunch 3
													wolf moon tempor, sunt aliqua put a bird on it squid
													single-origin coffee nulla assumenda shoreditch et.
													Nihil anim keffiyeh helvetica, craft beer labore wes
													anderson cred nesciunt sapiente ea proident. Ad vegan
													excepteur butcher vice lomo. Leggings occaecat craft
													beer farm-to-table, raw denim aesthetic synth nesciunt
													you probably haven't heard of them accusamus labore
													sustainable VHS.
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<!-- Collapse end -->

					<!-- Carousel -->
					<div id="carousel" class="doc-wrap">
						<h3 class="heading">Carousel</h3>

						<div class="doc-inner">
							<p>Generate cycling image slideshow.</p>

							<ul class="nav nav-tabs">
								<li class="active">
									<a data-toggle="tab" href="#carousel-example">Example</a>
								</li>
							</ul>

							<div class="tab-content">
								<div class="tab-pane active" id="carousel-example">
									<div
										id="custom-carousel"
										class="carousel slide custom-slider"
										data-ride="carousel"
									>
										<!-- Wrapper for slides -->
										<div class="carousel-inner">
											<div class="item active">
												<img src="img/thumb/thumb-1.jpg" alt="" />
											</div>

											<div class="item">
												<img src="img/thumb/thumb-2.jpg" alt="" />
											</div>

											<div class="item">
												<img src="img/thumb/thumb-3.jpg" alt="" />
											</div>
										</div>

										<!-- Indicators -->
										<ol class="carousel-indicators">
											<li
												data-target="#custom-carousel"
												data-slide-to="0"
												class="active"
											></li>
											<li data-target="#custom-carousel" data-slide-to="1"></li>
											<li data-target="#custom-carousel" data-slide-to="2"></li>
										</ol>

										<!-- Controls -->
										<a
											class="left carousel-control"
											href="#custom-carousel"
											data-slide="prev"
										>
											<span class="carousel-sign"
												><i class="fa fa-angle-left"></i
											></span>
										</a>
										<a
											class="right carousel-control"
											href="#custom-carousel"
											data-slide="next"
										>
											<span class="carousel-sign"
												><i class="fa fa-angle-right"></i
											></span>
										</a>
									</div>
								</div>
							</div>
						</div>
						<!-- .doc-inner -->
					</div>
					<!-- .doc-wrap -->
					<!-- Carousel end -->

					<!-- Image lightbox -->
					<div id="img-lb" class="doc-wrap">
						<h3 class="heading">Image Lightbox</h3>

						<div class="doc-inner">
							<p>Present image in a clean and nice looking lightbox.</p>

							<ul class="nav nav-tabs">
								<li class="active">
									<a data-toggle="tab" href="#img-lb-example">Example</a>
								</li>
							</ul>

							<div class="tab-content">
								<div class="tab-pane active" id="img-lb-example">
									<div class="row">
										<div class="col-md-4">
											<a
												class="thumbnail image-link"
												href="img/thumb/thumb-1.jpg"
												title="Relaxing Tea"
												><img src="img/thumb/thumb-1.jpg" alt=""
											/></a>
										</div>
										<div class="col-md-4">
											<a
												class="thumbnail image-link"
												href="img/thumb/thumb-2.jpg"
												title="Sunny Day"
												><img src="img/thumb/thumb-2.jpg" alt=""
											/></a>
										</div>
										<div class="col-md-4">
											<a
												class="thumbnail image-link"
												href="img/thumb/thumb-3.jpg"
												title="Dark Alley"
												><img src="img/thumb/thumb-3.jpg" alt=""
											/></a>
										</div>
									</div>

									<h5>Gallery</h5>

									<div class="row gallery">
										<div class="col-md-4">
											<a
												class="thumbnail image-gallery"
												href="img/thumb/thumb-1.jpg"
												title="Relaxing Tea"
												><img src="img/thumb/thumb-1.jpg" alt=""
											/></a>
										</div>
										<div class="col-md-4">
											<a
												class="thumbnail image-gallery"
												href="img/thumb/thumb-2.jpg"
												title="Sunny Day"
												><img src="img/thumb/thumb-2.jpg" alt=""
											/></a>
										</div>
										<div class="col-md-4">
											<a
												class="thumbnail image-gallery"
												href="img/thumb/thumb-3.jpg"
												title="Dark Alley"
												><img src="img/thumb/thumb-3.jpg" alt=""
											/></a>
										</div>
									</div>
								</div>
							</div>
						</div>
						<!-- .doc-inner -->
					</div>
					<!-- .doc-wrap -->
					<!-- Image lightbox end -->

					<!-- Responsive video -->
					<div id="responsive-video" class="doc-wrap">
						<h3 class="heading">Responsive Video</h3>

						<div class="doc-inner">
							<p>Responsive sizing video.</p>

							<ul class="nav nav-tabs">
								<li class="active">
									<a data-toggle="tab" href="#responsive-video-example"
										>Example</a
									>
								</li>
							</ul>

							<div class="tab-content">
								<div class="tab-pane active" id="responsive-video-example">
									<div class="video-wrap">
										<iframe
											src="https://www.youtube.com/embed/mUxzKVrSAjs?si=QEIIrLnnG4DiK9W7"
											width="500"
											height="281"
											style="border: 0"
											allowfullscreen
										></iframe>
									</div>
								</div>
							</div>
						</div>
						<!-- .doc-inner -->
					</div>
					<!-- .doc-wrap -->
					<!-- Responsive video end -->
				</div>
				<!-- .col- -->
			</div>
			<!-- .row -->
		</div>
		<!-- .container -->
	</section>
	<!-- Extra section end -->
</div>
<!-- Extra page end -->
