---
layout: base
title: Feature
permalink: /feature.html
---

<!-- Feature page -->
<div id="feature-page" class="page-wrap">
	<!-- Page header -->
	<header class="page-header">
		<div class="container">
			<h2>Feature</h2>

			<ol class="breadcrumb pull-right">
				<li><a href="#">Home</a></li>
				<li class="active">Feature</li>
			</ol>
		</div>
	</header>

	<!-- Main feature section -->
	<section id="feature" class="section-wrap">
		<div class="container">
			<h2 class="heading">Main Feature</h2>

			<!-- Main feature 1st row -->
			<div class="row">
				<div class="col-md-5 col-sm-6">
					<div class="main-feature-wrap">
						<img class="img-responsive" src="img/media/feature-1.png" alt="" />
					</div>
				</div>

				<div class="col-md-7 col-sm-6">
					<div class="main-feature-wrap">
						<h3>Clean HTML5 + CSS3, Bootstrap 3 powered template</h3>

						<p>
							KaiPia template is coded nicely, clean and valid HTML5/CSS3. Based
							on Twitter Bootstrap framework, a sleek, intuitive, and powerful
							front-end framework.
						</p>
					</div>
				</div>
			</div>
			<!-- .row -->
			<!-- Main feature 1st row end -->

			<hr class="no-line" />

			<!-- Main feature 2nd row -->
			<div class="row">
				<div class="col-md-7 col-sm-6">
					<div class="main-feature-wrap">
						<h3>Responsive design, looks perfect on all devices</h3>

						<p>
							KaiPia is designed to meet today's industry trend. Be responsive
							to every device width, make visitors have a great experience.
						</p>
					</div>
				</div>

				<div class="col-md-5 col-sm-6">
					<div class="main-feature-wrap">
						<div class="feature-img-2">
							<img
								class="img-responsive feature-img-2a"
								src="img/media/feature-2a.png"
								alt=""
							/>
							<img
								class="img-responsive feature-img-2b"
								src="img/media/feature-2b.png"
								alt=""
							/>
							<img
								class="img-responsive feature-img-2c"
								src="img/media/feature-2c.png"
								alt=""
							/>
						</div>
					</div>
				</div>
			</div>
			<!-- .row -->
			<!-- Main feature 2nd row end -->

			<hr class="no-line" />

			<!-- Main feature 3rd row -->
			<div class="row">
				<div class="col-md-5 col-sm-6">
					<div class="main-feature-wrap">
						<div class="feature-img-3">
							<img
								class="img-responsive feature-img-3a"
								src="img/media/feature-3a.png"
								alt=""
							/>
							<img
								class="img-responsive feature-img-3b"
								src="img/media/feature-3b.png"
								alt=""
							/>
							<img
								class="img-responsive feature-img-3c"
								src="img/media/feature-3c.png"
								alt=""
							/>
						</div>
					</div>
				</div>

				<div class="col-md-7 col-sm-6">
					<div class="main-feature-wrap">
						<h3>Many pages included</h3>

						<p>
							KaiPia comes with 10+ defined essential pages, for faster and
							easier web development.
						</p>
					</div>
				</div>
			</div>
			<!-- .row -->
			<!-- Main feature 3rd row end -->
		</div>
		<!-- .container -->
	</section>
	<!-- Main feature section end -->

	<hr class="no-line" />

	<!-- Feature list section -->
	<section id="feature-list" class="section-wrap">
		<div class="container">
			<h2 class="heading">Feature List</h2>

			<div class="row">
				<!-- Feature block -->
				<div class="col-md-3 col-sm-3">
					<div class="feature-wrap">
						<span class="feature-icon"><i class="fa fa-html5"></i></span>

						<h4 class="feature-title">Modern Technology</h4>

						<p class="feature-content">
							Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
							eiusmod tempor incididunt ut labore et dolore magna aliqua.
						</p>
					</div>
				</div>
				<!-- Feature block -->

				<!-- Feature block -->
				<div class="col-md-3 col-sm-3">
					<div class="feature-wrap">
						<span class="feature-icon"><i class="fa fa-css3"></i></span>

						<h4 class="feature-title">Perfect Presentation</h4>

						<p class="feature-content">
							Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
							eiusmod tempor incididunt ut labore et dolore magna aliqua.
						</p>
					</div>
				</div>
				<!-- Feature block end -->

				<!-- Feature block -->
				<div class="col-md-3 col-sm-3">
					<div class="feature-wrap">
						<span class="feature-icon"><i class="fa fa-tablet"></i></span>

						<h4 class="feature-title">Adaptive</h4>

						<p class="feature-content">
							Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
							eiusmod tempor incididunt ut labore et dolore magna aliqua.
						</p>
					</div>
				</div>
				<!-- Feature block end -->

				<!-- Feature block -->
				<div class="col-md-3 col-sm-3">
					<div class="feature-wrap">
						<span class="feature-icon"><i class="fa fa-rocket"></i></span>

						<h4 class="feature-title">High Performance</h4>

						<p class="feature-content">
							Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
							eiusmod tempor incididunt ut labore et dolore magna aliqua.
						</p>
					</div>
				</div>
				<!-- Feature block end -->
			</div>
			<!-- .row -->

			<div class="row">
				<!-- Feature block -->
				<div class="col-md-3 col-sm-3">
					<div class="feature-wrap">
						<span class="feature-icon"><i class="fa fa-users"></i></span>

						<h4 class="feature-title">User Friendly</h4>

						<p class="feature-content">
							Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
							eiusmod tempor incididunt ut labore et dolore magna aliqua.
						</p>
					</div>
				</div>
				<!-- Feature block end -->

				<!-- Feature block -->
				<div class="col-md-3 col-sm-3">
					<div class="feature-wrap">
						<span class="feature-icon"><i class="fa fa-comments-o"></i></span>

						<h4 class="feature-title">Well Documented</h4>

						<p class="feature-content">
							Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
							eiusmod tempor incididunt ut labore et dolore magna aliqua.
						</p>
					</div>
				</div>
				<!-- Feature block end -->

				<!-- Feature block -->
				<div class="col-md-3 col-sm-3">
					<div class="feature-wrap">
						<span class="feature-icon"><i class="fa fa-wrench"></i></span>

						<h4 class="feature-title">Full Support</h4>

						<p class="feature-content">
							Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
							eiusmod tempor incididunt ut labore et dolore magna aliqua.
						</p>
					</div>
				</div>
				<!-- Feature block end -->

				<!-- Feature block -->
				<div class="col-md-3 col-sm-3">
					<div class="feature-wrap">
						<span class="feature-icon"><i class="fa fa-money"></i></span>

						<h4 class="feature-title">Reasonable</h4>

						<p class="feature-content">
							Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
							eiusmod tempor incididunt ut labore et dolore magna aliqua.
						</p>
					</div>
				</div>
				<!-- Feature block end -->
			</div>
			<!-- .row -->
		</div>
		<!-- .container -->
	</section>
	<!-- Feature list section end -->
</div>
<!-- Feature page end -->
