---
layout: base-one-page
permalink: /home-page.html
---

<!-- Home section -->
<section id="home" class="section-wrap home">
	<!-- Home slider -->
	<div class="slider-wrap">
		<div
			id="home-slider"
			class="carousel slide home-slider"
			data-ride="carousel"
			data-interval="8000"
		>
			<!-- Wrapper for slides -->
			<div class="carousel-inner">
				<!-- Slide 1 -->
				<div class="item slide-img-1 active">
					<div class="slider-content">
						<div class="container">
							<!-- Slide 1 content object -->
							<div class="content-object text-left object-1">
								<div class="col-md-12">
									<h3
										class="text-shadow-light animate delay-1"
										data-animate="bounceInRight"
									>
										KaiPia Multipurpose Template Built with Bootstrap 3
									</h3>
									<p
										class="text-shadow-light text-size-4 animate delay-3"
										data-animate="bounceInLeft"
									>
										KaiPia template is a clean code HTML5/CSS3 template built
										with amazing web front-end framework Bootstrap 3. The
										template provides simple, easy management layout and almost
										Bootstrap components had restyled. Also, it comes with 10+
										defined page that will make this template come in handy for
										any web project.
									</p>
									<br /><br />
									<a
										href="#feature"
										class="smooth-scroll animate delay-4 btn btn-lg btn-primary"
										data-animate="bounceIn"
										><i class="fa fa-folder-open"></i> What's Inside</a
									>
								</div>
							</div>

							<!-- Slide 1 content object -->
							<div class="content-object object-2">
								<img
									class="animate delay-2"
									src="img/mockup/ipad.png"
									alt=""
									data-animate="bounceInUp"
								/>
							</div>
						</div>
						<!-- .container -->
					</div>
				</div>
				<!-- Slide 1 end -->

				<!-- Slide 2 -->
				<div class="item slide-img-2">
					<div class="slider-content">
						<div class="container">
							<!-- Slide 2 content object -->
							<div class="content-object object-3">
								<img
									class="animate delay-2"
									src="img/mockup/iphone.png"
									alt=""
									data-animate="bounceInUp"
								/>
							</div>

							<!-- Slide 2 content object -->
							<div class="content-object text-left object-4">
								<div class="col-md-12">
									<h3
										class="text-shadow-light animate delay-1"
										data-animate="bounceInLeft"
									>
										Responsive design, looks perfect on all devices
									</h3>
									<p
										class="text-shadow-light text-size-4 animate delay-3"
										data-animate="bounceInRight"
									>
										KaiPia designed to match every device screen. Some other
										points that KaiPia will become your perfect project
										solution:
									</p>

									<ul class="text-shadow-light list-unstyled text-size-4">
										<li class="animate delay-4" data-animate="bounceInRight">
											<i class="fa fa-fw fa-plus"></i> Clean code HTML5/CSS3
										</li>
										<li class="animate delay-5" data-animate="bounceInRight">
											<i class="fa fa-fw fa-plus"></i> Built with Bootstrap 3
										</li>
										<li class="animate delay-6" data-animate="bounceInRight">
											<i class="fa fa-fw fa-plus"></i> Easy to customize color
											theme
										</li>
										<li class="animate delay-7" data-animate="bounceInRight">
											<i class="fa fa-fw fa-plus"></i> Comes with 10+ essential
											pages
										</li>
									</ul>
									<br />
									<a
										href="#main-feature"
										class="btn btn-lg btn-primary animate delay-9"
										data-animate="bounceIn"
										><i class="fa fa-shopping-cart"></i> Purchase</a
									>
								</div>
							</div>
						</div>
						<!-- .container -->
					</div>
				</div>
				<!-- Slide 2 end -->
			</div>

			<!-- Indicators -->
			<ol class="carousel-indicators">
				<li data-target="#home-slider" data-slide-to="0" class="active"></li>
				<li data-target="#home-slider" data-slide-to="1"></li>
			</ol>

			<!-- Controls -->
			<a class="left carousel-control" href="#home-slider" data-slide="prev">
				<span class="carousel-sign"><i class="fa fa-chevron-left"></i></span>
			</a>
			<a class="right carousel-control" href="#home-slider" data-slide="next">
				<span class="carousel-sign"><i class="fa fa-chevron-right"></i></span>
			</a>
		</div>
	</div>
	<!-- Home slider end -->
</section>
<!-- Home section end -->

<!-- Banner -->
<div class="banner bg-primary text-white">
	<div class="container">
		<div class="row">
			<div class="col-md-10 col-sm-9 col-xs-12">
				<p class="text-size-4 scrollanim" data-animate="fadeInLeft">
					<b>Here It Is KaiPia Template!!</b> Responsive multipurpose template
					built with Bootstrap 3.
				</p>
			</div>

			<div class="col-md-2 col-sm-3 col-xs-12">
				<a
					href="#"
					class="btn btn-lg btn-inverse scrollanim delay-1"
					data-animate="bounceIn"
					><i class="fa fa-shopping-cart"></i> Buy Now</a
				>
			</div>
		</div>
		<!-- .row -->
	</div>
	<!-- .container -->
</div>
<!-- Banner end -->

<hr class="no-line" />

<!-- About section -->
<section id="about" class="section-wrap">
	<div class="container">
		<header class="section-header scrollanim" data-animate="fadeInUp">
			<h2>About</h2>
			<p>
				We are full passionate team committed to deliver outstanding work and
				help boost your business growth.
			</p>
		</header>

		<div class="col-md-8 col-md-offset-2">
			<h3 class="text-center scrollanim" data-animate="fadeInUp">
				We are full passionate team committed to deliver outstanding work and
				help boost your business growth.
			</h3>
		</div>

		<div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2 col-xs-12">
			<div class="media-frame scrollanim" data-animate="bounceIn">
				<div class="video-wrap">
					<iframe
						src="https://www.youtube.com/embed/mUxzKVrSAjs?si=QEIIrLnnG4DiK9W7"
						width="500"
						height="281"
						style="border: 0"
						allowfullscreen
					></iframe>
				</div>
			</div>
		</div>

		<div class="clearfix"></div>

		<br />

		<div class="col-md-8 col-md-offset-2">
			<p class="scrollanim" data-animate="fadeInLeft">
				Inceptos convallis primis scelerisque etiam, quis id ut in curae; eget
				vivamus Mauris interdum tortor condimentum etiam viverra proin quam
				convallis. Fusce euismod non. Tristique hymenaeos lacus senectus
				consectetuer dapibus ac enim neque id, dolor torquent adipiscing class
				eget aptent class sed odio curabitur dignissim tortor sit netus taciti.
			</p>

			<p class="scrollanim" data-animate="fadeInRight">
				Litora parturient aliquet iaculis inceptos. Class sodales. Ligula mattis
				orci venenatis dui at lectus. Hac mollis pellentesque natoque inceptos.
				Dictumst lectus auctor egestas lobortis mi aliquet ligula. Dictumst
				venenatis quisque molestie in risus primis laoreet justo turpis mauris a
				convallis Duis ridiculus.
			</p>

			<p class="scrollanim" data-animate="fadeInLeft">
				Pharetra nostra augue hac augue cursus eget maecenas metus leo
				suspendisse per euismod class interdum. Aliquet aptent semper parturient
				scelerisque nisl ultrices consequat purus erat hymenaeos. Pretium
				habitant sem convallis fringilla ultrices magna montes vulputate tortor
				fames at non at ultricies posuere lectus enim montes nunc elementum,
				placerat sociosqu nostra lectus egestas mus. Feugiat arcu. Nullam
				blandit dolor fames, varius orci. Augue sociis velit. Aptent iaculis
				nullam nonummy fermentum placerat lacinia facilisi.
			</p>
		</div>
	</div>
	<!-- .container -->
</section>
<!-- About section end -->

<!-- Team section -->
<section id="team" class="section-wrap">
	<div class="container">
		<h3 class="text-center scrollanim" data-animate="fadeInUp">
			Meet Our Team
		</h3>

		<div class="row">
			<div class="col-md-3 col-sm-3">
				<div class="team-wrap scrollanim" data-animate="bounceInUp">
					<figure class="team-figure">
						<img src="img/figure/figure-1.jpg" alt="" />
					</figure>

					<h4 class="team-name">John Doe</h4>

					<span class="team-role">Chief Executive</span>

					<p class="team-description">
						Pharetra nostra augue hac augue cursus eget maecenas metus leo
						suspendisse per euismod class interdum.
					</p>

					<ul class="list-inline list-unstyled">
						<li>
							<a href="#" class="icon-wrap twitter-brand"
								><i class="fa fa-twitter"></i
							></a>
						</li>
						<li>
							<a href="#" class="icon-wrap facebook-brand"
								><i class="fa fa-facebook"></i
							></a>
						</li>
						<li>
							<a href="#" class="icon-wrap pinterest-brand"
								><i class="fa fa-pinterest"></i
							></a>
						</li>
					</ul>
				</div>
			</div>

			<div class="col-md-3 col-sm-3">
				<div class="team-wrap scrollanim delay-1" data-animate="bounceInUp">
					<figure class="team-figure">
						<img src="img/figure/figure-2.jpg" alt="" />
					</figure>

					<h4 class="team-name">Anita Doe</h4>

					<span class="team-role">Managing Director</span>

					<p class="team-description">
						Pharetra nostra augue hac augue cursus eget maecenas metus leo
						suspendisse per euismod class interdum.
					</p>

					<ul class="list-inline list-unstyled">
						<li>
							<a href="#" class="icon-wrap twitter-brand"
								><i class="fa fa-twitter"></i
							></a>
						</li>
						<li>
							<a href="#" class="icon-wrap facebook-brand"
								><i class="fa fa-facebook"></i
							></a>
						</li>
						<li>
							<a href="#" class="icon-wrap pinterest-brand"
								><i class="fa fa-pinterest"></i
							></a>
						</li>
					</ul>
				</div>
			</div>

			<div class="col-md-3 col-sm-3">
				<div class="team-wrap scrollanim delay-2" data-animate="bounceInUp">
					<figure class="team-figure">
						<img src="img/figure/figure-3.jpg" alt="" />
					</figure>

					<h4 class="team-name">Erick Doe</h4>

					<span class="team-role">Senior Designer</span>

					<p class="team-description">
						Pharetra nostra augue hac augue cursus eget maecenas metus leo
						suspendisse per euismod class interdum.
					</p>

					<ul class="list-inline list-unstyled">
						<li>
							<a href="#" class="icon-wrap twitter-brand"
								><i class="fa fa-twitter"></i
							></a>
						</li>
						<li>
							<a href="#" class="icon-wrap facebook-brand"
								><i class="fa fa-facebook"></i
							></a>
						</li>
						<li>
							<a href="#" class="icon-wrap pinterest-brand"
								><i class="fa fa-pinterest"></i
							></a>
						</li>
					</ul>
				</div>
			</div>

			<div class="col-md-3 col-sm-3">
				<div class="team-wrap scrollanim delay-3" data-animate="bounceInUp">
					<figure class="team-figure">
						<img src="img/figure/figure-4.jpg" alt="" />
					</figure>

					<h4 class="team-name">Alex Doe</h4>

					<span class="team-role">Lead Programmer</span>

					<p class="team-description">
						Pharetra nostra augue hac augue cursus eget maecenas metus leo
						suspendisse per euismod class interdum.
					</p>

					<ul class="list-inline list-unstyled">
						<li>
							<a href="#" class="icon-wrap twitter-brand"
								><i class="fa fa-twitter"></i
							></a>
						</li>
						<li>
							<a href="#" class="icon-wrap facebook-brand"
								><i class="fa fa-facebook"></i
							></a>
						</li>
						<li>
							<a href="#" class="icon-wrap pinterest-brand"
								><i class="fa fa-pinterest"></i
							></a>
						</li>
					</ul>
				</div>
			</div>
		</div>
		<!-- .row -->
	</div>
	<!-- .container -->
</section>
<!-- Team section end -->

<hr class="no-line" />

<!-- Main feature section -->
<section id="feature" class="section-wrap" style="overflow-x: hidden">
	<div class="container">
		<header class="section-header scrollanim" data-animate="fadeInUp">
			<h2>Feature</h2>
			<p>
				The best we can deliver, nec potenti cursus porta vivamus eget lectus
				fringilla.
			</p>
		</header>

		<!-- Main feature 1st row -->
		<div class="row">
			<div class="col-md-5 col-sm-6">
				<div class="main-feature-wrap scrollanim" data-animate="fadeInLeft">
					<img class="img-responsive" src="img/media/feature-1.png" alt="" />
				</div>
			</div>

			<div class="col-md-7 col-sm-6">
				<div class="main-feature-wrap scrollanim" data-animate="fadeInRight">
					<h3>Clean HTML5 + CSS3, Bootstrap 3 powered template</h3>

					<p>
						KaiPia template is coded nicely, clean and valid HTML5/CSS3. Based
						on Twitter Bootstrap framework, a sleek, intuitive, and powerful
						front-end framework.
					</p>
				</div>
			</div>
		</div>
		<!-- .row -->
		<!-- Main feature 1st row end -->

		<hr class="no-line" />

		<!-- Main feature 2nd row -->
		<div class="row">
			<div class="col-md-7 col-sm-6">
				<div class="main-feature-wrap scrollanim" data-animate="fadeInLeft">
					<h3>Responsive design, looks perfect on all devices</h3>

					<p>
						KaiPia is designed to meet today's industry trend. Be responsive to
						every device width, make visitors have a great experience.
					</p>
				</div>
			</div>

			<div class="col-md-5 col-sm-6">
				<div class="main-feature-wrap">
					<div class="feature-img-2">
						<img
							class="img-responsive feature-img-2a scrollanim"
							data-animate="fadeInRight"
							src="img/media/feature-2a.png"
							alt=""
						/>
						<img
							class="img-responsive feature-img-2b scrollanim delay-4"
							data-animate="fadeInRight"
							src="img/media/feature-2b.png"
							alt=""
						/>
						<img
							class="img-responsive feature-img-2c scrollanim delay-2"
							data-animate="fadeInRight"
							src="img/media/feature-2c.png"
							alt=""
						/>
					</div>
				</div>
			</div>
		</div>
		<!-- .row -->
		<!-- Main feature 2nd row end -->

		<hr class="no-line" />

		<!-- Main feature 3rd row -->
		<div class="row">
			<div class="col-md-5 col-sm-6">
				<div class="main-feature-wrap">
					<div class="feature-img-3">
						<img
							class="img-responsive feature-img-3a scrollanim"
							data-animate="fadeInLeft"
							src="img/media/feature-3a.png"
							alt=""
						/>
						<img
							class="img-responsive feature-img-3b scrollanim delay-2"
							data-animate="fadeInLeft"
							src="img/media/feature-3b.png"
							alt=""
						/>
						<img
							class="img-responsive feature-img-3c scrollanim delay-4"
							data-animate="fadeInLeft"
							src="img/media/feature-3c.png"
							alt=""
						/>
					</div>
				</div>
			</div>

			<div class="col-md-7 col-sm-6">
				<div class="main-feature-wrap scrollanim" data-animate="fadeInRight">
					<h3>Many pages included</h3>

					<p>
						KaiPia comes with 10+ defined essential pages, for faster and easier
						web development.
					</p>
				</div>
			</div>
		</div>
		<!-- .row -->
		<!-- Main feature 3rd row end -->
	</div>
	<!-- .container -->
</section>
<!-- Main feature section end -->

<hr class="no-line" />

<!-- Feature list section -->
<section id="feature-list" class="section-wrap">
	<div class="container">
		<h3 class="text-center scrollanim" data-animate="fadeInUp">
			Complete List of Our Feature
		</h3>

		<br /><br />

		<div class="row">
			<div class="col-md-3 col-sm-3">
				<div class="feature-wrap scrollanim" data-animate="bounceIn">
					<span class="feature-icon"><i class="fa fa-html5"></i></span>

					<h4 class="feature-title">Modern Technology</h4>

					<p class="feature-content">
						Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
						eiusmod tempor incididunt ut labore et dolore magna aliqua.
					</p>
				</div>
			</div>

			<div class="col-md-3 col-sm-3">
				<div class="feature-wrap scrollanim delay-1" data-animate="bounceIn">
					<span class="feature-icon"><i class="fa fa-css3"></i></span>

					<h4 class="feature-title">Perfect Presentation</h4>

					<p class="feature-content">
						Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
						eiusmod tempor incididunt ut labore et dolore magna aliqua.
					</p>
				</div>
			</div>

			<div class="col-md-3 col-sm-3">
				<div class="feature-wrap scrollanim delay-2" data-animate="bounceIn">
					<span class="feature-icon"><i class="fa fa-tablet"></i></span>

					<h4 class="feature-title">Adaptive</h4>

					<p class="feature-content">
						Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
						eiusmod tempor incididunt ut labore et dolore magna aliqua.
					</p>
				</div>
			</div>

			<div class="col-md-3 col-sm-3">
				<div class="feature-wrap scrollanim delay-3" data-animate="bounceIn">
					<span class="feature-icon"><i class="fa fa-rocket"></i></span>

					<h4 class="feature-title">High Performance</h4>

					<p class="feature-content">
						Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
						eiusmod tempor incididunt ut labore et dolore magna aliqua.
					</p>
				</div>
			</div>
		</div>
		<!-- .row -->

		<div class="row">
			<div class="col-md-3 col-sm-3">
				<div class="feature-wrap scrollanim" data-animate="bounceIn">
					<span class="feature-icon"><i class="fa fa-users"></i></span>

					<h4 class="feature-title">User Friendly</h4>

					<p class="feature-content">
						Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
						eiusmod tempor incididunt ut labore et dolore magna aliqua.
					</p>
				</div>
			</div>

			<div class="col-md-3 col-sm-3">
				<div class="feature-wrap scrollanim delay-1" data-animate="bounceIn">
					<span class="feature-icon"><i class="fa fa-comments-o"></i></span>

					<h4 class="feature-title">Well Documented</h4>

					<p class="feature-content">
						Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
						eiusmod tempor incididunt ut labore et dolore magna aliqua.
					</p>
				</div>
			</div>

			<div class="col-md-3 col-sm-3">
				<div class="feature-wrap scrollanim delay-2" data-animate="bounceIn">
					<span class="feature-icon"><i class="fa fa-wrench"></i></span>

					<h4 class="feature-title">Full Support</h4>

					<p class="feature-content">
						Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
						eiusmod tempor incididunt ut labore et dolore magna aliqua.
					</p>
				</div>
			</div>

			<div class="col-md-3 col-sm-3">
				<div class="feature-wrap scrollanim delay-3" data-animate="bounceIn">
					<span class="feature-icon"><i class="fa fa-money"></i></span>

					<h4 class="feature-title">Reasonable</h4>

					<p class="feature-content">
						Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
						eiusmod tempor incididunt ut labore et dolore magna aliqua.
					</p>
				</div>
			</div>
		</div>
		<!-- .row -->
	</div>
	<!-- .container -->
</section>
<!-- Feature list section end -->

<hr class="no-line" />

<div class="banner wide bg-image text-center" data-bg="parallax">
	<div class="container">
		<p class="text-shadow-light text-size-4 scrollanim" data-animate="fadeInUp">
			<b>We've made awesome works past this 2 years!!</b> Neque nisi tincidunt.
			Sollicitudin suscipit cubilia lorem vel eu est molestie fames hymenaeos eu
			penatibus.
		</p>

		<br />

		<a
			href="#portfolio"
			class="btn btn-lg btn-primary smooth-scroll scrollanim"
			data-animate="bounceIn"
			>See Our Portfolio</a
		>
	</div>
</div>

<hr class="no-line" />

<!-- Service section -->
<section id="service" class="section-wrap">
	<div class="container">
		<header class="section-header scrollanim" data-animate="fadeInUp">
			<h2>Service</h2>
			<p>
				We do many creative stuffs to boost your business growth, imperdiet nec
				nonummy molestie netus quisque.
			</p>
		</header>

		<div class="row">
			<div class="col-md-4 col-sm-4">
				<div class="service-wrap scrollanim" data-animate="bounceInUp">
					<span class="service-icon"><i class="fa fa-pencil"></i></span>

					<h3 class="service-heading">UI Design</h3>

					<p>
						Neque nisi tincidunt. Sollicitudin suscipit cubilia lorem vel eu est
						molestie fames hymenaeos eu penatibus.
					</p>
				</div>
			</div>

			<div class="col-md-4 col-sm-4">
				<div class="service-wrap scrollanim delay-1" data-animate="bounceInUp">
					<span class="service-icon"><i class="fa fa-html5"></i></span>

					<h3 class="service-heading">Web Development</h3>

					<p>
						Neque nisi tincidunt. Sollicitudin suscipit cubilia lorem vel eu est
						molestie fames hymenaeos eu penatibus.
					</p>
				</div>
			</div>

			<div class="col-md-4 col-sm-4">
				<div class="service-wrap scrollanim delay-2" data-animate="bounceInUp">
					<span class="service-icon"><i class="fa fa-laptop"></i></span>

					<h3 class="service-heading">Responsive Design</h3>

					<p>
						Neque nisi tincidunt. Sollicitudin suscipit cubilia lorem vel eu est
						molestie fames hymenaeos eu penatibus.
					</p>
				</div>
			</div>
		</div>
		<!-- .row -->

		<div class="row">
			<div class="col-md-4 col-sm-4">
				<div class="service-wrap scrollanim" data-animate="bounceInUp">
					<span class="service-icon"><i class="fa fa-android"></i></span>

					<h3 class="service-heading">Apps Development</h3>

					<p>
						Neque nisi tincidunt. Sollicitudin suscipit cubilia lorem vel eu est
						molestie fames hymenaeos eu penatibus.
					</p>
				</div>
			</div>

			<div class="col-md-4 col-sm-4">
				<div class="service-wrap scrollanim delay-1" data-animate="bounceInUp">
					<span class="service-icon"><i class="fa fa-rocket"></i></span>

					<h3 class="service-heading">SEO</h3>

					<p>
						Neque nisi tincidunt. Sollicitudin suscipit cubilia lorem vel eu est
						molestie fames hymenaeos eu penatibus.
					</p>
				</div>
			</div>

			<div class="col-md-4 col-sm-4">
				<div class="service-wrap scrollanim delay-2" data-animate="bounceInUp">
					<span class="service-icon"><i class="fa fa-globe"></i></span>

					<h3 class="service-heading">Online Marketing</h3>

					<p>
						Neque nisi tincidunt. Sollicitudin suscipit cubilia lorem vel eu est
						molestie fames hymenaeos eu penatibus.
					</p>
				</div>
			</div>
		</div>
		<!-- .row -->
	</div>
	<!-- .container -->
</section>
<!-- Service section end -->

<!-- Pricing plan section -->
<section id="pricing" class="section-wrap">
	<div class="container">
		<h3 class="text-center scrollanim" data-animate="fadeInUp">
			Choose Your Plan
		</h3>

		<br />

		<div class="row">
			<div class="col-md-3 col-sm-6">
				<div class="price-wrap scrollanim" data-animate="bounceInUp">
					<h4 class="price-plan">Basic</h4>

					<div class="price-value">10</div>

					<ul class="list-unstyled text-center price-feature">
						<li>Personal account</li>
						<li>Download resume</li>
						<li>File storage</li>
						<li>Video streaming</li>
						<li>No ads</li>
					</ul>

					<a class="btn btn-primary" href="#">Buy Now</a>
				</div>
			</div>

			<div class="col-md-3 col-sm-6">
				<div class="price-wrap scrollanim delay-1" data-animate="bounceInUp">
					<h4 class="price-plan">Standard</h4>

					<div class="price-value">20</div>

					<ul class="list-unstyled text-center price-feature">
						<li>Personal account</li>
						<li>Download resume</li>
						<li>File storage</li>
						<li>Video streaming</li>
						<li>No ads</li>
					</ul>

					<a class="btn btn-primary" href="#">Buy Now</a>
				</div>
			</div>

			<div class="col-md-3 col-sm-6">
				<div
					class="price-wrap popular scrollanim delay-2"
					data-animate="bounceInUp"
				>
					<h4 class="price-plan">Professional</h4>

					<div class="price-value">30</div>

					<ul class="list-unstyled text-center price-feature">
						<li>Personal account</li>
						<li>Download resume</li>
						<li>File storage</li>
						<li>Video streaming</li>
						<li>No ads</li>
					</ul>

					<a class="btn btn-inverse" href="#">Buy Now</a>
				</div>
			</div>

			<div class="col-md-3 col-sm-6">
				<div class="price-wrap scrollanim delay-3" data-animate="bounceInUp">
					<h4 class="price-plan">Exclusive</h4>

					<div class="price-value">40</div>

					<ul class="list-unstyled text-center price-feature">
						<li>Personal account</li>
						<li>Download resume</li>
						<li>File storage</li>
						<li>Video streaming</li>
						<li>No ads</li>
					</ul>

					<a class="btn btn-primary" href="#">Buy Now</a>
				</div>
			</div>
		</div>
		<!-- .row -->
	</div>
	<!-- .container -->
</section>
<!-- Pricing plan section end -->

<hr class="no-line" />

<!-- Portfolio section -->
<section id="portfolio" class="section-wrap">
	<div class="container">
		<header class="section-header scrollanim" data-animate="fadeInUp">
			<h2>Portfolio</h2>
			<p>
				The latest of our finest works, porttitor augue ridiculus non lacus
				scelerisque malesuada.
			</p>
		</header>

		<ul
			class="list-unstyled list-inline portfolio-control text-center scrollanim"
			data-animate="bounceIn"
		>
			<li class="filter" data-group="all">
				<a href="#" class="btn btn-sm btn-primary active"
					><i class="fa fa-th-large"></i>&nbsp;&nbsp;All</a
				>
			</li>
			<li class="filter" data-group="cat-1">
				<a href="#" class="btn btn-sm btn-primary">Cat 1</a>
			</li>
			<li class="filter" data-group="cat-2">
				<a href="#" class="btn btn-sm btn-primary">Cat 2</a>
			</li>
			<li class="filter" data-group="cat-3">
				<a href="#" class="btn btn-sm btn-primary">Cat-3</a>
			</li>
		</ul>

		<div class="col-md-10 col-md-offset-1">
			<div class="row grid">
				<div
					class="col-md-4 col-sm-4 col-xs-12 portfolio-shuffle"
					data-groups='["all", "cat-1"]'
				>
					<a
						class="portfolio-wrap scroll-to-item scrollanim"
						data-animate="bounceIn"
						data-toggle="tab"
						href="#portfolio-item-1"
					>
						<img src="img/gallery/gal-img-1.jpg" alt="" />
						<h3 class="portfolio-title">Mine Template</h3>
					</a>
				</div>

				<div
					class="col-md-4 col-sm-4 col-xs-12 portfolio-shuffle"
					data-groups='["all", "cat-2"]'
				>
					<a
						class="portfolio-wrap scroll-to-item scrollanim"
						data-animate="bounceIn"
						data-toggle="tab"
						href="#portfolio-item-2"
					>
						<img src="img/gallery/gal-img-2.jpg" alt="" />
						<h3 class="portfolio-title">Web Components</h3>
					</a>
				</div>

				<div
					class="col-md-4 col-sm-4 col-xs-12 portfolio-shuffle"
					data-groups='["all", "cat-3"]'
				>
					<a
						class="portfolio-wrap scroll-to-item scrollanim"
						data-animate="bounceIn"
						data-toggle="tab"
						href="#portfolio-item-3"
					>
						<img src="img/gallery/gal-img-3.jpg" alt="" />
						<h3 class="portfolio-title">KaiPia Logo</h3>
					</a>
				</div>

				<div
					class="col-md-4 col-sm-4 col-xs-12 portfolio-shuffle"
					data-groups='["all", "cat-3"]'
				>
					<a
						class="portfolio-wrap scroll-to-item scrollanim"
						data-animate="bounceIn"
						data-toggle="tab"
						href="#portfolio-item-4"
					>
						<img src="img/gallery/gal-img-4.jpg" alt="" />
						<h3 class="portfolio-title">Flat UI</h3>
					</a>
				</div>

				<div
					class="col-md-4 col-sm-4 col-xs-12 portfolio-shuffle"
					data-groups='["all", "cat-1"]'
				>
					<a
						class="portfolio-wrap scroll-to-item scrollanim"
						data-animate="bounceIn"
						data-toggle="tab"
						href="#portfolio-item-5"
					>
						<img src="img/gallery/gal-img-5.jpg" alt="" />
						<h3 class="portfolio-title">Pop Art</h3>
					</a>
				</div>

				<div
					class="col-md-4 col-sm-4 col-xs-12 portfolio-shuffle"
					data-groups='["all", "cat-2"]'
				>
					<a
						class="portfolio-wrap scroll-to-item scrollanim"
						data-animate="bounceIn"
						data-toggle="tab"
						href="#portfolio-item-6"
					>
						<img src="img/gallery/gal-img-6.jpg" alt="" />
						<h3 class="portfolio-title">Illustration</h3>
					</a>
				</div>

				<div
					class="col-md-4 col-sm-4 col-xs-12 portfolio-shuffle"
					data-groups='["all", "cat-2"]'
				>
					<a
						class="portfolio-wrap scroll-to-item scrollanim"
						data-animate="bounceIn"
						data-toggle="tab"
						href="#portfolio-item-7"
					>
						<img src="img/gallery/gal-img-7.jpg" alt="" />
						<h3 class="portfolio-title">Juhanda Brand</h3>
					</a>
				</div>

				<div
					class="col-md-4 col-sm-4 col-xs-12 portfolio-shuffle"
					data-groups='["all", "cat-1"]'
				>
					<a
						class="portfolio-wrap scroll-to-item scrollanim"
						data-animate="bounceIn"
						data-toggle="tab"
						href="#portfolio-item-8"
					>
						<img src="img/gallery/gal-img-8.jpg" alt="" />
						<h3 class="portfolio-title">Chat UI</h3>
					</a>
				</div>

				<div
					class="col-md-4 col-sm-4 col-xs-12 portfolio-shuffle"
					data-groups='["all", "cat-1"]'
				>
					<a
						class="portfolio-wrap scroll-to-item scrollanim"
						data-animate="bounceIn"
						data-toggle="tab"
						href="#portfolio-item-9"
					>
						<img src="img/gallery/gal-img-9.jpg" alt="" />
						<h3 class="portfolio-title">Civi Template</h3>
					</a>
				</div>
			</div>
			<!-- .row -->
		</div>
	</div>
	<!-- .container -->
</section>
<!-- Portfolio section end -->

<!-- Portfolio item section end -->
<section
	id="portfolio-item"
	class="section-wrap bg-default scrollanim"
	data-animate="fadeInUp"
>
	<div class="container">
		<div class="tab-content">
			<div class="tab-pane portfolio-item fade in active" id="portfolio-item-1">
				<div class="col-md-8 col-md-offset-2">
					<h3 class="text-center">Mine Template</h3>

					<br />

					<img
						class="img-responsive media-frame center-block"
						src="img/gallery/gal-img-1a.jpg"
						alt=""
					/>

					<p>
						Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
						eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim
						ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
						aliquip ex ea commodo consequat.
					</p>

					<p>
						Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
						eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim
						ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
						aliquip ex ea commodo consequat.
					</p>

					<div class="row">
						<div class="col-md-6 col-sm-6">
							<ul class="list-unstyled portfolio-item-meta">
								<li class="item-meta time">Time: 21/01/2014 - 05/02/2014</li>
								<li class="item-meta category">Category: Web Design</li>
							</ul>
						</div>

						<div class="col-md-6 col-sm-6">
							<ul class="list-unstyled portfolio-item-meta">
								<li class="item-meta tech">
									Technology: HTML5, CSS3, PHP, MySQL
								</li>
								<li class="item-meta client">Client: Wrapbootstrap, Inc.</li>
							</ul>
						</div>
					</div>
				</div>
			</div>

			<div class="tab-pane portfolio-item fade" id="portfolio-item-2">
				<div class="col-md-8 col-md-offset-2">
					<h3 class="text-center">Web Components</h3>

					<br />

					<img
						class="img-responsive media-frame center-block"
						src="img/gallery/gal-img-2a.jpg"
						alt=""
					/>

					<p>
						Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
						eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim
						ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
						aliquip ex ea commodo consequat.
					</p>

					<p>
						Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
						eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim
						ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
						aliquip ex ea commodo consequat.
					</p>

					<div class="row">
						<div class="col-md-6 col-sm-6">
							<ul class="list-unstyled portfolio-item-meta">
								<li class="item-meta time">Time: 21/01/2014 - 05/02/2014</li>
								<li class="item-meta category">Category: Web Design</li>
							</ul>
						</div>

						<div class="col-md-6 col-sm-6">
							<ul class="list-unstyled portfolio-item-meta">
								<li class="item-meta tech">
									Technology: HTML5, CSS3, PHP, MySQL
								</li>
								<li class="item-meta client">Client: Wrapbootstrap, Inc.</li>
							</ul>
						</div>
					</div>
				</div>
			</div>

			<div class="tab-pane portfolio-item fade" id="portfolio-item-3">
				<div class="col-md-8 col-md-offset-2">
					<h3 class="text-center">KaiPia Logo</h3>

					<br />

					<img
						class="img-responsive media-frame center-block"
						src="img/gallery/gal-img-3a.jpg"
						alt=""
					/>

					<p>
						Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
						eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim
						ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
						aliquip ex ea commodo consequat.
					</p>

					<p>
						Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
						eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim
						ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
						aliquip ex ea commodo consequat.
					</p>

					<div class="row">
						<div class="col-md-6 col-sm-6">
							<ul class="list-unstyled portfolio-item-meta">
								<li class="item-meta time">Time: 21/01/2014 - 05/02/2014</li>
								<li class="item-meta category">Category: Web Design</li>
							</ul>
						</div>

						<div class="col-md-6 col-sm-6">
							<ul class="list-unstyled portfolio-item-meta">
								<li class="item-meta tech">
									Technology: HTML5, CSS3, PHP, MySQL
								</li>
								<li class="item-meta client">Client: Wrapbootstrap, Inc.</li>
							</ul>
						</div>
					</div>
				</div>
			</div>

			<div class="tab-pane portfolio-item fade" id="portfolio-item-4">
				<div class="col-md-8 col-md-offset-2">
					<h3 class="text-center">Flat UI</h3>

					<br />

					<img
						class="img-responsive media-frame center-block"
						src="img/gallery/gal-img-4a.jpg"
						alt=""
					/>

					<p>
						Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
						eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim
						ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
						aliquip ex ea commodo consequat.
					</p>

					<p>
						Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
						eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim
						ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
						aliquip ex ea commodo consequat.
					</p>

					<div class="row">
						<div class="col-md-6 col-sm-6">
							<ul class="list-unstyled portfolio-item-meta">
								<li class="item-meta time">Time: 21/01/2014 - 05/02/2014</li>
								<li class="item-meta category">Category: Web Design</li>
							</ul>
						</div>

						<div class="col-md-6 col-sm-6">
							<ul class="list-unstyled portfolio-item-meta">
								<li class="item-meta tech">
									Technology: HTML5, CSS3, PHP, MySQL
								</li>
								<li class="item-meta client">Client: Wrapbootstrap, Inc.</li>
							</ul>
						</div>
					</div>
				</div>
			</div>

			<div class="tab-pane portfolio-item fade" id="portfolio-item-5">
				<div class="col-md-8 col-md-offset-2">
					<h3 class="text-center">Pop Art</h3>

					<br />

					<img
						class="img-responsive media-frame center-block"
						src="img/gallery/gal-img-5a.jpg"
						alt=""
					/>

					<p>
						Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
						eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim
						ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
						aliquip ex ea commodo consequat.
					</p>

					<p>
						Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
						eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim
						ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
						aliquip ex ea commodo consequat.
					</p>

					<div class="row">
						<div class="col-md-6 col-sm-6">
							<ul class="list-unstyled portfolio-item-meta">
								<li class="item-meta time">Time: 21/01/2014 - 05/02/2014</li>
								<li class="item-meta category">Category: Web Design</li>
							</ul>
						</div>

						<div class="col-md-6 col-sm-6">
							<ul class="list-unstyled portfolio-item-meta">
								<li class="item-meta tech">
									Technology: HTML5, CSS3, PHP, MySQL
								</li>
								<li class="item-meta client">Client: Wrapbootstrap, Inc.</li>
							</ul>
						</div>
					</div>
				</div>
			</div>

			<div class="tab-pane portfolio-item fade" id="portfolio-item-6">
				<div class="col-md-8 col-md-offset-2">
					<h3 class="text-center">Illustration</h3>

					<br />

					<img
						class="img-responsive media-frame center-block"
						src="img/gallery/gal-img-6a.jpg"
						alt=""
					/>

					<p>
						Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
						eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim
						ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
						aliquip ex ea commodo consequat.
					</p>

					<p>
						Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
						eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim
						ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
						aliquip ex ea commodo consequat.
					</p>

					<div class="row">
						<div class="col-md-6 col-sm-6">
							<ul class="list-unstyled portfolio-item-meta">
								<li class="item-meta time">Time: 21/01/2014 - 05/02/2014</li>
								<li class="item-meta category">Category: Web Design</li>
							</ul>
						</div>

						<div class="col-md-6 col-sm-6">
							<ul class="list-unstyled portfolio-item-meta">
								<li class="item-meta tech">
									Technology: HTML5, CSS3, PHP, MySQL
								</li>
								<li class="item-meta client">Client: Wrapbootstrap, Inc.</li>
							</ul>
						</div>
					</div>
				</div>
			</div>

			<div class="tab-pane portfolio-item fade" id="portfolio-item-7">
				<div class="col-md-8 col-md-offset-2">
					<h3 class="text-center">Juhanda Brand</h3>

					<br />

					<img
						class="img-responsive media-frame center-block"
						src="img/gallery/gal-img-7a.jpg"
						alt=""
					/>

					<p>
						Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
						eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim
						ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
						aliquip ex ea commodo consequat.
					</p>

					<p>
						Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
						eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim
						ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
						aliquip ex ea commodo consequat.
					</p>

					<div class="row">
						<div class="col-md-6 col-sm-6">
							<ul class="list-unstyled portfolio-item-meta">
								<li class="item-meta time">Time: 21/01/2014 - 05/02/2014</li>
								<li class="item-meta category">Category: Web Design</li>
							</ul>
						</div>

						<div class="col-md-6 col-sm-6">
							<ul class="list-unstyled portfolio-item-meta">
								<li class="item-meta tech">
									Technology: HTML5, CSS3, PHP, MySQL
								</li>
								<li class="item-meta client">Client: Wrapbootstrap, Inc.</li>
							</ul>
						</div>
					</div>
				</div>
			</div>

			<div class="tab-pane portfolio-item fade" id="portfolio-item-8">
				<div class="col-md-8 col-md-offset-2">
					<h3 class="text-center">Chat UI</h3>

					<br />

					<img
						class="img-responsive media-frame center-block"
						src="img/gallery/gal-img-8a.jpg"
						alt=""
					/>

					<p>
						Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
						eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim
						ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
						aliquip ex ea commodo consequat.
					</p>

					<p>
						Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
						eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim
						ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
						aliquip ex ea commodo consequat.
					</p>

					<div class="row">
						<div class="col-md-6 col-sm-6">
							<ul class="list-unstyled portfolio-item-meta">
								<li class="item-meta time">Time: 21/01/2014 - 05/02/2014</li>
								<li class="item-meta category">Category: Web Design</li>
							</ul>
						</div>

						<div class="col-md-6 col-sm-6">
							<ul class="list-unstyled portfolio-item-meta">
								<li class="item-meta tech">
									Technology: HTML5, CSS3, PHP, MySQL
								</li>
								<li class="item-meta client">Client: Wrapbootstrap, Inc.</li>
							</ul>
						</div>
					</div>
				</div>
			</div>

			<div class="tab-pane portfolio-item fade" id="portfolio-item-9">
				<div class="col-md-8 col-md-offset-2">
					<h3 class="text-center">Civi Template</h3>

					<br />

					<img
						class="img-responsive media-frame center-block"
						src="img/gallery/gal-img-9a.jpg"
						alt=""
					/>

					<p>
						Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
						eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim
						ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
						aliquip ex ea commodo consequat.
					</p>

					<p>
						Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
						eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim
						ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
						aliquip ex ea commodo consequat.
					</p>

					<div class="row">
						<div class="col-md-6 col-sm-6">
							<ul class="list-unstyled portfolio-item-meta">
								<li class="item-meta time">Time: 21/01/2014 - 05/02/2014</li>
								<li class="item-meta category">Category: Web Design</li>
							</ul>
						</div>

						<div class="col-md-6 col-sm-6">
							<ul class="list-unstyled portfolio-item-meta">
								<li class="item-meta tech">
									Technology: HTML5, CSS3, PHP, MySQL
								</li>
								<li class="item-meta client">Client: Wrapbootstrap, Inc.</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- .container -->
</section>
<!-- Portfolio item section end -->

<hr class="no-line" />

<!-- Blog section -->
<section id="blog" class="section-wrap">
	<div class="container">
		<header class="section-header scrollanim" data-animate="fadeInUp">
			<h2>Blog</h2>
			<p>
				Our story so far, mauris vel condimentum porttitor sodales dictum
				interdum integer urna accumsan.
			</p>
		</header>

		<div class="row">
			<div class="col-md-4 col-sm-4">
				<div
					class="blog-post blog-preview scrollanim"
					data-animate="bounceInUp"
				>
					<div class="blog-thumbnail">
						<img src="img/thumb/thumb-1.jpg" alt="" />
						<span class="blog-meta meta-time">27 Mar</span>
					</div>

					<h3 class="blog-title">
						<a href="blog-single.html"
							>There's nothing like relaxing with a hot cup of tea</a
						>
					</h3>

					<p>
						Inceptos convallis primis scelerisque etiam, quis id ut in curae;
						eget vivamus Mauris interdum tortor condimentum etiam viverra proin
						quam convallis. Fusce euismod non.
					</p>

					<br />

					<a class="pull-right btn btn-primary" href="blog-single.html"
						>Read more</a
					>
				</div>
			</div>

			<div class="col-md-4 col-sm-4">
				<div
					class="blog-post blog-preview scrollanim delay-1"
					data-animate="bounceInUp"
				>
					<div class="blog-thumbnail">
						<img src="img/thumb/thumb-2.jpg" alt="" />
						<span class="blog-meta meta-time">25 Mar</span>
					</div>

					<h3 class="blog-title">
						<a href="blog-single.html">Vacation to the beach in sunny day</a>
					</h3>

					<p>
						Inceptos convallis primis scelerisque etiam, quis id ut in curae;
						eget vivamus Mauris interdum tortor condimentum etiam viverra proin
						quam convallis. Fusce euismod non.
					</p>

					<br />

					<a class="pull-right btn btn-primary" href="blog-single.html"
						>Read more</a
					>
				</div>
			</div>

			<div class="col-md-4 col-sm-4">
				<div
					class="blog-post blog-preview scrollanim delay-2"
					data-animate="bounceInUp"
				>
					<div class="blog-thumbnail">
						<img src="img/thumb/thumb-3.jpg" alt="" />
						<span class="blog-meta meta-time">24 Mar</span>
					</div>

					<h3 class="blog-title">
						<a href="blog-single.html">Walk through the alley of uncertainty</a>
					</h3>

					<p>
						Inceptos convallis primis scelerisque etiam, quis id ut in curae;
						eget vivamus Mauris interdum tortor condimentum etiam viverra proin
						quam convallis. Fusce euismod non.
					</p>

					<br />

					<a class="pull-right btn btn-primary" href="blog-single.html"
						>Read more</a
					>
				</div>
			</div>
		</div>
		<!-- .row -->
	</div>
	<!-- .container -->
</section>
<!-- Blog section end -->

<hr class="no-line" />

<!-- Testimonial slider -->
<div id="testimonial" class="scrollanim" data-animate="fadeInUp">
	<div
		id="testimonial-slider"
		class="carousel slide testimonial-slider bg-primary"
		data-ride="carousel"
	>
		<!-- Wrapper for slides -->
		<div class="carousel-inner">
			<!-- Slide 1 -->
			<div class="item active">
				<div class="slider-content">
					<div class="container">
						<div class="testimonial-wrap">
							<p class="testimonial-content">
								Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
								eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
								enim ad minim veniam, quis nostrud exercitation ullamco laboris
								nisi ut aliquip ex ea commodo consequat.
							</p>

							<div class="testimonial-author">
								<img src="img/figure/figure-1.jpg" alt="" />

								<p><b>John Doe</b><br />Rocket Store</p>
							</div>
						</div>
					</div>
					<!-- .container -->
				</div>
			</div>
			<!-- Slide 1 end -->

			<!-- Slide 2 -->
			<div class="item">
				<div class="slider-content">
					<div class="container">
						<div class="testimonial-wrap">
							<p class="testimonial-content">
								Sagittis cursus lorem ligula consequat inceptos Et, scelerisque
								nostra semper. Porta varius dictum convallis, placerat. Interdum
								justo at. Eros senectus penatibus Est a auctor libero odio.
								Sapien nibh ut netus posuere donec elit iaculis.
							</p>

							<div class="testimonial-author">
								<img src="img/figure/figure-2.jpg" alt="" />

								<p><b>Anita Doe</b><br />Femme Magz</p>
							</div>
						</div>
					</div>
					<!-- .container -->
				</div>
			</div>
			<!-- Slide 2 end -->

			<!-- Slide 3 -->
			<div class="item">
				<div class="slider-content">
					<div class="container">
						<div class="testimonial-wrap">
							<p class="testimonial-content">
								Mus accumsan blandit penatibus gravida porttitor faucibus litora
								duis mollis platea pretium velit ac quis cum et, turpis cum.
								Commodo primis porta class tempor nisl erat. Eget malesuada
								ante. Etiam sociis iaculis luctus neque.
							</p>

							<div class="testimonial-author">
								<img src="img/figure/figure-3.jpg" alt="" />

								<p><b>Erick Doe</b><br />Sushi Resto</p>
							</div>
						</div>
					</div>
					<!-- .container -->
				</div>
			</div>
			<!-- Slide 3 end -->
		</div>

		<!-- Indicators -->
		<ol class="carousel-indicators">
			<li
				data-target="#testimonial-slider"
				data-slide-to="0"
				class="active"
			></li>
			<li data-target="#testimonial-slider" data-slide-to="1"></li>
			<li data-target="#testimonial-slider" data-slide-to="2"></li>
		</ol>
	</div>
</div>
<!-- Testimonial slider end -->

<hr class="no-line" />

<!-- Clients section -->
<section id="client" class="section-wrap">
	<div class="container">
		<p class="text-center">We've worked with many great companies.</p>

		<br /><br />

		<div class="row">
			<div class="col-md-offset-1 col-md-2 col-sm-offset-1 col-sm-2">
				<a href="#" class="client-wrap scrollanim" data-animate="bounceIn">
					<img src="img/client/client-1.jpg" alt="" />
				</a>
			</div>

			<div class="col-md-2 col-sm-2">
				<a
					href="#"
					class="client-wrap scrollanim delay-1"
					data-animate="bounceIn"
				>
					<img src="img/client/client-2.jpg" alt="" />
				</a>
			</div>

			<div class="col-md-2 col-sm-2">
				<a
					href="#"
					class="client-wrap scrollanim delay-2"
					data-animate="bounceIn"
				>
					<img src="img/client/client-3.jpg" alt="" />
				</a>
			</div>

			<div class="col-md-2 col-sm-2">
				<a
					href="#"
					class="client-wrap scrollanim delay-3"
					data-animate="bounceIn"
				>
					<img src="img/client/client-4.jpg" alt="" />
				</a>
			</div>

			<div class="col-md-2 col-sm-2">
				<a
					href="#"
					class="client-wrap scrollanim delay-4"
					data-animate="bounceIn"
				>
					<img src="img/client/client-5.jpg" alt="" />
				</a>
			</div>
		</div>
		<!-- .row -->
	</div>
	<!-- .container -->
</section>
<!-- Clients section end -->

<hr class="no-line" />

<!-- Contact section -->
<section id="contact" class="section-wrap">
	<div class="container">
		<header class="section-header scrollanim" data-animate="fadeInUp">
			<h2>Contact</h2>
			<p>
				Tell us something, sollicitudin suscipit cubilia lorem vel eu est
				molestie fames hymenaeos eu penatibus.
			</p>
		</header>

		<div class="map-wrapper scrollanim" data-animate="fadeInUp">
			<iframe
				src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d253572.68357381187!2d108.42049448374364!3d-6.760931271960494!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x2e6f1d0f69dbc5d5%3A0x301e8f1fc28ba20!2sCirebon%2C%20West%20Java!5e0!3m2!1sen!2sid!4v1707284755432!5m2!1sen!2sid"
				style="width: 100%; height: 100%; border: 0"
				allowfullscreen=""
				loading="lazy"
				referrerpolicy="no-referrer-when-downgrade"
			></iframe>
		</div>

		<hr class="no-line" />

		<div class="row">
			<div class="col-md-4 col-sm-4">
				<div class="contact-info-wrap scrollanim" data-animate="bounceIn">
					<span class="icon-wrap icon-lg center-block"
						><i class="fa fa-map-marker"></i></span
					><br />

					<address>
						Suite 9/13 South Mahana<br />
						Montebello 1236 WA
					</address>
				</div>
			</div>

			<div class="col-md-4 col-sm-4">
				<div
					class="contact-info-wrap scrollanim delay-1"
					data-animate="bounceIn"
				>
					<span class="icon-wrap icon-lg center-block"
						><i class="fa fa-envelope-o"></i></span
					><br />
					<span><a href="#">kaipia@email.com</a></span
					><br />
					<span><a href="#">support@email.com</a></span>
				</div>
			</div>

			<div class="col-md-4 col-sm-4">
				<div
					class="contact-info-wrap scrollanim delay-2"
					data-animate="bounceIn"
				>
					<span class="icon-wrap icon-lg center-block"
						><i class="fa fa-phone"></i></span
					><br />
					<span>+62111222333</span><br />
					<span>+62444555666</span>
				</div>
			</div>
		</div>
		<!-- .row -->

		<hr class="no-line" />

		<!-- Contact form -->
		<form
			id="contact-form"
			class="col-md-offset-3 col-md-6 col-sm-offset-2 col-sm-8 contact-form form-validate"
			method="post"
			data-parsley-namespace="data-parsley-"
		>
			<div
				class="form-group has-feedback scrollanim"
				data-animate="bounceInLeft"
			>
				<label for="name" class="sr-only"></label>
				<input
					id="name"
					name="name"
					class="form-control input-lg required"
					placeholder="Name"
					type="text"
					data-parsley-trigger="keyup change"
				/>
				<span class="fa fa-check success-icon form-control-feedback"></span>
				<span class="fa fa-times error-icon form-control-feedback"></span>
			</div>

			<div
				class="form-group has-feedback scrollanim"
				data-animate="bounceInRight"
			>
				<label for="email" class="sr-only"></label>
				<input
					id="email"
					name="email"
					class="form-control input-lg required"
					placeholder="Email"
					data-parsley-type="email"
					data-parsley-trigger="keyup change"
				/>
				<span class="fa fa-check success-icon form-control-feedback"></span>
				<span class="fa fa-times error-icon form-control-feedback"></span>
			</div>

			<div class="form-group scrollanim has-feedback" data-animate="bounceInUp">
				<textarea
					name="message"
					class="form-control required"
					rows="8"
					placeholder="Message"
					data-parsley-trigger="keyup change"
				></textarea>
				<span class="fa fa-check success-icon form-control-feedback"></span>
				<span class="fa fa-times error-icon form-control-feedback"></span>
			</div>

			<br />

			<div class="form-group text-center scrollanim" data-animate="bounceIn">
				<button type="submit" class="submit-btn btn btn-lg btn-primary">
					<i class="fa fa-envelope"></i> Send Message
				</button>
			</div>
		</form>
	</div>
	<!-- container -->
</section>
<!-- Contact section end -->
