---
layout: base
---

<!-- Home section -->
<section id="home" class="section-wrap home">
	<!-- Home slider -->
	<div class="slider-wrap">
		<div
			id="home-slider"
			class="carousel slide home-slider"
			data-ride="carousel"
			data-interval="8000"
		>
			<!-- Wrapper for slides -->
			<div class="carousel-inner">
				<!-- Slide 1 -->
				<div class="item slide-img-1 active">
					<div class="slider-content">
						<div class="container">
							<!-- Slide 1 content object -->
							<div class="content-object text-left object-1">
								<div class="col-md-12">
									<h3
										class="text-shadow-light animate delay-1"
										data-animate="bounceInRight"
									>
										KaiPia Multipurpose Template Built with Bootstrap 3
									</h3>
									<p
										class="text-shadow-light text-size-4 animate delay-3"
										data-animate="bounceInLeft"
									>
										KaiPia template is a clean code HTML5/CSS3 template built
										with amazing web front-end framework Bootstrap 3. The
										template provides simple, easy management layout and almost
										Bootstrap components had restyled. Also, it comes with 10+
										defined page that will make this template come in handy for
										any web project.
									</p>
									<br /><br />
									<a
										href="#feature"
										class="smooth-scroll animate delay-4 btn btn-lg btn-primary"
										data-animate="bounceIn"
										><i class="fa fa-folder-open"></i> What's Inside</a
									>
								</div>
							</div>

							<!-- Slide 1 content object -->
							<div class="content-object object-2">
								<img
									class="img-responsive animate delay-2"
									src="img/mockup/ipad.png"
									alt=""
									data-animate="bounceInUp"
								/>
							</div>
						</div>
						<!-- .container -->
					</div>
				</div>
				<!-- Slide 1 end -->

				<!-- Slide 2 -->
				<div class="item slide-img-2">
					<div class="slider-content">
						<div class="container">
							<!-- Slide 2 content object -->
							<div class="content-object object-3">
								<img
									class="animate delay-2"
									src="img/mockup/iphone.png"
									alt=""
									data-animate="bounceInUp"
								/>
							</div>

							<!-- Slide 2 content object -->
							<div class="content-object text-left object-4">
								<div class="col-md-12">
									<h3
										class="text-shadow-light animate delay-1"
										data-animate="bounceInLeft"
									>
										Responsive design, looks perfect on all devices
									</h3>
									<p
										class="text-shadow-light text-size-4 animate delay-3"
										data-animate="bounceInRight"
									>
										KaiPia designed to match every device screen. Some other
										points that KaiPia will become your perfect project
										solution:
									</p>

									<ul class="text-shadow-light list-unstyled text-size-4">
										<li class="animate delay-4" data-animate="bounceInRight">
											<i class="fa fa-fw fa-plus"></i> Clean code HTML5/CSS3
										</li>
										<li class="animate delay-5" data-animate="bounceInRight">
											<i class="fa fa-fw fa-plus"></i> Built with Bootstrap 3
										</li>
										<li class="animate delay-6" data-animate="bounceInRight">
											<i class="fa fa-fw fa-plus"></i> Easy to customize color
											theme
										</li>
										<li class="animate delay-7" data-animate="bounceInRight">
											<i class="fa fa-fw fa-plus"></i> Comes with 10+ essential
											pages
										</li>
									</ul>
									<br />
									<a
										href="#main-feature"
										class="btn btn-lg btn-primary animate delay-9"
										data-animate="bounceIn"
										><i class="fa fa-shopping-cart"></i> Purchase</a
									>
								</div>
							</div>
						</div>
						<!-- .container -->
					</div>
				</div>
				<!-- Slide 2 end -->
			</div>

			<!-- Indicators -->
			<ol class="carousel-indicators">
				<li data-target="#home-slider" data-slide-to="0" class="active"></li>
				<li data-target="#home-slider" data-slide-to="1"></li>
			</ol>

			<!-- Controls -->
			<a class="left carousel-control" href="#home-slider" data-slide="prev">
				<span class="carousel-sign"><i class="fa fa-chevron-left"></i></span>
			</a>
			<a class="right carousel-control" href="#home-slider" data-slide="next">
				<span class="carousel-sign"><i class="fa fa-chevron-right"></i></span>
			</a>
		</div>
	</div>
	<!-- Home slider end -->
</section>
<!-- Home section end -->

<!-- Banner -->
<div class="banner bg-primary text-white">
	<div class="container">
		<div class="row">
			<div class="col-md-10 col-sm-9 col-xs-12">
				<p class="text-size-4">
					<b>Here It Is KaiPia Template!!</b> Responsive multipurpose template
					built with Bootstrap 3.
				</p>
			</div>

			<div class="col-md-2 col-sm-3 col-xs-12">
				<a href="#" class="btn btn-lg btn-inverse"
					><i class="fa fa-shopping-cart"></i> Buy Now</a
				>
			</div>
		</div>
		<!-- .row -->
	</div>
	<!-- .container -->
</div>
<!-- Banner end -->

<hr class="no-line" />

<!-- About Us -->
<section id="about" class="section-wrap">
	<div class="container">
		<h2 class="heading">About Us</h2>

		<div class="col-md-5 col-sm-6 col-xs-12 pull-right">
			<div class="media-frame">
				<div class="video-wrap">
					<iframe
						src="https://www.youtube.com/embed/mUxzKVrSAjs?si=QEIIrLnnG4DiK9W7"
						width="500"
						height="281"
						style="border: 0"
						allowfullscreen
					></iframe>
				</div>
			</div>
		</div>

		<h3>
			We are full passionate team committed to deliver outstanding work and help
			boost your business growth.
		</h3>

		<br />

		<p>
			Inceptos convallis primis scelerisque etiam, quis id ut in curae; eget
			vivamus Mauris interdum tortor condimentum etiam viverra proin quam
			convallis. Fusce euismod non. Tristique hymenaeos lacus senectus
			consectetuer dapibus ac enim neque id, dolor torquent adipiscing class
			eget aptent class sed odio curabitur dignissim tortor sit netus taciti.
		</p>

		<p>
			Litora parturient aliquet iaculis inceptos. Class sodales. Ligula mattis
			orci venenatis dui at lectus. Hac mollis pellentesque natoque inceptos.
			Dictumst lectus auctor egestas lobortis mi aliquet ligula. Dictumst
			venenatis quisque molestie in risus primis laoreet justo turpis mauris a
			convallis Duis ridiculus.
		</p>

		<br />

		<a class="btn btn-primary" href="about.html">Know Us More</a>
	</div>
	<!-- .container -->
</section>
<!-- About us end -->

<!-- Main feature section -->
<section id="feature" class="section-wrap">
	<div class="container">
		<h2 class="heading">Main Feature</h2>

		<!-- Main feature 1st row -->
		<div class="row">
			<div class="col-md-4 col-sm-6">
				<div class="main-feature-wrap">
					<img class="img-responsive" src="img/media/feature-1.png" alt="" />
				</div>
			</div>

			<div class="col-md-8 col-sm-6">
				<div class="main-feature-wrap">
					<h3>Clean HTML5 + CSS3, Bootstrap 3 powered template</h3>

					<p>
						KaiPia template is coded nicely, clean and valid HTML5/CSS3. Based
						on Twitter Bootstrap framework, a sleek, intuitive, and powerful
						front-end framework.
					</p>
				</div>
			</div>
		</div>
		<!-- .row -->
		<!-- Main feature 1st row end -->

		<hr class="no-line" />

		<!-- Main feature 2nd row -->
		<div class="row">
			<div class="col-md-8 col-sm-6">
				<div class="main-feature-wrap">
					<h3>Responsive design, looks perfect on all devices</h3>

					<p>
						KaiPia is designed to meet today's industry trend. Responsive to
						every device width, make visitors have a great experience.
					</p>
				</div>
			</div>

			<div class="col-md-4 col-sm-6">
				<div class="main-feature-wrap">
					<div class="feature-img-2">
						<img
							class="img-responsive feature-img-2a"
							src="img/media/feature-2a.png"
							alt=""
						/>
						<img
							class="img-responsive feature-img-2b"
							src="img/media/feature-2b.png"
							alt=""
						/>
						<img
							class="img-responsive feature-img-2c"
							src="img/media/feature-2c.png"
							alt=""
						/>
					</div>
				</div>
			</div>
		</div>
		<!-- .row -->
		<!-- Main feature 2nd row end -->

		<hr class="no-line" />

		<!-- Main feature 3rd row -->
		<div class="row">
			<div class="col-md-5 col-sm-6">
				<div class="main-feature-wrap">
					<div class="feature-img-3">
						<img
							class="img-responsive feature-img-3a"
							src="img/media/feature-3a.png"
							alt=""
						/>
						<img
							class="img-responsive feature-img-3b"
							src="img/media/feature-3b.png"
							alt=""
						/>
						<img
							class="img-responsive feature-img-3c"
							src="img/media/feature-3c.png"
							alt=""
						/>
					</div>
				</div>
			</div>

			<div class="col-md-7 col-sm-6">
				<div class="main-feature-wrap">
					<h3>Many pages included</h3>

					<p>
						KaiPia comes with 10+ defined essential pages, for faster and easier
						web development.
					</p>
				</div>
			</div>
		</div>
		<!-- .row -->
		<!-- Main feature 3rd row end -->
	</div>
	<!-- .container -->
</section>
<!-- Main feature section end -->

<hr class="no-line" />

<!-- Banner -->
<div class="banner bg-image text-center wide" data-bg="parallax">
	<div class="container">
		<p class="text-shadow-light text-size-4">
			<b>We've made awesome works past this 2 years!!</b> Neque nisi tincidunt.
			Sollicitudin suscipit cubilia lorem vel eu est molestie fames hymenaeos eu
			penatibus.
		</p>

		<br />

		<a href="portfolio.html" class="btn btn-lg btn-primary"
			>See Our Portfolio</a
		>
	</div>
</div>
<!-- Banner end -->

<hr class="no-line" />

<!-- Service section -->
<section id="service" class="section-wrap">
	<div class="container">
		<h2 class="heading">Service</h2>

		<div class="row">
			<!-- Service block -->
			<div class="col-md-4 col-sm-4">
				<div class="service-wrap">
					<span class="service-icon"><i class="fa fa-gears"></i></span>

					<h3 class="service-heading">UI Design</h3>

					<p>
						Neque nisi tincidunt. Sollicitudin suscipit cubilia lorem vel eu est
						molestie fames hymenaeos eu penatibus.
					</p>
				</div>
			</div>
			<!-- Service block end -->

			<!-- Service block -->
			<div class="col-md-4 col-sm-4">
				<div class="service-wrap">
					<span class="service-icon"><i class="fa fa-html5"></i></span>

					<h3 class="service-heading">Web Development</h3>

					<p>
						Neque nisi tincidunt. Sollicitudin suscipit cubilia lorem vel eu est
						molestie fames hymenaeos eu penatibus.
					</p>
				</div>
			</div>
			<!-- Service block end -->

			<!-- Service block -->
			<div class="col-md-4 col-sm-4">
				<div class="service-wrap">
					<span class="service-icon"><i class="fa fa-laptop"></i></span>

					<h3 class="service-heading">Responsive Design</h3>

					<p>
						Neque nisi tincidunt. Sollicitudin suscipit cubilia lorem vel eu est
						molestie fames hymenaeos eu penatibus.
					</p>
				</div>
			</div>
			<!-- Service block end -->
		</div>
		<!-- .row -->

		<div class="row">
			<!-- Service block -->
			<div class="col-md-4 col-sm-4">
				<div class="service-wrap">
					<span class="service-icon"><i class="fa fa-android"></i></span>

					<h3 class="service-heading">Apps Development</h3>

					<p>
						Neque nisi tincidunt. Sollicitudin suscipit cubilia lorem vel eu est
						molestie fames hymenaeos eu penatibus.
					</p>
				</div>
			</div>
			<!-- Service block end -->

			<!-- Service block -->
			<div class="col-md-4 col-sm-4">
				<div class="service-wrap">
					<span class="service-icon"><i class="fa fa-rocket"></i></span>

					<h3 class="service-heading">SEO</h3>

					<p>
						Neque nisi tincidunt. Sollicitudin suscipit cubilia lorem vel eu est
						molestie fames hymenaeos eu penatibus.
					</p>
				</div>
			</div>
			<!-- Service block end -->

			<!-- Service block -->
			<div class="col-md-4 col-sm-4">
				<div class="service-wrap">
					<span class="service-icon"><i class="fa fa-globe"></i></span>

					<h3 class="service-heading">Online Marketing</h3>

					<p>
						Neque nisi tincidunt. Sollicitudin suscipit cubilia lorem vel eu est
						molestie fames hymenaeos eu penatibus.
					</p>
				</div>
			</div>
			<!-- Service block end -->
		</div>
		<!-- .row -->
	</div>
	<!-- .container -->
</section>
<!-- Service section end -->

<!-- Works section -->
<section id="work" class="section-wrap">
	<div class="container">
		<h2 class="heading">Latest Works</h2>

		<div class="row">
			<div class="col-md-6 col-sm-6">
				<div class="col-md-6">
					<img class="img-responsive" src="img/media/media-1.png" alt="" />
				</div>

				<h4>KaiPia Template</h4>

				<p>
					KaiPia template is a clean code HTML5/CSS3 template built with amazing
					web front-end framework Bootstrap 3. The template provides simple,
					easy management layout and almost Bootstrap components had restyled.
					Also, it comes with 10+ defined page that will make this template come
					in handy for any web project.
				</p>

				<br />

				<a href="portfolio-single.html" class="btn btn-primary">See Detail</a>

				<div class="cleafix"></div>

				<hr class="no-line" />
			</div>

			<div class="col-md-6 col-sm-6">
				<div class="col-md-6">
					<img class="img-responsive" src="img/media/media-2.png" alt="" />
				</div>

				<h4>Civi Template</h4>

				<p>
					Civi template is a responsive cv/resume template built with bootstrap
					3.0. Designed as scrolling one page make it simple and easy to use.
					The template itself is purposed as personal homepage to provide the
					visitor information about the website owner. With some features
					included such as timeline, gallery and blog post; you can make a
					stunning yet simple personal homepage.
				</p>

				<br />

				<a href="portfolio-single.html" class="btn btn-primary">See Detail</a>

				<div class="cleafix"></div>

				<hr class="no-line" />
			</div>
		</div>
		<!-- .row -->
	</div>
	<!-- .container -->
</section>
<!-- Works section end -->

<!-- News section -->
<section id="news" class="section-wrap">
	<div class="container">
		<h2 class="heading">News</h2>

		<div class="row">
			<!-- Blog block -->
			<div class="col-md-4 col-sm-4">
				<div class="blog-post blog-preview">
					<div class="blog-thumbnail">
						<img src="img/thumb/thumb-1.jpg" alt="" />
						<span class="blog-meta meta-time">27 Mar</span>
					</div>

					<h3 class="blog-title">
						<a href="blog-single.html"
							>There's nothing like relaxing with a hot cup of tea</a
						>
					</h3>

					<p>
						Inceptos convallis primis scelerisque etiam, quis id ut in curae;
						eget vivamus Mauris interdum tortor condimentum etiam viverra proin
						quam convallis. Fusce euismod non.
					</p>

					<br />

					<a class="pull-right btn btn-primary" href="blog-single.html"
						>Read more</a
					>
				</div>
			</div>
			<!-- Blog block end -->

			<!-- Blog block -->
			<div class="col-md-4 col-sm-4">
				<div class="blog-post blog-preview">
					<div class="blog-thumbnail">
						<img src="img/thumb/thumb-2.jpg" alt="" />
						<span class="blog-meta meta-time">25 Mar</span>
					</div>

					<h3 class="blog-title">
						<a href="blog-single.html">Vacation to the beach in sunny day</a>
					</h3>

					<p>
						Inceptos convallis primis scelerisque etiam, quis id ut in curae;
						eget vivamus Mauris interdum tortor condimentum etiam viverra proin
						quam convallis. Fusce euismod non.
					</p>

					<br />

					<a class="pull-right btn btn-primary" href="blog-single.html"
						>Read more</a
					>
				</div>
			</div>
			<!-- Blog block end -->

			<!-- Blog block -->
			<div class="col-md-4 col-sm-4">
				<div class="blog-post blog-preview">
					<div class="blog-thumbnail">
						<img src="img/thumb/thumb-3.jpg" alt="" />
						<span class="blog-meta meta-time">24 Mar</span>
					</div>

					<h3 class="blog-title">
						<a href="blog-single.html">Walk through the alley of uncertainty</a>
					</h3>

					<p>
						Inceptos convallis primis scelerisque etiam, quis id ut in curae;
						eget vivamus Mauris interdum tortor condimentum etiam viverra proin
						quam convallis. Fusce euismod non.
					</p>

					<br />

					<a class="pull-right btn btn-primary" href="blog-single.html"
						>Read more</a
					>
				</div>
			</div>
			<!-- Blog block end -->
		</div>
		<!-- .row -->
	</div>
	<!-- .container -->
</section>
<!-- News section end -->

<hr class="no-line" />

<!-- Testimonial slider -->
<div id="testimonial">
	<div
		id="testimonial-slider"
		class="carousel slide testimonial-slider bg-primary"
		data-ride="carousel"
	>
		<!-- Wrapper for slides -->
		<div class="carousel-inner">
			<!-- Slide 1 -->
			<div class="item active">
				<div class="slider-content">
					<div class="container">
						<div class="testimonial-wrap">
							<p class="testimonial-content">
								Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
								eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
								enim ad minim veniam, quis nostrud exercitation ullamco laboris
								nisi ut aliquip ex ea commodo consequat.
							</p>

							<div class="testimonial-author">
								<img src="img/figure/figure-1.jpg" alt="" />

								<p><b>John Doe</b><br />Rocket Store</p>
							</div>
						</div>
					</div>
					<!-- .container -->
				</div>
			</div>
			<!-- Slide 1 end -->

			<!-- Slide 2 -->
			<div class="item">
				<div class="slider-content">
					<div class="container">
						<div class="testimonial-wrap">
							<p class="testimonial-content">
								Sagittis cursus lorem ligula consequat inceptos Et, scelerisque
								nostra semper. Porta varius dictum convallis, placerat. Interdum
								justo at. Eros senectus penatibus Est a auctor libero odio.
								Sapien nibh ut netus posuere donec elit iaculis.
							</p>

							<div class="testimonial-author">
								<img src="img/figure/figure-2.jpg" alt="" />

								<p><b>Anita Doe</b><br />Femme Magz</p>
							</div>
						</div>
					</div>
					<!-- .container -->
				</div>
			</div>
			<!-- Slide 2 end -->

			<!-- Slide 3 -->
			<div class="item">
				<div class="slider-content">
					<div class="container">
						<div class="testimonial-wrap">
							<p class="testimonial-content">
								Mus accumsan blandit penatibus gravida porttitor faucibus litora
								duis mollis platea pretium velit ac quis cum et, turpis cum.
								Commodo primis porta class tempor nisl erat. Eget malesuada
								ante. Etiam sociis iaculis luctus neque.
							</p>

							<div class="testimonial-author">
								<img src="img/figure/figure-3.jpg" alt="" />

								<p><b>Erick Doe</b><br />Sushi Resto</p>
							</div>
						</div>
					</div>
					<!-- .container -->
				</div>
			</div>
			<!-- Slide 3 end -->
		</div>

		<!-- Indicators -->
		<ol class="carousel-indicators">
			<li
				data-target="#testimonial-slider"
				data-slide-to="0"
				class="active"
			></li>
			<li data-target="#testimonial-slider" data-slide-to="1"></li>
			<li data-target="#testimonial-slider" data-slide-to="2"></li>
		</ol>
	</div>
</div>
<!-- Testimonial slider end -->

<hr class="no-line" />

<!-- Clients section -->
<section id="client" class="section-wrap">
	<div class="container">
		<p class="text-center">We've worked with many great companies.</p>

		<br /><br />

		<div class="row">
			<div class="col-md-offset-1 col-md-2 col-sm-offset-1 col-sm-2">
				<a href="#" class="client-wrap">
					<img src="img/client/client-1.jpg" alt="" />
				</a>
			</div>

			<div class="col-md-2 col-sm-2">
				<a href="#" class="client-wrap">
					<img src="img/client/client-2.jpg" alt="" />
				</a>
			</div>

			<div class="col-md-2 col-sm-2">
				<a href="#" class="client-wrap">
					<img src="img/client/client-3.jpg" alt="" />
				</a>
			</div>

			<div class="col-md-2 col-sm-2">
				<a href="#" class="client-wrap">
					<img src="img/client/client-4.jpg" alt="" />
				</a>
			</div>

			<div class="col-md-2 col-sm-2">
				<a href="#" class="client-wrap">
					<img src="img/client/client-5.jpg" alt="" />
				</a>
			</div>
		</div>
		<!-- .row -->
	</div>
	<!-- .container -->
</section>
<!-- Clients section end -->
