---
layout: base
title: Portfolio
permalink: /portfolio-single.html
---

<!-- Portfolio item page -->
<div id="portfolio-item-page" class="page-wrap">
	<!-- Page header -->
	<header class="page-header">
		<div class="container">
			<h2>Portfolio Item</h2>

			<ol class="breadcrumb pull-right">
				<li><a href="#">Home</a></li>
				<li><a href="#">Portfolio</a></li>
				<li class="active">Item</li>
			</ol>
		</div>
	</header>

	<!-- Portfolio item section -->
	<section id="portfolio-item" class="section-wrap">
		<div class="container">
			<div class="row">
				<div class="col-md-8 col-sm-12 col-xs-12">
					<div
						id="portfolio-item-slider"
						class="carousel slide custom-slider"
						data-ride="carousel"
					>
						<!-- Wrapper for slides -->
						<div class="carousel-inner">
							<div class="item active">
								<a class="image-link" href="img/thumb/thumb-1.jpg"
									><img src="img/thumb/thumb-1.jpg" alt=""
								/></a>
							</div>

							<div class="item">
								<a class="image-link" href="img/thumb/thumb-2.jpg"
									><img src="img/thumb/thumb-2.jpg" alt=""
								/></a>
							</div>

							<div class="item">
								<a class="image-link" href="img/thumb/thumb-3.jpg"
									><img src="img/thumb/thumb-3.jpg" alt=""
								/></a>
							</div>
						</div>

						<!-- Indicators -->
						<ol class="carousel-indicators">
							<li
								data-target="#portfolio-item-slider"
								data-slide-to="0"
								class="active"
							></li>
							<li data-target="#portfolio-item-slider" data-slide-to="1"></li>
							<li data-target="#portfolio-item-slider" data-slide-to="2"></li>
						</ol>

						<!-- Controls -->
						<a
							class="left carousel-control"
							href="#portfolio-item-slider"
							data-slide="prev"
						>
							<span class="carousel-sign"
								><i class="fa fa-angle-left"></i
							></span>
						</a>
						<a
							class="right carousel-control"
							href="#portfolio-item-slider"
							data-slide="next"
						>
							<span class="carousel-sign"
								><i class="fa fa-angle-right"></i
							></span>
						</a>
					</div>
				</div>

				<div class="col-md-4 col-sm-12 col-xs-12">
					<h3 class="portfolio-item-title">Project Title</h3>

					<div class="portfolio-item-content">
						<p>
							Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
							eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
							enim ad minim veniam.
						</p>

						<p>
							Mus congue Nullam potenti nullam diam. Egestas vehicula. Enim. Dis
							ridiculus at quisque lobortis. Adipiscing habitant rutrum nostra
							tempor tellus tristique Viverra ullamcorper integer.
						</p>
					</div>

					<div class="row">
						<div class="col-md-12 col-sm-6">
							<ul class="list-unstyled portfolio-item-meta">
								<li class="item-meta time">Time: 21/01/2014 - 05/02/2014</li>
								<li class="item-meta category">Category: Web Design</li>
							</ul>
						</div>

						<div class="col-md-12 col-sm-6">
							<ul class="list-unstyled portfolio-item-meta">
								<li class="item-meta tech">
									Technology: HTML5, CSS3, PHP, MySQL
								</li>
								<li class="item-meta client">Client: Wrapbootstrap, Inc.</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
			<!-- .row -->
		</div>
		<!-- .container -->
	</section>
	<!-- Portfolio section end -->
</div>
<!-- Portfolio page end -->
