---
layout: base
title: Portfolio
permalink: /portfolio.html
---

<!-- Portfolio page -->
<div id="portfolio-page" class="page-wrap">
	<!-- Page header -->
	<header class="page-header">
		<div class="container">
			<h2>Portfolio</h2>

			<ol class="breadcrumb pull-right">
				<li><a href="#">Home</a></li>
				<li class="active">Portfolio</li>
			</ol>
		</div>
	</header>

	<!-- Portfolio section -->
	<section id="portfolio" class="section-wrap">
		<div class="container">
			<ul class="list-unstyled list-inline portfolio-control text-center">
				<li class="filter active" data-group="all">
					<a href="#" class="btn btn-sm btn-primary active"
						><i class="fa fa-th-large"></i>&nbsp;&nbsp;All</a
					>
				</li>
				<li class="filter" data-group="cat-1">
					<a href="#" class="btn btn-sm btn-primary">Cat 1</a>
				</li>
				<li class="filter" data-group="cat-2">
					<a href="#" class="btn btn-sm btn-primary">Cat 2</a>
				</li>
				<li class="filter" data-group="cat-3">
					<a href="#" class="btn btn-sm btn-primary">Cat-3</a>
				</li>
			</ul>

			<div class="col-md-12">
				<div class="row grid">
					<div
						class="col-md-4 col-sm-4 col-xs-12 portfolio-shuffle"
						data-groups='["all", "cat-1"]'
					>
						<a href="portfolio-single.html" class="portfolio-wrap">
							<img src="img/gallery/gal-img-1a.jpg" alt="" />
							<h3 class="portfolio-title">Portfolio Title</h3>
						</a>
					</div>

					<div
						class="col-md-4 col-sm-4 col-xs-12 portfolio-shuffle"
						data-groups='["all", "cat-2"]'
					>
						<a href="portfolio-single.html" class="portfolio-wrap">
							<img src="img/gallery/gal-img-2a.jpg" alt="" />
							<h3 class="portfolio-title">Portfolio Title</h3>
						</a>
					</div>

					<div
						class="col-md-4 col-sm-4 col-xs-12 portfolio-shuffle"
						data-groups='["all", "cat-3"]'
					>
						<a href="portfolio-single.html" class="portfolio-wrap">
							<img src="img/gallery/gal-img-3a.jpg" alt="" />
							<h3 class="portfolio-title">Portfolio Title</h3>
						</a>
					</div>

					<div
						class="col-md-4 col-sm-4 col-xs-12 portfolio-shuffle"
						data-groups='["all", "cat-3"]'
					>
						<a href="portfolio-single.html" class="portfolio-wrap">
							<img src="img/gallery/gal-img-4a.jpg" alt="" />
							<h3 class="portfolio-title">Portfolio Title</h3>
						</a>
					</div>

					<div
						class="col-md-4 col-sm-4 col-xs-12 portfolio-shuffle"
						data-groups='["all", "cat-2"]'
					>
						<a href="portfolio-single.html" class="portfolio-wrap">
							<img src="img/gallery/gal-img-5a.jpg" alt="" />
							<h3 class="portfolio-title">Portfolio Title</h3>
						</a>
					</div>

					<div
						class="col-md-4 col-sm-4 col-xs-12 portfolio-shuffle"
						data-groups='["all", "cat-1"]'
					>
						<a href="portfolio-single.html" class="portfolio-wrap">
							<img src="img/gallery/gal-img-6a.jpg" alt="" />
							<h3 class="portfolio-title">Portfolio Title</h3>
						</a>
					</div>

					<div
						class="col-md-4 col-sm-4 col-xs-12 portfolio-shuffle"
						data-groups='["all", "cat-1"]'
					>
						<a href="portfolio-single.html" class="portfolio-wrap">
							<img src="img/gallery/gal-img-7a.jpg" alt="" />
							<h3 class="portfolio-title">Portfolio Title</h3>
						</a>
					</div>

					<div
						class="col-md-4 col-sm-4 col-xs-12 portfolio-shuffle"
						data-groups='["all", "cat-2"]'
					>
						<a href="portfolio-single.html" class="portfolio-wrap">
							<img src="img/gallery/gal-img-8a.jpg" alt="" />
							<h3 class="portfolio-title">Portfolio Title</h3>
						</a>
					</div>

					<div
						class="col-md-4 col-sm-4 col-xs-12 portfolio-shuffle"
						data-groups='["all", "cat-2"]'
					>
						<a href="portfolio-single.html" class="portfolio-wrap">
							<img src="img/gallery/gal-img-9a.jpg" alt="" />
							<h3 class="portfolio-title">Portfolio Title</h3>
						</a>
					</div>
				</div>
				<!-- .row -->
			</div>
		</div>
		<!-- .container -->
	</section>
	<!-- Portfolio section end -->
</div>
<!-- Portfolio page end -->
