---
layout: base
title: Pricing
permalink: /pricing.html
---

<!-- Pricing page -->
<div id="pricing-page" class="page-wrap">
	<!-- Page header -->
	<header class="page-header">
		<div class="container">
			<h2>Pricing</h2>

			<ol class="breadcrumb pull-right">
				<li><a href="#">Home</a></li>
				<li class="active">Pricing</li>
			</ol>
		</div>
	</header>

	<!-- Pricing plan section -->
	<section id="pricing" class="section-wrap">
		<div class="container">
			<h2 class="heading">Pricing Plan</h2>

			<div class="row">
				<!-- Pricing plan block -->
				<div class="col-md-3 col-sm-6">
					<div class="price-wrap">
						<h3 class="price-plan">Basic</h3>

						<div class="price-value">10</div>

						<ul class="list-unstyled text-center price-feature">
							<li>Personal account</li>
							<li>Download resume</li>
							<li>File storage</li>
							<li>Video streaming</li>
							<li>No ads</li>
						</ul>

						<a class="btn btn-primary" href="#">Buy Now</a>
					</div>
				</div>
				<!-- Pricing plan block end -->

				<!-- Pricing plan block -->
				<div class="col-md-3 col-sm-6">
					<div class="price-wrap">
						<h3 class="price-plan">Standard</h3>

						<div class="price-value">20</div>

						<ul class="list-unstyled text-center price-feature">
							<li>Personal account</li>
							<li>Download resume</li>
							<li>File storage</li>
							<li>Video streaming</li>
							<li>No ads</li>
						</ul>

						<a class="btn btn-primary" href="#">Buy Now</a>
					</div>
				</div>
				<!-- Pricing plan block end -->

				<!-- Pricing plan block -->
				<div class="col-md-3 col-sm-6">
					<div class="price-wrap popular">
						<h3 class="price-plan">Professional</h3>

						<div class="price-value">30</div>

						<ul class="list-unstyled text-center price-feature">
							<li>Personal account</li>
							<li>Download resume</li>
							<li>File storage</li>
							<li>Video streaming</li>
							<li>No ads</li>
						</ul>

						<a class="btn btn-inverse" href="#">Buy Now</a>
					</div>
				</div>
				<!-- Pricing plan block end -->

				<!-- Pricing plan block -->
				<div class="col-md-3 col-sm-6">
					<div class="price-wrap">
						<h3 class="price-plan">Exclusive</h3>

						<div class="price-value">40</div>

						<ul class="list-unstyled text-center price-feature">
							<li>Personal account</li>
							<li>Download resume</li>
							<li>File storage</li>
							<li>Video streaming</li>
							<li>No ads</li>
						</ul>

						<a class="btn btn-primary" href="#">Buy Now</a>
					</div>
				</div>
				<!-- Pricing plan block end -->
			</div>
			<!-- .row -->
		</div>
		<!-- .container -->
	</section>
	<!-- Pricing plan section end -->

	<!-- Comparison table section -->
	<section id="comparison-table" class="section-wrap">
		<div class="container">
			<h2 class="heading">Comparison Table</h2>

			<div class="table-responsive">
				<table class="table table-hover">
					<thead>
						<tr>
							<th></th>
							<th class="text-center">Basic</th>
							<th class="text-center">Standard</th>
							<th class="text-center">Professional</th>
							<th class="text-center">Exclusive</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>Personal account</td>
							<td class="text-center text-primary">
								<i class="fa fa-check"></i>
							</td>
							<td class="text-center text-primary">
								<i class="fa fa-check"></i>
							</td>
							<td class="text-center text-primary">
								<i class="fa fa-check"></i>
							</td>
							<td class="text-center text-primary">
								<i class="fa fa-check"></i>
							</td>
						</tr>
						<tr>
							<td>Download resume</td>
							<td class="text-center text-primary">
								<i class="fa fa-check"></i>
							</td>
							<td class="text-center text-primary">
								<i class="fa fa-check"></i>
							</td>
							<td class="text-center text-primary">
								<i class="fa fa-check"></i>
							</td>
							<td class="text-center text-primary">
								<i class="fa fa-check"></i>
							</td>
						</tr>
						<tr>
							<td>File storage</td>
							<td class="text-center"><i class="fa fa-times"></i></td>
							<td class="text-center text-primary">
								<i class="fa fa-check"></i>
							</td>
							<td class="text-center text-primary">
								<i class="fa fa-check"></i>
							</td>
							<td class="text-center text-primary">
								<i class="fa fa-check"></i>
							</td>
						</tr>
						<tr>
							<td>Video streaming</td>
							<td class="text-center"><i class="fa fa-times"></i></td>
							<td class="text-center"><i class="fa fa-times"></i></td>
							<td class="text-center text-primary">
								<i class="fa fa-check"></i>
							</td>
							<td class="text-center text-primary">
								<i class="fa fa-check"></i>
							</td>
						</tr>
						<tr>
							<td>No ads</td>
							<td class="text-center"><i class="fa fa-times"></i></td>
							<td class="text-center"><i class="fa fa-times"></i></td>
							<td class="text-center"><i class="fa fa-times"></i></td>
							<td class="text-center text-primary">
								<i class="fa fa-check"></i>
							</td>
						</tr>
						<tr class="action-row">
							<td></td>
							<td class="text-center">
								<a class="btn btn-primary" href="#">$10&nbsp; Buy Now</a>
							</td>
							<td class="text-center">
								<a class="btn btn-primary" href="#">$20&nbsp; Buy Now</a>
							</td>
							<td class="text-center">
								<a class="btn btn-primary" href="#">$30&nbsp; Buy Now</a>
							</td>
							<td class="text-center">
								<a class="btn btn-primary" href="#">$40&nbsp; Buy Now</a>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
		<!-- .container -->
	</section>
	<!-- Comparison table section end -->
</div>
<!-- Pricing page end -->
