---
layout: base
title: Service
permalink: /service.html
---

<!-- Service page -->
<div id="service-page" class="page-wrap">
	<!-- Page header -->
	<header class="page-header">
		<div class="container">
			<h2>Service</h2>

			<ol class="breadcrumb pull-right">
				<li><a href="#">Home</a></li>
				<li class="active">Service</li>
			</ol>
		</div>
	</header>

	<!-- Service section -->
	<section id="service" class="section-wrap">
		<div class="container">
			<h2 class="heading">Service</h2>

			<div class="row">
				<!-- Service block -->
				<div class="col-md-4 col-sm-4">
					<div class="service-wrap">
						<span class="service-icon"><i class="fa fa-gears"></i></span>

						<h3 class="service-heading">UI Design</h3>

						<p>
							Neque nisi tincidunt. Sollicitudin suscipit cubilia lorem vel eu
							est molestie fames hymenaeos eu penatibus.
						</p>
					</div>
				</div>
				<!-- Service block end -->

				<!-- Service block -->
				<div class="col-md-4 col-sm-4">
					<div class="service-wrap">
						<span class="service-icon"><i class="fa fa-html5"></i></span>

						<h3 class="service-heading">Web Development</h3>

						<p>
							Neque nisi tincidunt. Sollicitudin suscipit cubilia lorem vel eu
							est molestie fames hymenaeos eu penatibus.
						</p>
					</div>
				</div>
				<!-- Service block end -->

				<!-- Service block -->
				<div class="col-md-4 col-sm-4">
					<div class="service-wrap">
						<span class="service-icon"><i class="fa fa-laptop"></i></span>

						<h3 class="service-heading">Responsive Design</h3>

						<p>
							Neque nisi tincidunt. Sollicitudin suscipit cubilia lorem vel eu
							est molestie fames hymenaeos eu penatibus.
						</p>
					</div>
				</div>
				<!-- Service block end -->
			</div>
			<!-- .row -->

			<div class="row">
				<!-- Service block -->
				<div class="col-md-4 col-sm-4">
					<div class="service-wrap">
						<span class="service-icon"><i class="fa fa-android"></i></span>

						<h3 class="service-heading">Apps Development</h3>

						<p>
							Neque nisi tincidunt. Sollicitudin suscipit cubilia lorem vel eu
							est molestie fames hymenaeos eu penatibus.
						</p>
					</div>
				</div>
				<!-- Service block end -->

				<!-- Service block -->
				<div class="col-md-4 col-sm-4">
					<div class="service-wrap">
						<span class="service-icon"><i class="fa fa-rocket"></i></span>

						<h3 class="service-heading">SEO</h3>

						<p>
							Neque nisi tincidunt. Sollicitudin suscipit cubilia lorem vel eu
							est molestie fames hymenaeos eu penatibus.
						</p>
					</div>
				</div>
				<!-- Service block end -->

				<!-- Service block -->
				<div class="col-md-4 col-sm-4">
					<div class="service-wrap">
						<span class="service-icon"><i class="fa fa-globe"></i></span>

						<h3 class="service-heading">Online Marketing</h3>

						<p>
							Neque nisi tincidunt. Sollicitudin suscipit cubilia lorem vel eu
							est molestie fames hymenaeos eu penatibus.
						</p>
					</div>
				</div>
				<!-- Service block end -->
			</div>
			<!-- .row -->
		</div>
		<!-- .container -->
	</section>
	<!-- Service section end -->

	<!-- Testimonial section -->
	<section id="testimonial" class="section-wrap">
		<div class="container">
			<h2 class="heading">Testimonial</h2>

			<div class="row">
				<!-- Testimonial block -->
				<div class="col-md-4 col-sm-4">
					<div class="testimonial-wrap">
						<p class="testimonial-content">
							Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
							eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
							enim ad minim veniam, quis nostrud exercitation ullamco laboris
							nisi ut aliquip ex ea commodo consequat.
						</p>

						<div class="testimonial-author">
							<img src="img/figure/figure-1.jpg" alt="" />

							<p><b>John Doe</b><br />Rocket Store</p>
						</div>
					</div>
				</div>
				<!-- Testimonial block end -->

				<!-- Testimonial block -->
				<div class="col-md-4 col-sm-4">
					<div class="testimonial-wrap">
						<p class="testimonial-content">
							Sagittis cursus lorem ligula consequat inceptos Et, scelerisque
							nostra semper. Porta varius dictum convallis, placerat. Interdum
							justo at. Eros senectus penatibus Est a auctor libero odio. Sapien
							nibh ut netus posuere donec elit iaculis.
						</p>

						<div class="testimonial-author">
							<img src="img/figure/figure-2.jpg" alt="" />

							<p><b>Anita Doe</b><br />Femme Magz</p>
						</div>
					</div>
				</div>
				<!-- Testimonial block end -->

				<!-- Testimonial block -->
				<div class="col-md-4 col-sm-4">
					<div class="testimonial-wrap">
						<p class="testimonial-content">
							Mus accumsan blandit penatibus gravida porttitor faucibus litora
							duis mollis platea pretium velit ac quis cum et, turpis cum.
							Commodo primis porta class tempor nisl erat. Eget malesuada ante.
							Etiam sociis iaculis luctus neque.
						</p>

						<div class="testimonial-author">
							<img src="img/figure/figure-3.jpg" alt="" />

							<p><b>Erick Doe</b><br />Sushi Resto</p>
						</div>
					</div>
				</div>
				<!-- Testimonial block end -->
			</div>
			<!-- .row -->
		</div>
		<!-- .container -->
	</section>
	<!-- Testimonial section end -->
</div>
<!-- Service page end -->
