---
layout: base
title: Support
permalink: /support.html
---

<!-- Support page -->
<div id="support-page" class="page-wrap">
	<!-- Page header -->
	<header class="page-header">
		<div class="container">
			<h2>Support</h2>

			<ol class="breadcrumb pull-right">
				<li><a href="#">Home</a></li>
				<li class="active">Support</li>
			</ol>
		</div>
	</header>

	<!-- FAQ section -->
	<section id="faq" class="section-wrap">
		<div class="container">
			<h3 class="heading">Frequently Asked Question</h3>

			<div class="row">
				<!-- Faq block -->
				<div class="col-md-6">
					<div class="faq-wrap">
						<span class="faq-icon"><i class="fa fa-gear"></i></span>

						<h4 class="faq-category">General Questions</h4>

						<ol class="list-unstyled faq-list">
							<li>
								<span class="faq-question"
									>Inceptos convallis primis scelerisque etiam, quis id ut in
									curae?</span
								>
								<span class="faq-answer"
									>Tristique hymenaeos lacus senectus consectetuer dapibus ac
									enim neque id, dolor torquent adipiscing class eget aptent
									class</span
								>
							</li>
							<li>
								<span class="faq-question"
									>Inceptos convallis primis scelerisque etiam, quis id ut in
									curae?</span
								>
								<span class="faq-answer"
									>Tristique hymenaeos lacus senectus consectetuer dapibus ac
									enim neque id, dolor torquent adipiscing class eget aptent
									class</span
								>
							</li>
							<li>
								<span class="faq-question"
									>Inceptos convallis primis scelerisque etiam, quis id ut in
									curae?</span
								>
								<span class="faq-answer"
									>Tristique hymenaeos lacus senectus consectetuer dapibus ac
									enim neque id, dolor torquent adipiscing class eget aptent
									class</span
								>
							</li>
						</ol>
					</div>
				</div>
				<!-- Faq block end -->

				<!-- Faq block -->
				<div class="col-md-6">
					<div class="faq-wrap">
						<span class="faq-icon"><i class="fa fa-pencil"></i></span>

						<h4 class="faq-category">Specific Questions</h4>

						<ol class="list-unstyled faq-list">
							<li>
								<span class="faq-question"
									>Inceptos convallis primis scelerisque etiam, quis id ut in
									curae?</span
								>
								<span class="faq-answer"
									>Tristique hymenaeos lacus senectus consectetuer dapibus ac
									enim neque id, dolor torquent adipiscing class eget aptent
									class</span
								>
							</li>
							<li>
								<span class="faq-question"
									>Inceptos convallis primis scelerisque etiam, quis id ut in
									curae?</span
								>
								<span class="faq-answer"
									>Tristique hymenaeos lacus senectus consectetuer dapibus ac
									enim neque id, dolor torquent adipiscing class eget aptent
									class</span
								>
							</li>
							<li>
								<span class="faq-question"
									>Inceptos convallis primis scelerisque etiam, quis id ut in
									curae?</span
								>
								<span class="faq-answer"
									>Tristique hymenaeos lacus senectus consectetuer dapibus ac
									enim neque id, dolor torquent adipiscing class eget aptent
									class</span
								>
							</li>
						</ol>
					</div>
				</div>
				<!-- Faq block end -->
			</div>

			<div class="row">
				<!-- Faq block -->
				<div class="col-md-6">
					<div class="faq-wrap">
						<span class="faq-icon"><i class="fa fa-tablet"></i></span>

						<h4 class="faq-category">Not So Specific Questions</h4>

						<ol class="list-unstyled faq-list">
							<li>
								<span class="faq-question"
									>Inceptos convallis primis scelerisque etiam, quis id ut in
									curae?</span
								>
								<span class="faq-answer"
									>Tristique hymenaeos lacus senectus consectetuer dapibus ac
									enim neque id, dolor torquent adipiscing class eget aptent
									class</span
								>
							</li>
							<li>
								<span class="faq-question"
									>Inceptos convallis primis scelerisque etiam, quis id ut in
									curae?</span
								>
								<span class="faq-answer"
									>Tristique hymenaeos lacus senectus consectetuer dapibus ac
									enim neque id, dolor torquent adipiscing class eget aptent
									class</span
								>
							</li>
							<li>
								<span class="faq-question"
									>Inceptos convallis primis scelerisque etiam, quis id ut in
									curae?</span
								>
								<span class="faq-answer"
									>Tristique hymenaeos lacus senectus consectetuer dapibus ac
									enim neque id, dolor torquent adipiscing class eget aptent
									class</span
								>
							</li>
						</ol>
					</div>
				</div>
				<!-- Faq block end -->

				<!-- Faq block -->
				<div class="col-md-6">
					<div class="faq-wrap">
						<span class="faq-icon"><i class="fa fa-rocket"></i></span>

						<h4 class="faq-category">Whatever Questions</h4>

						<ol class="list-unstyled faq-list">
							<li>
								<span class="faq-question"
									>Inceptos convallis primis scelerisque etiam, quis id ut in
									curae?</span
								>
								<span class="faq-answer"
									>Tristique hymenaeos lacus senectus consectetuer dapibus ac
									enim neque id, dolor torquent adipiscing class eget aptent
									class</span
								>
							</li>
							<li>
								<span class="faq-question"
									>Inceptos convallis primis scelerisque etiam, quis id ut in
									curae?</span
								>
								<span class="faq-answer"
									>Tristique hymenaeos lacus senectus consectetuer dapibus ac
									enim neque id, dolor torquent adipiscing class eget aptent
									class</span
								>
							</li>
							<li>
								<span class="faq-question"
									>Inceptos convallis primis scelerisque etiam, quis id ut in
									curae?</span
								>
								<span class="faq-answer"
									>Tristique hymenaeos lacus senectus consectetuer dapibus ac
									enim neque id, dolor torquent adipiscing class eget aptent
									class</span
								>
							</li>
						</ol>
					</div>
				</div>
				<!-- Faq block end -->
			</div>
			<!-- .row -->
		</div>
		<!-- .container -->
	</section>
	<!-- FAQ section end -->

	<!-- FAQ collapse section -->
	<section id="faq-collapse" class="section-wrap">
		<div class="container">
			<h3 class="heading">Frequently Asked Question Collapse</h3>

			<div id="faq-accordion" class="panel-group custom-collapse faq-collapse">
				<!-- Faq block -->
				<div class="panel panel-primary">
					<div class="panel-heading">
						<h4 class="panel-title">
							<a
								data-toggle="collapse"
								data-parent="#faq-accordion"
								href="#faq-accord-1"
							>
								<span class="faq-icon text-white"
									><i class="fa fa-gear"></i
								></span>

								<span class="faq-category text-white">General Questions</span>
							</a>
						</h4>
					</div>

					<div id="faq-accord-1" class="panel-collapse collapse in">
						<div class="panel-body">
							<ol class="list-unstyled faq-list">
								<li>
									<span class="faq-question"
										>Inceptos convallis primis scelerisque etiam, quis id ut in
										curae?</span
									>
									<span class="faq-answer"
										>Tristique hymenaeos lacus senectus consectetuer dapibus ac
										enim neque id, dolor torquent adipiscing class eget aptent
										class</span
									>
								</li>
								<li>
									<span class="faq-question"
										>Inceptos convallis primis scelerisque etiam, quis id ut in
										curae?</span
									>
									<span class="faq-answer"
										>Tristique hymenaeos lacus senectus consectetuer dapibus ac
										enim neque id, dolor torquent adipiscing class eget aptent
										class</span
									>
								</li>
								<li>
									<span class="faq-question"
										>Inceptos convallis primis scelerisque etiam, quis id ut in
										curae?</span
									>
									<span class="faq-answer"
										>Tristique hymenaeos lacus senectus consectetuer dapibus ac
										enim neque id, dolor torquent adipiscing class eget aptent
										class</span
									>
								</li>
							</ol>
						</div>
					</div>
				</div>
				<!-- Faq block end -->

				<!-- Faq block -->
				<div class="panel panel-primary">
					<div class="panel-heading">
						<h4 class="panel-title">
							<a
								data-toggle="collapse"
								data-parent="#faq-accordion"
								href="#faq-accord-2"
							>
								<span class="faq-icon text-white"
									><i class="fa fa-pencil"></i
								></span>

								<span class="faq-category text-white">Specific Questions</span>
							</a>
						</h4>
					</div>

					<div id="faq-accord-2" class="panel-collapse collapse">
						<div class="panel-body">
							<ol class="list-unstyled faq-list">
								<li>
									<span class="faq-question"
										>Inceptos convallis primis scelerisque etiam, quis id ut in
										curae?</span
									>
									<span class="faq-answer"
										>Tristique hymenaeos lacus senectus consectetuer dapibus ac
										enim neque id, dolor torquent adipiscing class eget aptent
										class</span
									>
								</li>
								<li>
									<span class="faq-question"
										>Inceptos convallis primis scelerisque etiam, quis id ut in
										curae?</span
									>
									<span class="faq-answer"
										>Tristique hymenaeos lacus senectus consectetuer dapibus ac
										enim neque id, dolor torquent adipiscing class eget aptent
										class</span
									>
								</li>
								<li>
									<span class="faq-question"
										>Inceptos convallis primis scelerisque etiam, quis id ut in
										curae?</span
									>
									<span class="faq-answer"
										>Tristique hymenaeos lacus senectus consectetuer dapibus ac
										enim neque id, dolor torquent adipiscing class eget aptent
										class</span
									>
								</li>
							</ol>
						</div>
					</div>
				</div>
				<!-- Faq block end -->

				<!-- Faq block -->
				<div class="panel panel-primary">
					<div class="panel-heading">
						<h4 class="panel-title">
							<a
								data-toggle="collapse"
								data-parent="#faq-accordion"
								href="#faq-accord-3"
							>
								<span class="faq-icon text-white"
									><i class="fa fa-tablet"></i
								></span>

								<span class="faq-category text-white"
									>Not So Specific Questions</span
								>
							</a>
						</h4>
					</div>

					<div id="faq-accord-3" class="panel-collapse collapse">
						<div class="panel-body">
							<ol class="list-unstyled faq-list">
								<li>
									<span class="faq-question"
										>Inceptos convallis primis scelerisque etiam, quis id ut in
										curae?</span
									>
									<span class="faq-answer"
										>Tristique hymenaeos lacus senectus consectetuer dapibus ac
										enim neque id, dolor torquent adipiscing class eget aptent
										class</span
									>
								</li>
								<li>
									<span class="faq-question"
										>Inceptos convallis primis scelerisque etiam, quis id ut in
										curae?</span
									>
									<span class="faq-answer"
										>Tristique hymenaeos lacus senectus consectetuer dapibus ac
										enim neque id, dolor torquent adipiscing class eget aptent
										class</span
									>
								</li>
								<li>
									<span class="faq-question"
										>Inceptos convallis primis scelerisque etiam, quis id ut in
										curae?</span
									>
									<span class="faq-answer"
										>Tristique hymenaeos lacus senectus consectetuer dapibus ac
										enim neque id, dolor torquent adipiscing class eget aptent
										class</span
									>
								</li>
							</ol>
						</div>
					</div>
				</div>
				<!-- Faq block end -->

				<!-- Faq block -->
				<div class="panel panel-primary">
					<div class="panel-heading">
						<h4 class="panel-title">
							<a
								data-toggle="collapse"
								data-parent="#faq-accordion"
								href="#faq-accord-4"
							>
								<span class="faq-icon text-white"
									><i class="fa fa-rocket"></i
								></span>

								<span class="faq-category text-white">Whatever Questions</span>
							</a>
						</h4>
					</div>

					<div id="faq-accord-4" class="panel-collapse collapse">
						<div class="panel-body">
							<ol class="list-unstyled faq-list">
								<li>
									<span class="faq-question"
										>Inceptos convallis primis scelerisque etiam, quis id ut in
										curae?</span
									>
									<span class="faq-answer"
										>Tristique hymenaeos lacus senectus consectetuer dapibus ac
										enim neque id, dolor torquent adipiscing class eget aptent
										class</span
									>
								</li>
								<li>
									<span class="faq-question"
										>Inceptos convallis primis scelerisque etiam, quis id ut in
										curae?</span
									>
									<span class="faq-answer"
										>Tristique hymenaeos lacus senectus consectetuer dapibus ac
										enim neque id, dolor torquent adipiscing class eget aptent
										class</span
									>
								</li>
								<li>
									<span class="faq-question"
										>Inceptos convallis primis scelerisque etiam, quis id ut in
										curae?</span
									>
									<span class="faq-answer"
										>Tristique hymenaeos lacus senectus consectetuer dapibus ac
										enim neque id, dolor torquent adipiscing class eget aptent
										class</span
									>
								</li>
							</ol>
						</div>
					</div>
				</div>
				<!-- Faq block -end -->
			</div>
		</div>
		<!-- .container -->
	</section>
	<!-- FAQ collapse section end -->

	<!-- Ordered list section -->
	<section id="ordered-list" class="section-wrap">
		<div class="container">
			<h3 class="heading">Ordered List</h3>

			<ol class="ol-style">
				<li class="h4">
					Main Heading<br /><br />
					<ol class="inherit-body">
						<li>
							Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
							eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
							enim ad minim veniam, quis nostrud exercitation ullamco laboris
							nisi ut aliquip ex ea commodo consequat.
						</li>
						<li>
							Tristique hymenaeos lacus senectus consectetuer dapibus ac enim
							neque id, dolor torquent adipiscing class eget aptent class.
						</li>
						<li>
							Inceptos convallis primis scelerisque etiam, quis id ut in curae?
						</li>
					</ol>
				</li>
				<li class="h4">
					Second Heading<br /><br />
					<ol class="inherit-body">
						<li>
							Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
							eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
							enim ad minim veniam, quis nostrud exercitation ullamco laboris
							nisi ut aliquip ex ea commodo consequat.
						</li>
						<li>
							Inceptos convallis primis scelerisque etiam, quis id ut in curae?
						</li>
					</ol>
				</li>
				<li class="h4">
					Third Heading<br /><br />
					<ol class="inherit-body single-list">
						<li>
							Tristique hymenaeos lacus senectus consectetuer dapibus ac enim
							neque id, dolor torquent adipiscing class eget aptent class.
						</li>
					</ol>
				</li>
			</ol>
		</div>
	</section>
	<!-- Ordered list section end -->
</div>
<!-- Support page end -->
